{% extends "::new-design/public.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Beneficios</h1>
			</div>
			<div class="col-xs-12">
				Conozca las razones por las cuales nuestra herramienta es la mejor forma de evitar riesgos al momento de contratar empleados.
			</div>
			<div class="col-xs-12 text-center">
				Tenga presente que el proceso a seguir cuando contrata un empleado:
			</div>
		</div>
	</div>
	<div class="row-fluid entradilla">
		<div class="container">
			<div class="col-md-7">
				<div class="row">
					<div class="col-xs-3">
					</div>
					<div class="col-xs-9">
						<h2>Somos la herramienta que usted estaba buscando</h2>
						Disminuya los riesgos y haga una gestión de sus empleados de forma eficiente y fácil
					</div>
				</div>
			</div>
			<div class="col-md-5 boton">
				<a class="btn btn-symplifica" href="">Regísrese ya y obtenga 1 mes gratis</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				Estos son otras razones para escoger a <span class="marca">Symplifica</span> como su herramienta de gestión de empleados
			</div>
		</div>
		<div class="row clearfix" id="beneficios">
			<div class="col-md-6">
				<div class="row titulo">
					<div class="col-xs-12">
						<div class="imagen" style="background-image: url(/img/empleador.jpg);"></div>
						<div class="tipo">Empleadores</div>
					</div>
				</div>
				<div class="row contenido">
					<div class="col-xs-12">
						<ul>
							<li>Prueba</li>
							<li>Prueba 2</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. libero in ullamcorperVestibulum eget eros tristique, dictum velit luctus, accumsan dolor.</p> 
								<p>Proin gravida lacus mi, ac imperdiet mauris pulvinar sit amet.</p>
							</li>
							<li>Prueba 2</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. libero in ullamcorperVestibulum eget eros tristique, dictum velit luctus, accumsan dolor.</p> 
								<p>Proin gravida lacus mi, ac imperdiet mauris pulvinar sit amet.</p>
							</li>
							<li>Prueba 2</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row titulo">
					<div class="col-xs-12">
						<div class="imagen" style="background-image: url(/img/empleador.jpg);"></div>
						<div class="tipo">Empleados</div>
					</div>
				</div>
				<div class="row contenido">
					<div class="col-xs-12">
						<ul>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. libero in ullamcorperVestibulum eget eros tristique, dictum velit luctus, accumsan dolor.</p> 
								<p>Proin gravida lacus mi, ac imperdiet mauris pulvinar sit amet.</p>
							</li>
							<li>Prueba 2</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. libero in ullamcorperVestibulum eget eros tristique, dictum velit luctus, accumsan dolor.</p> 
								<p>Proin gravida lacus mi, ac imperdiet mauris pulvinar sit amet.</p>
							</li>
							<li>Prueba 2</li>
							<li>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. libero in ullamcorperVestibulum eget eros tristique, dictum velit luctus, accumsan dolor.</p> 
								<p>Proin gravida lacus mi, ac imperdiet mauris pulvinar sit amet.</p>
							</li>
							<li>Prueba 2</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}