{% extends "::new-design/public.html.twig" %}

{% block body %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calculadora</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/precio.css') }}"/>
<link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>

	<main>
    	<header>
        	<div id="banner-beneficios">
            	<div id="banner-beneficios-cont">
                  <h1 class="bold azuloscurofont">La tranquilidad de</h1>
                  <h1 class="light azulmediofont">hacer las cosas bien</h1>
                </div>
            </div>
        </header>
        <section class="fondo-calculadora">
        	<div id="calculadora">
            	HOLA SOY LA CALCULADORA
             </div>

           </div>
        </section>
    </main>
<script type="text/javascript">

</script>
</body>
</html>

{% endblock %}
