{% extends "::new-design/public.html.twig" %}
{% block body %}
		<section id="middleBannerAbout" class="txtC">
            <div class="blockTem">
                <h3>Contactanos</h3>
                <span>Symplifica te ayuda</span>
                <a href="#" class="btn btn-registro"><em><strong>Prueba 1 mes gratis</strong></em></a>
            </div>
        </section>
        <section id="infoContact" class="txtC">
            <div class="container">
                <h2>Nos importan tus inquietudes</h2>
                <div class="colInfo col-md-8 col-md-offset-2 txtL col-xs-12">
                    <div class="col-md-6 col-xs-12">
                        <span class="icon-t1"></span>
                        <span>Llamanos </br><p><strong>350 856 7864</strong></p></span>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <span class="icon-t2"></span>
                        <span>Escribenos </br><p><strong><a href="mailto:contacto@symplifica.com">contacto@symplifica.com</a></strong></p></span>
                    </div>
                </div>
            </div>
        </section>
        <section id="formContact" class="txtL">
            <div class="container">
                <div class="col-md-6 col-md-offset-3 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="input_name">Nombre</label>
                            <input type="text" class="form-control" id="input_name"/>
                        </div>
                        <div class="form-group">
                            <label for="input_email">Email</label>
                            <input type="email" class="form-control" id="input_email"/>
                        </div>
                        <div class="form-group">
                            <label for="input_message">Mensaje</label>
                            <textarea type="text" class="form-control" id="input_message" rows="8"></textarea>
                        </div>
                        <div class="txtC">
                            <button type="submit" class="btn btn-default send">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
{% endblock %}