{% extends "::new-design/public.html.twig" %}
{% block body %}
		<section id="middleBannerAbout" class="txtC">
            <div class="blockTem">
                <h3>多Tienes preguntas?</h3>
                <span>Symplifica te ayuda</span>
                <a href="#" class="btn btn-registro"><em><strong>Prueba 1 mes gratis</strong></em></a>
            </div>
        </section>
        <section id="questionBlock" class="txtC">
            <div class="container">
                <h2>Preguntas frecuentes</h2>
                <h3>Si tienes dudas con respecto a nuestra herramienta, </br>aca te podemos ayudar</h3>
                <div class="itemquestion col-md-8 col-md-offset-2 col-xs-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading txtL" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <i class="fa fa-chevron-right hidden-xs "></i>
                                <i class="fa fa-chevron-down visible-xs"></i>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  多Less is a CSS pre-processor, meaning that it extends?
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body txtL">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci dolor. Sed in eros euismod, dapibus mauris nec, ullamcorper risus. Aliquam iaculis ullamcorper consequat. Vestibulum ut dictum est, nec pellentesque augue. In feugiat pellentesque erat. Nulla mi massa, tempus nec elementum ut, bibendum pharetra magna. Cras a dictum lacus. Nulla odio libero, laoreet ac lacus at, faucibus sagittis ipsum. Nulla eget aliquam tortor. In laoreet pretium neque. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading txtL" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <i class="fa fa-chevron-right hidden-xs "></i>
                                <i class="fa fa-chevron-down visible-xs"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  多Less is a CSS pre-processor, meaning that it extends?
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body txtL">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci dolor. Sed in eros euismod, dapibus mauris nec, ullamcorper risus. Aliquam iaculis ullamcorper consequat. Vestibulum ut dictum est, nec pellentesque augue. In feugiat pellentesque erat. Nulla mi massa, tempus nec elementum ut, bibendum pharetra magna. Cras a dictum lacus. Nulla odio libero, laoreet ac lacus at, faucibus sagittis ipsum. Nulla eget aliquam tortor. In laoreet pretium neque. 
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading txtL" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <i class="fa fa-chevron-right hidden-xs "></i>
                                <i class="fa fa-chevron-down visible-xs"></i>
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  多Less is a CSS pre-processor, meaning that it extends?
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body txtL">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci dolor. Sed in eros euismod, dapibus mauris nec, ullamcorper risus. Aliquam iaculis ullamcorper consequat. Vestibulum ut dictum est, nec pellentesque augue. In feugiat pellentesque erat. Nulla mi massa, tempus nec elementum ut, bibendum pharetra magna. Cras a dictum lacus. Nulla odio libero, laoreet ac lacus at, faucibus sagittis ipsum. Nulla eget aliquam tortor. In laoreet pretium neque. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}