{% extends "::new-design/public.html.twig" %}
{% block body %}
<section id="bannerPpal">
             <img src="img/home/bannerPpal.png" class="img-responsive" alt="Symplifica" />
             <div class="boxBanner col-md-5 col-xs-12 txtL">La herramienta <strong>más sencilla</strong> para administrar empleados <strong>domésticos y de pequeñas empresas</strong></br><em>Nada como la tranquilidad de saber que estás haciendo las cosas bien</em></div>
             <div class="buttonBanner col-md-3 col-xs-12">
                 <a href="{{ path('fos_user_registration_register') }}" class="btn btn-registro an1"><em>Prueba 1 mes gratis</em></a>
                 <a href="#" class="btn btn-registro an2"><i class="fa fa-play-circle-o"></i> <em>Ver video</em></a>
             </div>
        </section>
        <section id="iconsHead" class="txtC">
            <div class="container">
                <h2>Soluciona mes a mes todo en un sólo lugar</h2>
                <div class="iconsB col-md-12 col-xs-12">
                    <ul>
                        <li>
                            <span class="icon-h1"></span>
                            <span>Te guiamos en la correcta contratación del empleado </span>
                            <a href="#" class="btn btn-more-min">Leer más</a>
                        </li>
                        <li>
                            <span class="icon-h2"></span>
                            <span>Generamos un contrato laboral acorde a tus necesidades </span>
                            <a href="#" class="btn btn-more-min">Leer más</a>
                        </li>
                        <li>
                            <span class="icon-h3"></span>
                            <span>Aﬁliamos tus empleados y a ti a las administradoras de seguridad social  </span>
                            <a href="#" class="btn btn-more-min">Leer más</a>
                        </li>
                        <li>
                            <span class="icon-h4"></span>
                            <span>Te damos la opción de pagar sueldo y planilla de aportes con un solo click  </span>
                            <a href="#" class="btn btn-more-min">Leer más</a>
                        </li>
                        <li>
                            <span class="icon-h5"></span>
                            <span>Guardamos todos los documentos digitales de la relacion laboral  </span>
                            <a href="#" class="btn btn-more-min">Leer más</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="middleBanner" class="txtC">
            <div class="blockTem">
                <i class="fa fa-play-circle-o"></i>
                <h3>Explora nuestro producto en 1 minuto</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-registro an3"><em><strong>Prueba 1 mes gratis</strong></em></a>
            </div>
        </section>
        <section id="destaquedMsg" class="txtC">
            <div class="container">
                <span>La tranquilidad de hacer</span>
                <span><strong>las cosas bien por muy poco</strong></span>
            </div>
        </section>
        <section id="calculateBlock" class="txtC">
            <div class="container">
                <h2>Calcula el valor mensual del servicio de acuerdo al número y tipo de </br>empleados que quieras administrar</h2>
                <div class="iconsC col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                    <div class="col-md-3 col-xs-8">
                        <span>Tiempo parcial</br><em>1 - 2 días/semana</em></span>
                        <div class="lineDown"><p></p></div>
                    </div>
                    <div class="col-md-3 col-xs-8">
                        <span>Tiempo parcial</br><em>3 - 4 días/semana</em></span>
                        <div class="lineDown"><p></p></div>
                    </div>
                    <div class="col-md-3 col-xs-8">
                        <span>Tiempo completo</br><em>tiempo completo</em></span>
                        <div class="lineDown"><p></p></div>
                    </div>
                </div>
                <div class="infoResult col-md-8 col-md-offset-2 col-xs-12">
                    <span class="R1">El valor mensual del servicio</span>
                    <span class="R2"><em>para tu caso es:</em></span>
                    <span class="R3"><strong>3</strong> <em>empleados</em> <strong>= $25.000</strong></span>
                    <p><em>Después del tercer empleado obtén el 10% de descuento.</em></p>
                </div>
            </div>
        </section>
        <section id="opinionBlock" class="txtC">
            <div class="container">
                <h2>Lo que nuestros usuarios opinan</h2>
                <div class="iconsB col-md-12 col-xs-12">
                    <div class="col-md-4 col-xs-12">
                        <img src="img/home/people.png" class="img-responsive" alt="Symplifica"/>
                        <p><strong>Martha Liliana</strong></br>Madre y esposa</p>
                        <span>" Ahora no tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, Symplifica me avisa con días de antelación "</span>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="img/home/people.png" class="img-responsive" alt="Symplifica"/>
                        <p><strong>Martha Liliana</strong></br>Madre y esposa</p>
                        <span>" Ahora no tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, Symplifica me avisa con días de antelación "</span>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <img src="img/home/people.png" class="img-responsive" alt="Symplifica"/>
                        <p><strong>Martha Liliana</strong></br>Madre y esposa</p>
                        <span>" Ahora no tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, Symplifica me avisa con días de antelación "</span>
                    </div>
                </div>
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-registro"><em><strong>Prueba 1 mes gratis</strong></em></a>
            </div>    
        </section>
        <section id="destaquedMsg" class="txtC">
            <div class="container">
                <span>Despreocúpate de gestionar a tus empleados</span>
                <span><strong>Nosotros nos hacemos cargo del trabajo pesado</strong></span>
            </div>
        </section>
        <section id="bannerDown" class="txtC">
            <div class="container">
                <div class="blockItem col-md-12 col-xs-12">
                    <div class="col-md-4 col-xs-12">
                        <div class="boxInfo">
                            <h4>NOTIFICACIONES A TU CELULAR</h4>
                            <span>Nunca más se te va a olvidar pagar a tu empleado a tiempo, nosotros te recordamos</span>
                        </div>
                        <div class="boxInfo">
                            <h4>REGIDO POR LA LEY</h4>
                            <span>Desde que te montas en Sympliﬁca vive con la tranquilidad de que estas haciendo todo de acuerdo a la ley</span>
                        </div>
                        <div class="boxInfo">
                            <h4>PAGO DE PLANILLA</h4>
                            <span>No tienes que recordar la clave de la planilla ni cuándo pagarla, págala en un click con Sympliﬁca</span>
                        </div>
                    </div>
                    <div class="col-md-4 hidden-xs"></div>
                    <div class="col-md-4 col-xs-12">
                        <div class="boxInfo">
                            <h4>FÁCIL AFILIACIÓN</h4>
                            <span>Disfruta de tu tiempo mientras nosotros nos hacemos cargo de los complicados trámites a la aﬁliación</span>
                        </div>
                        <div class="boxInfo">
                            <h4>PAGO ELECTRÓNICO</h4>
                            <span>Olvídate de estar sacando dinero cada vez que tienes que pagar a tus empleados, pága desde tu celular</span>
                        </div>
                        <div class="boxInfo">
                            <h4>LIQUIDACIÓN DE NÓMINA</h4>
                            <span>Despreocúpate por saber si estas liquidando bien a tu empleado Sympliﬁca lo hace por tí</span>
                        </div>
                    </div>
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-registro big"><em><strong>Prueba 1 mes gratis</strong></em></a>
                </div>
            </div>
        </section>
        <section id="destaquedMsg" class="txtC">
            <div class="container">
                <span>Hacemos tu vida más sencilla en muy pocos pasos</span>
                <span><strong>Inscríbete y disfruta de la tranquilidad</strong></span>
            </div>
        </section>
        <section id="boxFeatures">
            <div class="container">
                <div class="blockItem col-md-12 col-xs-12">
                    <div class="col-md-6 col-xs-12 txtR">
                        <img src="img/home/img-pc-background.png" class="img-responsive" alt="Symplifica"/>
                    </div>
                    <div class="col-md-6 col-xs-12 txtL">
                        <h3>¡Así de fácil!</h3>
                        <ul>
                            <li><span>1</span><p>Completa unas preguntas</br><strong>fáciles de responder</strong></p></li>
                            <li><span>2</span><p>Carga unos pocos documentos</br><strong>fáciles  de conseguir </strong></p></li>
                            <li><span>3</span><p>Autorízanos a <strong>realizar por tí</strong></br>los procesos que ocupan tu</br>tiempo</p></li>
                            <li><span>4</span><p>Y  despreocúpate...</br><strong>de acá en adelante te </br>llevamos de la mano</strong></p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}