{% extends "::new-design/public.html.twig" %}
{% block body %}
	<div class="container">
		<div class="row">
			<!-- Banner block for main video -->
			<div class="col-md-12 internal-block-banner">
				<div class="row">
					<div class="col-md-6 internal-block-box">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<h3 class="internal-block-comment text-left internal-block-width">
										<span class="ico-colon-left"></span>
										<span>
											Con 
											<span class="text-lightBlue">Symplifica</span>
											gestiono el servicio de mis empleados domésticos de una forma sencilla y rapido
											<br/>
											<strong>SIN PREOCUPARME POR NADA</strong>
										</span>
										<span class="ico-colon-right"></span>
									</h3>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<p class="internal-block-name internal-block-width">
										<strong>ANDRÉS CÁRDENAS</strong>
										<br/>
										Arquitecto
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="internal-block-width internal-block-btn">
										<a class="btn btn-symplifica" href="/register">
											Resgístrese ya y obtenga 1 mes gratís >
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="ico-btn-play internal-block-play-btn"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tour block -->
	<div class="bg-darkBlue">
		<div class="container">
			<div class="row">
				<div class="col-md-12 tour-block">
					<div class="row">
						<div class="col-md-1 tour-block-icon">
							<div class="row">
								<span class="ico-thumb-up text-center"></span>
							</div>
						</div>
						<div class="col-md-9 tour-block-content">
							<div class="row">
								<p class="text-white text-left">
									Somos la alternativa tecnológica que requiere para gestionar sus empleados desde la contratación hasta pago de sus empleados y su respectica Seguridad Social.
								</p>
							</div>
						</div>
						<div class="col-md-2 text-center tour-block-btn">
							<div class="row">
								<a class="btn btn-symplifica" href="">Realice el Tour ></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Functionalities block -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 functionality-block">
				<div class="row">
					<!-- Functionalities block item -->
					<div class="col-xs-6 col-sm-4 col-md-2 col-md-push-1 functionality-block-item">
						<div class="margin-bottom">
							<span class="ico-guide"></span>
						</div>
						<div>
							<p class="text-center">
								Guía práctica en la contratación
							</p>
						</div>
					</div>
					<!-- Functionalities block item -->
					<div class="col-xs-6 col-sm-4 col-md-2 col-md-push-1 functionality-block-item">
						<div class="margin-bottom">
							<span class="ico-afiliation"></span>
						</div>
						<div>
							<p class="text-center">
								Afiliación rápida a seguridad social
							</p>
						</div>
					</div>
					<!-- Functionalities block item -->
					<div class="col-xs-6 col-sm-4 col-md-2 col-md-push-1 functionality-block-item">
						<div class="margin-bottom">
							<span class="ico-payment"></span>
						</div>
						<div>
							<p class="text-center">
								Liquidación y pago electrónico de la nómina
							</p>
						</div>
					</div>
					<!-- Functionalities block item -->
					<div class="col-xs-6 col-sm-4 col-md-2 col-md-push-1 functionality-block-item">
						<div class="margin-bottom">
							<span class="ico-contributions"></span>
						</div>
						<div>
							<p class="text-center">
								Liquidación y pago de aportes en pocos pasos
							</p>
						</div>
					</div>
					<!-- Functionalities block item -->
					<div class="col-xs-6 col-sm-4 col-md-2 col-md-push-1 functionality-block-item">
						<div class="margin-bottom">
							<span class="ico-documentation"></span>
						</div>
						<div>
							<p class="text-center">
								Registro documental de la relación laboral
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- multiple comments block -->
	<div class="bg-lightGray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 multiple-comments-block">
					<div class="row">
						<!-- multiple comments block item -->
						<div class="col-md-6 multiple-comments-block-item border-right-lightGray">
							<div class="row">
								<div class="col-md-3">
									<div class="row">
										<img src="/img/thumbnail.png">
									</div>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="padding-left padding-right">
											<p>
												<b class="text-lightBlue">"</b>
												Ahora no tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, <span class="text-lightBlue">Symplifica</span> me avisa con días de antelación
												<b class="text-lightBlue">"</b>
											</p>
											<p>
												<span>Marta Liliana Suárez</span>
												<br/>
												<span>Madre y esposa</span>
											</p>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<!-- multiple comments block item -->
						<div class="col-md-6 multiple-comments-block-item">
							<div class="row">
								<div class="col-md-3">
									<div class="row">
										<img src="/img/thumbnail.png">
									</div>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="padding-left padding-right">
											<p>
												<b class="text-lightBlue">"</b>
												Ahora no tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, <span class="text-lightBlue">Symplifica</span> me avisa con días de antelación
												<b class="text-lightBlue">"</b>
											</p>
											<p>
												<span>Marta Liliana Suárez</span>
												<br/>
												<span>Madre y esposa</span>
											</p>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Services block -->
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<h3 class="text-center">
									Nuestro servicio vale mucho menos que el riesgo que usted corre
								</h3>
								<p class="text-center">
									Después del tercer empleado obtiene el 10% de descuento.
									¿No está convencido? Calcule el valor total del servicio de acuerdo a su caso indicando la cantidad de empleados por cada modalidad de contrato:
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 services-bar-container">
							<div class="row">
								<div class="col-md-12 services-bar-item">
									<div class="row">
										<div class="col-md-4 clearfix">
											<i class="fa fa-calendar fa-3x" style="display: block; float: right; color: #00cdcc; margin-left: 15px;"></i>
											<p style="display: block; float:right;" class="text-right">Tiempo Parcial<br /> trabaja(n) 1 a 10 días al mes</p>
										</div>
										<div class="col-md-6 clearfix">
											<!-- Activate Simple Slider on your input -->
											<input class="display-none ez-slider" type="text"  value="0">
											<input class="price" type="hidden" value="15000">
											<div class="pasos">
													<a href="#" value="0">0</a>
													<a href="#" value="1">1</a>
													<a href="#" value="2">2</a>
													<a href="#" value="3">3</a>
													<a href="#" value="4">4</a>
													<a href="#" value="5">5</a>
												</div>
										</div>
										<div class="col-md-2 text-center clearfix">
											<i class="fa fa-users fa-2x" style="color: #00CDCC;"></i><br />empleados
										</div>
									</div>
								</div>
								<div class="col-md-12 services-bar-item">
									<div class="row">
										<div class="col-md-4 clearfix">
											<i class="fa fa-calendar fa-3x" style="display: block; float: right; color: #00cdcc; margin-left: 15px;"></i>
											<p style="display: block; float:right;" class="text-right">Medio Tiempo<br /> trabaja(n) 11 a 19 días al mes</p>
										</div>
										<div class="col-md-6 clearfix">
											<!-- Activate Simple Slider on your input -->
											<input class="display-none ez-slider" type="text" value="0">
											<input class="price" type="hidden" value="20000">
											<div class="pasos">
													<a href="#" value="0">0</a>
													<a href="#" value="1">1</a>
													<a href="#" value="2">2</a>
													<a href="#" value="3">3</a>
													<a href="#" value="4">4</a>
													<a href="#" value="5">5</a>
												</div>
										</div>
										<div class="col-md-2 text-center clearfix">
											<i class="fa fa-users fa-2x" style="color: #00CDCC;"></i><br />empleados
										</div>
									</div>
								</div>
								<div class="col-md-12 services-bar-item">
									<div class="row">
										<div class="col-md-4 clearfix">
											<i class="fa fa-calendar fa-3x" style="display: block; float: right; color: #00cdcc; margin-left: 15px;"></i>
											<p style="display: block; float:right;" class="text-right">Tiempo Completo<br /> trabaja(n) más de 20 días al mes</p>
										</div>
										<div class="col-md-6 clearfix">
											<!-- Activate Simple Slider on your input -->
											<input class="display-none ez-slider" type="text"  value="0">
											<input class="price" type="hidden" value="25000">
											<div class="pasos">
													<a href="#" value="0">0</a>
													<a href="#" value="1">1</a>
													<a href="#" value="2">2</a>
													<a href="#" value="3">3</a>
													<a href="#" value="4">4</a>
													<a href="#" value="5">5</a>
												</div>
										</div>
										<div class="col-md-2 text-center clearfix">
											<i class="fa fa-users fa-2x" style="color: #00CDCC;"></i><br />empleados
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid" id="valor-mensual">
		<div class="container">
			<div class="row">
				<div class="col-md-9 titulo">
					<i class="fa fa-money fa-3x"></i>  <span>El valor mensual del servicio para su caso es</span>
				</div>
				<div class="col-md-3 text-center">
					<span class="valor" id="valorTotalSym">$0</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid" style="border-bottom: 1px solid #ccc;">
		<div class="row">
			<div class="col-xs-12 text-center" style="margin-top: 40px; margin-bottom: 40px;">
				<a class="btn btn-symplifica" href="/register">Regístrese ya y obtenga 1 mes gratis</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row" id="noticias">
			<div class="col-sm-6 noticia">
				<div class="row">
					<div class="col-sm-3">
						<img src="/img/foto-noticia.jpg" class="img-responsive" />
					</div>
					<div class="col-sm-9">
						<span class="fecha">Septiembre 30 de 2015</span>

						<span class="titulo">Symplifica apunta a lo funcional y lo legal</span>

						<span class="">La Corte encuentra que la prohibición a la administración pública de celebrar contratos de prestación de servicios.</span>
						<a class="btn bg-lightBlue" href="">Leer Artículo ></a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 noticia">
				<div class="row">
					<div class="col-sm-12">
						<span class="fecha">Septiembre 30 de 2015</span>

						<span class="titulo">Ministerio de Trabajo avala plataforma de Symplifica "La nueva forma de administrar a los empleados"</span>

						<span class="">En su publicación del 11 de mayo, El Tiempo hace una extensiva felicitación al equipo de Symplifica por el sistema de afiliación a seguridad social.</span>
						<a class="btn bg-lightBlue" href="">Leer Artículo ></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid clearfix" id="pata-min">
		<div class="container">
			<div class="col-sm-6 text-center">
				<img src="/img/aliados/mintic.jpg" />
				<img src="/img/aliados/mintrabajo.jpg" />
			</div>
			<div class="col-sm-6 text-center">
				<img src="/img/aliados/eltiempo.jpg" />
				<img src="/img/aliados/mininterior.jpg" />
			</div>
		</div>
	</div>
{% endblock %}