{% extends "::public.html.twig" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="imagen-encabezado"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h1>Nosotros</h1>
		</div>
		<div class="col-xs-12">
			<p>Somos una empresa convencida de la importancia de simplificar el manejo de los empleados conforme a la ley, disminuyendo riesgos y facilitando su gestión a procesos de un solo clic.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odiom.</p>

			<p>Nulla facilisis ullamcorper ipsum, et laoreet augue dignissim vitae. Proin porttitor tellus urna, eget semper magna tempus sit amet. Pellentesque faucibus, neque ac venenatis gravida, nisi justo pretium sapien, vitae euismod velit tortor a nunc. Nam et nisi felis. Ut egestas ex ac velit tempor, eu condimentum purus scelerisque. Mauris ornare ac ex quis cursus. Vivamus ullamcorper nisi sed quam bibendum, et volutpat lorem pretium. Nam ac nulla ut lorem congue tempor.</p>
		</div>
	</div>
	<div class="row" id="equipo">
		<div class="col-xs-12">
			<h3>Este es el equipo que trabaja para simplificarle la vida</h3>
		</div>
		<div class="row-fluid clearfix">
			<div class="col-sm-6 col-md-4 persona">
				<div class="row-fluid clearfix">
					<div class="imagen-persona" style="background-image: url(/img/persona.jpg);"></div>
					<span class="nombre">Marta Liliana Suáre</span>
					<span class="cargo">CEO</span>
					<span class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 persona">
				<div class="row-fluid clearfix">
					<div class="imagen-persona" style="background-image: url(/img/persona.jpg);"></div>
					<span class="nombre">Marta Liliana Suáre</span>
					<span class="cargo">CEO</span>
					<span class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 persona">
				<div class="row-fluid clearfix">
					<div class="imagen-persona" style="background-image: url(/img/persona.jpg);"></div>
					<span class="nombre">Marta Liliana Suáre</span>
					<span class="cargo">CEO</span>
					<span class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 persona">
				<div class="row-fluid clearfix">
					<div class="imagen-persona" style="background-image: url(/img/persona.jpg);"></div>
					<span class="nombre">Marta Liliana Suáre</span>
					<span class="cargo">CEO</span>
					<span class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 persona">
				<div class="row-fluid clearfix">
					<div class="imagen-persona" style="background-image: url(/img/persona.jpg);"></div>
					<span class="nombre">Marta Liliana Suáre</span>
					<span class="cargo">CEO</span>
					<span class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</span>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}