{% extends "::new-design/public.html.twig" %}
{% block body %}
<section id="middleBannerAbout" class="txtC">
            <div class="blockTem">
                <h3>Symplifica</h3>
                <span>Somos el área de recursos humanos</br>de los pequeños empleadores</span>
            </div>
        </section>
        <section id="targetMsg" class="txtC">
            <div class="container">
                <h2>Nuestra meta</h2>
                <span>Queremos revolucionar la formalización del trabajo en Colombia poniendo al alcance de los empleadores una herramienta que les permita cumplir con los deberes con sus empleados de la manera más sencilla y agradable, sin necesidad de ser expertos en gestión de nómina.</br></br>Nuestro objetivo es generar un alto impacto social con nuestro trabajo, construir país con nuestros clientes y sentirnos orgullosos de lo que hacemos.
                </span>
            </div>
        </section>
        <section id="ourTeamBlock" class="txtC">
            <div class="container">
                <h2>Nuestro equipo</h2>
                <div class="teamSymplifica col-md-8 col-md-offset-2 col-xs-12">
                    <ul>
                        <li><img src="img/nosotros/people.png" class="img-responsive" alt="Symplifica"/><span><strong>Camilo Mendez</strong></br>Gerente general</span></li>
                        <li><img src="img/nosotros/people.png" class="img-responsive" alt="Symplifica"/><span><strong>Johonson Aguirre</strong></br>Recursos humanos</span></li>
                        <li><img src="img/nosotros/people.png" class="img-responsive" alt="Symplifica"/><span><strong>Plinio Romero</strong></br>Desarrollador</span></li>
                        <li><img src="img/nosotros/people.png" class="img-responsive" alt="Symplifica"/><span><strong>Gabriel Montero</strong></br>Desarrollador</span></li>
                        <li><img src="img/nosotros/people.png" class="img-responsive" alt="Symplifica"/><span><strong>Gustavo Rojas</strong></br>Diseñador web</span></li>
                    </ul>
                </div>
            </div>
        </section>
{% endblock %}