<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/salarioInfo.css') }}"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>

        <script>
          //codigo analyticas
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-70850811-3', 'auto');
          ga('send', 'pageview');
        </script>

    </head>
    <body>
        <main>
            <div id="outer-left">
                <div id="inner-left">
                    <div class="float izqInfo">
                        <img src="{{ asset('public/img/landing/title2017.png') }}" alt="">
                        <p class="light">Encuentra aquí los montos del salario mínimo legal vigente y los montos de prestaciones sociales mínimas para todo trabajador en el 2017 en Colombia.</p>
                    </div>
                    <div class="float derInfo">
                        <img src="{{ asset('public/img/landing/money.png') }}" alt="">
                    </div>
                </div>
            </div>

                <section class="light">
                    <div class="dataMinimo bar">
                      <div class="infoWidth">
                        <h2 class="lightRale">El salario mínimo legal vigente<br><strong class="verdeOscu">(smmlv)</strong></h2>
                        <table border="0" cellpadding="0" cellspacing="5">
                             <tr>
                                <td class="whiteBack" valign="top">
                                 Salario mínimo mensual
                                </td>
                                <td class="whiteBack" valign="top">
                                 $737,717
                                </td>
                                <td class="whiteBack" valign="top">
                                 Jornada ordinaria
                                  48 horas semanales
                                  8 horas diarias
                                </td>
                              </tr>
                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Salario mínimo diario
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $24,591
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Jornada ordinaria (diurno)
                                  8 horas diarias
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Salario mínimo hora
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $3,074
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Jornada ordinaria
                                  6 A.M. – 10 P.M.
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Salario mínimo nocturna
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $4,150
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Jornada nocturna
                                  10 P.M. - 6 A.M.
                                 </td>
                              </tr>
                           </tr>
                        </table>
                      </div>
                    </div>

                    <div class="datawhite dataMinimo">
                      <div class="infoWidth">
                        <h2 class="lightRale verdeOscu">Auxilio de transporte</strong></h2>
                        <table border="0" cellpadding="0" cellspacing="5">
                             <tr>
                                <td class="blueBack" valign="top">
                                 Auxilio mensual
                                </td>
                                <td class="blueBack" valign="top">
                                 $83,140
                                </td>
                                <td rowspan="2" class="blueBack" valign="top">
                                 Jornada ordinaria
                                  48 horas semanales
                                  8 horas diarias
                                </td>
                              </tr>
                              <tr>
                                 <td class="blueBack" valign="top">
                                  Auxilio diario
                                 </td>
                                 <td class="blueBack" valign="top">
                                  $2,771
                                 </td>
                              </tr>
                           </tr>
                        </table>
                      </div>
                    </div>

                    <div class="dataMinimo">
                      <br />
                      <br />
                      <div class="infoWidth">
                        <h2 class="lightRale">Horas extras</strong></h2>
                        <table border="0" cellpadding="0" cellspacing="5">
                             <tr>
                                <td class="whiteBack" valign="top">
                                 Hora extra diurno
                                </td>
                                <td class="whiteBack" valign="top">
                                 $3,842
                                </td>
                                <td class="whiteBack" valign="top">
                                 Valor hora ordinaria <br />
                                 + 25%
                                </td>
                              </tr>
                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Hora extra nocturno
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $5,379
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Valor hora ordinaria <br />
                                  + 75%
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Hora extra diurna dominical/festivo
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $6,148
                                 </td>
                                 <td class="whiteBack" valign="top">
                                   Valor hora ordinaria <br />
                                   +75% por festivo<br />
                                   +25% recargo diurno
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Hora extra nocturna dominical/festivo
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $7,685
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Valor hora ordinaria<br />
                                  +75% por festivo<br />
                                  +75% recargo nocturno
                                 </td>
                              </tr>
                           </tr>
                        </table>
                      </div>
                    </div>

                    <div class="datawhite dataMinimo">
                      <div class="infoWidth">
                        <h2 class="lightRale verdeOscu">Prestaciones y parafiscales de seguridad social:</strong></h2>
                        <table border="0" cellpadding="0" cellspacing="5">
                             <tr>
                                <td class="blueBack" valign="top">
                                 Salud (EPS)
                                </td>
                                <td class="blueBack" valign="top">
                                 $92,215  mensual<br />
                                 Empleador: (8.5%) $62,706 <br />
                                 Trabajador: (4%)$29,509
                                </td>
                                <td class="blueBack" valign="top">
                                 Aportes a una entidad prestadora de salud que cubre integralmente al empleador y beneficiarios
                                </td>
                              </tr>
                              <tr>
                                 <td class="blueBack" valign="top">
                                  Pensión
                                 </td>
                                 <td class="blueBack" valign="top">
                                   $118,035  mensual<br />
                                   Empleador: (12%)$88,526 <br />
                                   Trabajador: (4%)$29,509
                                 </td>
                                 <td class="blueBack" valign="top">
                                  Aporte a una entidad gestora de pensiones
                                 </td>
                              </tr>

                              <tr>
                                 <td class="blueBack" valign="top">
                                  Riesgos profesionales
                                 </td>
                                 <td class="blueBack" valign="top">
                                   Riesgo I:$  3,851<br />
                                   Riesgo II:$ 7,702<br />
                                   Riesgo III:$ 17,971 <br />
                                   Riesgo IV:$ 32,091 <br />
                                   Riesgo V:$ 51,345
                                 </td>
                                 <td class="blueBack" valign="top">
                                  Varía según el tipo de riesgo de acuerdo al cargo del trabajador y se paga a una ARL.
                                 </td>
                              </tr>

                              <tr>
                                 <td class="blueBack" valign="top">
                                  Caja de compensación
                                 </td>
                                 <td class="blueBack" valign="top">
                                  $29,509  mensual
                                 </td>
                                 <td class="blueBack" valign="top">
                                  Aporte a cajas de compensación para el bienestar del empleado
                                 </td>
                              </tr>
                           </tr>
                        </table>
                      </div>
                    </div>

                    <div class="dataMinimo">
                      <br />
                      <br />
                      <div class="infoWidth light">
                        <p style="color:#FFF">
                          Ten en cuenta las siguientes provisiones mensuales para realizar los pagos de las diferentes prestaciones a cargo del empleador:
                        </p>
                        <br />
                        <h2 class="lightRale">Prestaciones</h2>
                        <table border="0" cellpadding="0" cellspacing="5">
                             <tr>
                                <td class="whiteBack" valign="top">
                                 Cesantias
                                </td>
                                <td class="whiteBack" valign="top">
                                 $68,405 <br />
                                 (provisión mensual)
                                </td>
                                <td class="whiteBack" valign="top">
                                 Equivale a un mes de salario por cada año trabajado o correspondiente al tiempo laborado
                                </td>
                              </tr>
                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Intereses de cesantias
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $8,209 <br />
                                  (provisión mensual)
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Corresponde al 12% sobre el valor a pagar de las cesantías
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Prima de servicios
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  $68,405 <br />
                                  (provisión mensual)
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Equivale a un mes de salario por cada año trabajado o correspondiente al tiempo laborado. Se paga mitad en junio y mitad en diciembre
                                 </td>
                              </tr>

                              <tr>
                                 <td class="whiteBack" valign="top">
                                  Dotación
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  En especie
                                 </td>
                                 <td class="whiteBack" valign="top">
                                  Un par de zapatos y ropa de labor. Se entrega cada 4 meses a empleados que devenguen menos de 2 salarios mínimos y que cuenten con más de 3 meses prestando servicios.
                                 </td>
                              </tr>
                           </tr>
                        </table>
                        <br />
                        <p style="color:#FFF">
                          *Las anteriores provisiones están basadas en el salario mínimo. Estas pueden variar de acuerdo al sueldo devengado por el empleado.
                        </p>
                      </div>
                    </div>

                    <div class="datawhite verdeOscu">
                      <div class="infoWidth">
                        *Las anteriores provisiones están basadas en el salario mínimo. Estas pueden variar de acuerdo al sueldo                            devengado por el empleado.
                            <br>
                            <br>
                            <br>
                        <strong>Fuente:</strong> Ministerio del Trabajo y decretos del Gobierno nacional.
                        *7% variación porcentual con respecto al SMMLV en el 2016
                      </div>
                    </div>
                </section>
                <aside class="light">
                    <div id="backAside">
                        <div id="dataAside">
                            <h2 class="lightRale">¿Tu empleada doméstica<br><strong>esta formal?</strong></h2>
                            <p class="displayN">Descubre Symplifica: Afilia a seguridad social, genera un contrato, paga electrónicamente y administra el día a día de los empleados de tu hogar desde internet.</p>
                            <a class="displayN" onClick="ga('send', 'event', 'button', 'click');" href="https://symplifica.com/?utm_source=google&utm_campaign=salario&utm_medium=refferal"><button>Pruébalo gratis</button></a>
                            <!--responsive-->
                            <a class="displayB" onClick="ga('send', 'event', 'button', 'click');" href="https://symplifica.com/?utm_source=google&utm_campaign=salario&utm_medium=refferal"><button>Descúbrelo en Symplifica</button></a>
                        </div>
                        <div class="bottomLogo">
                          <img src="https://symplifica.com/img/logo-white.png" width="170" height="auto"/>
                        </div>
                    </div>
                </aside>

        </main>

        <script>

            //codigo analyticas
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-70850811-3', 'auto');
            ga('send', 'pageview');

            // JavaScript
            window.sr = ScrollReveal();
            sr.reveal('.infoWidth', { reset: true, origin: 'bottom', distance: '90px', duration: 1000 });
            sr.reveal('.foo', { delay: 500 });
            sr.reveal('.izqInfo', { origin: 'top', distance: '90px', duration: 1000 });

            $(function(){
                $(window).scroll(function() {
                    if ($(this).scrollTop() >= 500 && $(window).width() >1024) {
                        $('aside').addClass('stickytop');
                    } else if ($(this).scrollTop() >= 500 && $(window).width() <= 1024) {
                         $('aside').addClass('stickytop');
                     } else if ($(this).scrollTop() >= 400 && $(window).width() <= 768) {
                          $('aside').addClass('stickytop');
                    } else {
                          $('aside').removeClass('stickytop');
                    }
                });
            });
        </script>
    </body>
</html>
