{% extends "::new-design/public.html.twig" %}

{% block body %}
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title>Gracias</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/precio.css') }}"/>
        <link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    </head>

    <body>

    <main>
        <header>
            <!--aca va el nav que ya esta hecho-->
            <div id="banner-beneficios">
                <div id="banner-beneficios-cont">
                    <h1 class="bold azuloscurofont">La tranquilidad de</h1>
                    <h1 class="light azulmediofont">hacer las cosas bien</h1>
                </div>
            </div>
        </header>
        <section style="padding-bottom: 40px" class="fondo-calculadora">
            <div id="calculadora">
                <h2 class="light grisclarofont">Gracias por la autorización</h2>
                <h4 class="bold grisclarofont textocal1">Estamos haciendo el trabajo duro por ti</h4>
            </div>
        </section>
    </main>


    </body>
    </html>

{% endblock %}
