{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <ul>
        {% for resp in response %}
            <li>{{ resp }}</li>
        {% endfor %}
    </ul>
{% endblock fos_user_content %}
