{% macro modal(template_parameter,modal_id) %}

    {% if template_parameter is not defined %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}

        {% endset %}

        {% set modal_header_style %}
            style="background-color: #9C2F2F;border-color:#9C2F2F; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            Modal Parameter Error
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            You don't defined the modal parameter
        {% endset %}

        {% set modal_style_button %}
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif  template_parameter == 1 %}

        {% set modal_id = 'success_email_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
             style="background-color: #1a5a17; padding: 5px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">Envío Exitoso</h1>
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡Tu correo se envió de manera exitosa!</p>
        {% endset %}

        {% set modal_button_style %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}


    {% elseif  template_parameter == 2 %}

        {% set modal_id = 'fail_email_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #9C2F2F;border-color:#9C2F2F; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Envío Fallido</h1>
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡Ocurrió un error enviando el correo!</p>
        {% endset %}

        {% set modal_button_style %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif template_parameter == 3 %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Advertencia salario minimo</h4>
            </div>
        {% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">El salario mínimo no puede ser 0</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif  template_parameter == 4 %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'succes_payment_modal' %}
        {% set modal_header_style %}
             style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
           <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Confirmación de pago</h1>
        {% endset %}
        {% set modal_content %}
           <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡El pago fue realizado de manera exitosa!</p>
        {% endset %}
        {% set modal_button_style %}
           style="width: 30%; font-size:20px"
        {% endset %}

    {% elseif  template_parameter == 5 %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'fail_payment_modal' %}
        {% set modal_header_style %}
           style="background-color: #fd5c5c; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
        <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Confirmación de pago</h1>
        {% endset %}
        {% set modal_content %}
        <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡El pago no pudo ser efectuado!<br>
        Por favor intente nuevamente más tarde, si el problema persiste pongase en contacto con nosotros <strong>350 833 0000</strong</p>
        {% endset %}
        {% set modal_button_style %}
        style="width: 30%; font-size:20px"
        {% endset %}

  {% elseif  template_parameter == 6 %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'end_documents_modal' %}
        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Carga de documentos</h1>
        {% endset %}
        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡Haz subido tus documentos correctamente!<br>
            En un máximo de 1 día hábil iniciaremos a validar tu proceso y radicarlo ante las entidades de seguridad social
            de ser necesario. Si tienes tareas pendientes puedes seguir con ellas.</p>
        {% endset %}
        {% set modal_button_style %}
            style="width: 30%; font-size:20px"
        {% endset %}

  {% elseif  template_parameter == 7 %}

        <!--modal de abogado-->
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
                 style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
                 <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Consulta legal</h1>
        {% endset %}
        {% set modal_content %}
                 <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Por una tarifa preferencial de $150.000, tendrás acceso
                   a una sesión de una hora con nuestros aliados ALVAREZ LIEVANO LASERNA ABOGADOS, una de las firmas de abogados
                   laboralistas más reconocidas.
                   <br>Ellos evaluarán tu caso y recibirás asesoría personalizada sobre cómo lograr la mejor
                    solución. Una vez normalizada tu situación, te ayudaremos a subir el registro de tu empleado en Symplifica para empezar
                     hacer las cosas de la mejor manera, sin necesidad de preocuparte nunca más.</p>
        {% endset %}
        {% set modal_button_style %}
                 style="width: 30%; font-size:20px" id="continuarAbogado"
        {% endset %}
        {% set modal_button = 'Continuar' %}
        {% set modal_button_style2 %}
                 style="width: 30%; font-size:20px" id="cerrarAbogado"
        {% endset %}
        {% set modal_button2 = 'Cerrar' %}

  {% elseif  template_parameter == 8 %}

        <!--modal salir consulte legal-->
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
                 style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
                 <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Consulta legal</h1>
        {% endset %}
        {% set modal_content %}
                 <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Has decidido no continuar con el registro de tu empleado.
                   <br>Nos estaremos contactando contigo para entender cómo podemos ayudarte. Recuerda que puedes volver a ingresar en
                   cualquier momento y continuar con el registro usando tu usuario y contraseña.</p>
        {% endset %}
        {% set modal_button_style %}
                 style="width: 30%; font-size:20px" id="atrasConsultoria"
        {% endset %}
        {% set modal_button = 'Atras' %}
        {% set modal_button_style2 %}
                 style="width: 30%; font-size:20px" id="salirConsultoria"
        {% endset %}
        {% set modal_button2 = 'Salir' %}

  {% elseif  template_parameter == 9 %}

        <!--modal salir consulte legal-->
        {% set style_header %}
                 style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
                 <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Notificación de Cambio</h1>
        {% endset %}
        {% set modal_content %}
                 <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Cambiaste la situación actual desde la última vez que evaluamos tu caso,
                 esta opción ya no es valida para ti, vuelve a evaluar tu situación para observar tus nuevas opciones.</p>
        {% endset %}
        {% set modal_style_button %}
                 style="width: 30%; font-size:20px" id="cerrarAviso"
        {% endset %}
        {% set modal_button = 'Entendido' %}
        {% set modal_style_button2 %}
        style="display:none"
        {% endset %}

  {% else %}
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #fd5c5c; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Error Modal Template</h1>
        {% endset %}
        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Modal no disponible</p>
        {% endset %}
        {% set modal_button = 'cerrar' %}

  {% endif %}

    {{ include('@RocketSellerTwoPick/modal_templates/modal.twig') }}



{% endmacro %}
