<div class="social-network facebook"><a href="/connect/facebook"></a></div>
<div class="social-network linkedin"><a href="/connect/linkedin"></a></div>
<div class="social-network google-plus"><a href="/connect/google"></a></div>