{% extends "::base.html.twig" %}
{% block content %}
	<style>
	  .thumb {
	    height: 75px;
	    border: 1px solid #000;
	    margin: 10px 5px 0 0;
	  }
	</style>
	<form class="form" method="POST" enctype="multipart/form-data" action="{{path('documents_upload',{id : employee_id})}}">
		
		<div class="form-group">
		  <label for="sel1">Select document type:</label>
		  <select class="form-control" name="documents">
			{% for document in documentTypes %}
				<option value="{{document.idDocumentType}}">{{ document.name }}</option>
			{% endfor %}
		  </select>
		</div>
		<input type="file" id="files" name="files[]" multiple />
		<output id="list"></output>
		<button class="btn btn-large btn-primary" type="submit">Upload</button>
	</form>
{% endblock %}


