{% extends "::base.html.twig" %}
{% block fos_user_content %}

    <div id="contractoCondition">
      <h2>Aviso sobre el contrato del empelado</h2>
      <p>Por tu tranquilidad el empleado debe iniciar labores una vez nos aseguremos que el empleado esté afiliado a las entidades de seguridad social.
      Cuando validemos que el empleado está afiliado, generaremos una notificación para que descargues el contrato.
      La fecha de inicio del contrato será la fecha de inicio que nos reportaste o <strong>3 días hábiles después de iniciado el trámite de afiliación,</strong> la que sea mayor.</p>
      <br><br>
      <a href="/dashboard/employer"><div class="btn btn-orange">Entendido</div></a>
    </div>

{% endblock fos_user_content %}
