{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="employees">
        <div class="col-sm-12 col-xs-12 block-Data">
            <h1>Empleados ({{employees|length}})</h1>
            <div class="row">
                {% for employee in employees %}
                    <div class="row-fluid clearfix employee">
                        <div class="col-xs-1 text-center">
                            <i class="fa fa-user fa-2x"></i>
                        </div>
                        <div class="col-xs-7">
                            {{employee.getEmployeeEmployee.getPersonPerson.getFullName()}}
                        </div>
                        <div class="col-xs-4 text-right">
                            <a href="/register/employee/{{employee.getEmployeeEmployee.getIdEmployee()}}">Editar</a>
                            /
                            <a href="{{ path('final_liquidation', { 'id': employee.idEmployerHasEmployee }) }}">Liquidacion definitiva</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}