/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/composer.lock
/vendor/
/web/bundles/
/web/app.php
/web/30/
*.DS_Store
/web/uploads
*.php~
.idea/*
.settings/*
.buildpath
.project
.gitignore
.phpintel/*
nbproject/*
