{% extends "::base.html.twig" %}
{% block fos_user_content %}
{% for contract in contracts %}
	
	
		<div id='' class='col-xs-12'>
			<div class="panel panel-default">
  				<div class="panel-body">
					<div id='' class='col-xs-5'>
						Contract State {{contract.state}}
					</div>
					<div id='' class='col-xs-5'>
						<div id='' class='text-left' >
							Salary {{contract.salary}}
						</div>
					</div>
					<div id='' class='col-xs-2'>
						<a id='' class='nav-link' href="{{ path('edit_contract' , 
												{'id': contract.idContract}) }}">
						<div id='' class='text-right' >
							Ver
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>

{% endfor %}
		<div id='' class='col-xs-12'>
			<div class="panel panel-default">
  				<div class="panel-body">
					<div id='' class='col-xs-12'>
						<a id='' class='' href="{{ path('add_contract', 
												{'id': idEmployerEmployee}) }}">
						<div id='' class='text-right' >
							Add new contract
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>
{% endblock fos_user_content %}