{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .media{
            padding: 10px;
            background-color: #DDD;
            display: -webkit-box;
        }
        .media-left{
            font-size: large;
            color: orange;
        }
        .media-heading{
            font-weight: bold;
        }
        .padding{
            padding: 50px 0px 50px 0px ;
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}

    <div class="media">
        <div class="media-left">
            <span class="glyphicon glyphicon-remove-circle fa-2x"></span>
        </div>
        <div class="media-body vertical-align-center">
            <h4 class="media-heading">Error de pago</h4>
        </div>
    </div>
    <div class="text-center">
        <div class="padding">
            <h4><b>El pago no puedo ser realizado</b></h4>
        </div>
        <div class="padding">
            lorem ipsum
        </div>
        <div class="padding">
            <input type="button" class="btn btn-default btn-orange" value="Intentar de nuevo"  onclick="window.location = '{{ path('subscription_choices') }}'" >
        </div>
    </div>

{% endblock %}