{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="alert alert-danger" role="alert" style="display: inline-block;">
        Tu cuenta se encuentra inactiva.
        <a href="{{ path('subscription_choices') }}" class="alert-link"> Adquirir suscripción</a>
    </div>
{% endblock %}