{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .media {
          padding: 10px;
          border: #ececec 1px solid;
          border-radius: 5px;
        }
        }

        .media-left {
            font-size: large;
            color: orange;
        }

        .mediaContent {
              padding-top: 9px;
              text-align: center;
        }

        .errorContent li {
          list-style-type: none;
          display: inline;
        }

        .li-heading {
          font-size: 25px;
          font-weight: 600;
        }

        .padding {
            padding: 45px 0px 25px;
        }
        .errorContent {
          margin: 0 auto;
          width: 93%;
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
    <div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col">
        <div id="" class="col-sm-12 col-xs-12 blockStep inline">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    <span class="step">Paso 3 de 3</span>
                    Subscripción a Symplifica
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="errorContent">
            <div class="media">
                <div class="mediaContent">
                  <ul>
                      <li class="glyphicon glyphicon-remove-circle fa-2x"></li>
                      <li class="li-heading">Error de validación</li>
                  </ul>
                </div>
            </div>
            <div class="text-center" style="width:80%;margin:0 auto">
                <div class="padding">
                    <h3 class="light azulmediofont">No hemos podido validar tu identidad</h3>
                </div>
                <div class="padding" style="color: #907676;">
                  Recuerda que solo cuantas con dos intentos para validad tu identidad, si te equivocas de nuevo <strong>contáctate
                  con nosotros al 350 833 0000</strong> para poder confirmar tu registro. Puedes revisar que tu información sea correcta
                  dando clic en el botón de “inicio” en la parte izquierda de esta pantalla.
                </div>
                <div class="padding">
                    <input type="button" class="btn btn-orange" value="Intentar de nuevo"
                           onclick="window.location = '{{ path('subscription_confirm') }}'">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
