{% extends "::base.html.twig" %}
{% block title %}Symplifica - Suscripción Activada{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}
{% block fos_user_content %}
    {% set time_free = 1 %}
    {% set date = date|date_modify("+"~(time_free)~" month") %}
    {% set day_pay = date|date("d") %}
    {% set month_pay = date|date("F")|trans %}
    {% set year_pay = date|date("Y") %}



    <div class="basicConfirmation">
        <div class="col-sm-12 col-xs-12 align-Resp">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        <span class="step">Paso 3 de 3</span>
                        Subscripción a Symplifica
                    </div>
                </div>
            </div>
        </div>
        <ul id="formNav" class="nav nav-tabs nav-justified">
            {% set tab = 2 %}
            <li {%   if tab is defined and tab==0 %} class="active" {% endif %}><a data-toggle="tab" data-target="#newOrOldTab"></a>Validar</li>
            <li {%   if tab is defined and tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicData"></a>Confirmar</li>
            <li {%   if tab is defined and tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contactData"></a>Finalizar</li>
        </ul>
        <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-complete.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        ¡El pago fue exitoso!
                    </div>
                </div>
            </div>
        </div>

        <dir class="confirmationBlock">
            <h3>¡Tus datos fueron recibidos con éxito!</h3>
            <br />
            <h4>¿Qué pasos siguen? Sólo debes completar las siguientes tareas:</h4>
            <br>
            <div class="border">
                <div>
                  <div class="imgpaso">
                    <img src="{{ asset('../img/paso1.png') }}" alt="">
                  </div>
                  <div class="textpaso">
                      <span style="font-weight: bold;color: #35D4D1;">Subir documentos: </span>
                      <p style="color: #6F6F6F;">Escanea o tómale foto a los documentos solicitados en la siguiente página y sube los archivos dando clic en el botón correspondiente.</p>
                  </div>
                </div>
                <br />
                <div style="clear:both;padding-top:20px;">
                  <div class="imgpaso">
                    <img src="{{ asset('../img/paso2.png') }}" alt="">
                  </div>

                  <div class="textpaso">
                    <span style="font-weight: bold;color: #35D4D1;">Descargar documentos: </span>
                    <p style="color: #6F6F6F;">Si requieres de algún documento que aún no tengas (como el Mandato Symplifa, autorización empleado o el contrato laboral si aún no lo tienes) podrás descargarlo primero, imprimirlo y firmarlo por ti y tu empleado, luego debes subirlo de nuevo.</p>
                  </div>
                </div>
            </div>

            <div style="clear:both; padding: 40px 0 0 0">
                <h4>¡Aquí empieza el trabajo de Symplifica! </h4>
                <span style="font-weight: bold;color: #35D4D1;">Verificar documentos: </span>
                <p style="color: #6F6F6F;">Una vez completadas tus tareas nos encargaremos de revisar tus documentos y hacer las afiliaciones si son necesarias. Muy pronto podrás gestionar a tus empleados desde la plataforma.</p>
           </div>

            <hr />
            <a class="btn btn-orange" value="Continuar" href="{{ path('show_dashboard') }}" >Continuar</a>
        </dir>

    </div>


    <!--<div>Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor aún, minizaremos al máximo el riesgo de eventualidades a futuro.</div>-->

{% endblock %}
