{% extends "::base.html.twig" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ asset('../css/pantallas.css') }}"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700" rel="stylesheet" type="text/css">

	<div id="cont-succesdocs">
            <div id="title-siccesdocs">
                <img src="perfecto.png"/>
                <h1 class="azuloscurofont bold">¡Juan sebastian!</h1>
                <h2 class="h2 light grisclarofont">No tienes pagos pendientes</h2>
            </div>

            <div id="texto-succesdocs">
            	<div id="pagoadelantado">
                	<div id="contenidopagoadelando">
                        <img src="{{ asset('public/img/home/cat6.png') }}">
                        <h1 class="azulclarofont bold centrar">¿Puedo pagar por adelantado?</h1>
                        <p class="light grisclarofont">Solo debes dar clic en botón de abajo o dirigirte al menú sección de empleados y reportar la novedad de <strong>“adelanto de nómina”</strong></p>
                        <a href="#"><div class="light btn-azulnopagos">Reportar novedad</div></a>
                    </div>
                </div>
            </div>
		</div>

{% endblock %}
