{% extends "::base.html.twig" %}
{% block content %}
	<div id="cont-succesdocs">
		<div id="title-siccesdocs">
			<img src="perfecto.png"/>
			<h1 class="azulclarofont light">Haz elegido hacer tu vida más sencilla</h1><br>
			<h2 class="h2 light grisclarofont">¡Ya eres parte de Symplifica así que es hora de relajarte! Nos encontramos trabajando para ti, espera mientras:</h2>
		</div>

		<div id="texto-succesdocs">
			<div id="cont-genssuccescont">
				<div class="pasos">
					<div class="img"><img src="prieba.png"/></div>
					<div class="pasos-text">
						<span class="bold azuloscurofont">Primero</span>
						<p class="light grisclarofont">Verificamos tus datos y tu información.</p>
					</div>
				</div>
				<div class="pasos">
					<div class="img"><img src="prieba.png"/></div>
					<div class="pasos-text">
						<span class="bold azuloscurofont">Después</span>
						<p class="light grisclarofont">Te afiliamos a ti y a tus empleados a entidades de seguridad social (si es necesario).</p>
					</div>
				</div>
				<div class="pasos">
					<div class="img"><img src="prieba.png"/></div>
					<div class="pasos-text">
						<span class="bold azuloscurofont">y luego</span>
						<p class="light grisclarofont">Conocemos más de tu situación y como ayudarte.</p>
					</div>
				</div>
			</div>
			<div id="recuerda">
				<h1 class="azulclarofont light">Recuerda que</h1><br>
				<p class="light grisclarofont">Validaremos tu información, este proceso puede tardar hasta <strong>3 días hábiles</strong>, nos pondremos en contacto contigo si necesitamos rectificar información de lo contrario te notificaremos a tu correo electrónico cuando puedas usar completamente la herramienta; <strong>por ahora podrás vizualizar tu información y la de tus empelados y hacer modificaciones si lo deseas.</strong>

					<br><br><span class="azulmediofont bold">¡Nos veremos pronto!</span></p>
			</div>
		</div>
	</div>
{% endblock %}