{% extends "::base.html.twig" %}
{% block content %}
    {% for eHE in user.employer.activeEmployerHasEmployees %}
        {% if ready[eHE.idEmployerHasEmployee] is defined and ready[eHE.idEmployerHasEmployee] %}
            {% from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
            {% set name = eHE.employeeEmployee.personPerson.fullName %}
            {{ modal(6,'',name) }}
        {% endif %}
        {% if validated[eHE.idEmployerHasEmployee] is defined and validated[eHE.idEmployerHasEmployee] %}
            {% from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
            {% set name = eHE.employeeEmployee.personPerson.fullName %}
            {{ modal(19,'',name) }}
        {% endif %}
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{{ asset('../css/pantallas.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet'
          type='text/css'>
    <div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col azulclaro">
        <div id="" class="col-sm-12 col-xs-12 blockStep inline  nav-link">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                 <img src="/img/dash.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12">
                <div id="" class="text-left">
                    <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">¡Bienvenido a Symplifica!</h1>
                    <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">Es el momento de hacer tu vida más sencilla</span>
                </div>
            </div>
        </div>
    </div>
    <div id="cont-succesdocs">
        <div id="texto-succesdocs" class="col-md-12" style="clear:both">
          <br />
            <h1 class="azulclarofont light centrar">Recuerda que nuestra plataforma te ayuda a gestionar el día a día de
                tus empleados, aquí podrás:</h1>
            <div id="posibilidades">
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Notificar novedades o hacer memorandos en cualquier momento del
                        mes.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Pagar la nómina y aportes con un solo clic.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Crear certificados para ti o tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Revisar la relación laboral con tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Conocer las fechas importantes para aportes, gestiones y
                        procesos.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Resolver dudas y recibe apoyo en tus gestión como empleador.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Agrega o inactivar a tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Generar la liquidación cuándo quieras terminar la relación
                        laboral.</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn-orange btn notAjax" href="/dashboard">Entendido</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            try {
                showModal(6);
                showModal(19);

//                showModal(23);
//                showModal2();
            }catch(e){
            }
        });
    </script>
{% endblock javascripts %}
