{% extends "::base.html.twig" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ asset('../css/pantallas.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet'
          type='text/css'>
    <div id="cont-succesdocs">
        <div id="title-siccesdocs">
            <h1 class="azuloscurofont bold">¡Bienvenido a Symplifica!</h1>
            <h2 class="h2 light grisclarofont">es el momento de hacer tu vida más sencilla</h2>
        </div>

        <div id="texto-succesdocs">
            <h1 class="azulclarofont light centrar">Recuerda que nuestra plataforma te ayuda a gestionar el día a día de
                tus empleados, aquí podrás:</h1>
            <div id="posibilidades">
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Notificar novedades o hacer memorandos en cualquier momento del
                        mes.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Pagar la nómina y aportes con un solo clic.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Crear certificados para ti o tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Revisar la relación laboral con tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Conocer las fechas importantes para aportes, gestiones y
                        procesos.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Resolver dudas y recibe apoyo en tus gestión como empleador.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Agrega o inactivar a tus empleados.</p>
                </div>
                <div class="posibilidades-op">
                    <p class="light grisclarofont">Generar la liquidación cuándo quieras terminar la relación
                        laboral.</p>
                </div>
            </div>
            <div id="fechas">
                <h1 class="grisclarofont light centrar">Guíate de este línea de tiempo para saber cuales son las fechas
                    importantes en tu gestión:</h1><br>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 10 de cada mes</p>
                    <p class="grisclarofont light">Tiempo oportuno</p>
                    <p class="light-italic grisclarofont">para reportar novedades</p>
                </div>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 12 de cada mes</p>
                    <p class="grisclarofont light">Cierre de nómina</p>
                    <p class="light-italic grisclarofont">(para modalidad quincenal)</p>
                </div>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 15 de cada mes</p>
                    <p class="grisclarofont light">Pago de nómina</p>
                </div>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 23 de cada mes</p>
                    <p class="grisclarofont light">Tiempo oportuno</p>
                    <p class="light-italic grisclarofont">para reportar novedades</p>
                </div>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 25 de cada mes</p>
                    <p class="grisclarofont light">Cierre de nómina</p>
                </div>
                <div class="fechasclave">
                    <p class="bold azulclarofont">Día 30 de cada mes</p>
                    <p class="grisclarofont light">Pago de nómina</p>
                    <p class="light-italic grisclarofont">pago de aportes a seguridad</p>
                </div>
            </div>
            <div class="border">
                <p class="semi-italic azulmediofont">Puedes reportar novedades en cualquier momento.<br>

                    Sugerimos los días 15 y 30 de cada mes, pero el pago de nómina lo puedes hacer en cualquier momento después del cierre.</p>
            </div>


        </div>
        <div class="text-center">
            <a class="btn-orange btn notAjax" href="cleanDashboard.html.twig">Entendido</a>
        </div>
    </div>

{% endblock %}
