{% extends "::base.html.twig" %}
{% block content %}
	<div class="container col-md-12">
		<div class="col-md-4">
			<table class="table">
				<thead>
					<tr><th>Documentos</th></tr>
				</thead>
				<tbody>
				  {% for document in result %}	  	
			  			<tr>
				  			<td>
				  				{{ document.name }}			
				  			</td>
				  		</tr>	  			
				  {% endfor %}
				</tbody>
			</table>
		</div>

	{% for i in 0..employees|length-1  %}
  		<div class="col-md-4">
	  		<table class="table">
			    <thead>
			      <tr>	           
			        <th>{{employees[i].personPerson.names}} {{employees[i].personPerson.lastName1}}</th>          	       
			      </tr>		      
			    </thead>	    	
				    <tbody>
				    	<tbody>		  			
			  				{% for document  in documentsPerEmployee[i] %}
			  					{% if document in documentsByEmployee[i] %}
			  						<tr><td>Ya lo tienes perra</td></tr>
			  					{% else %}
				  					{% if document == '-'%}
			  							<tr><td>No lo necesitas perra</td></tr>
			  						{% else %}
			  							<tr class="danger"><td><a href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':document.idDocumentType}) }}">Subelo perra</a></td></tr>
			  						{% endif %}			  						
			  					{% endif %}		  											
							{% endfor %}		  		  		
			  			</tbody>	          	  	     
				    </tbody>
	  		</table>
  		</div>	  	
	{% endfor %}	
{% endblock %}