{% extends 'base.html.twig' %}
{% block title %}Registro Usuario!{% endblock %}
        {% block body %}
        	<h1>Registro Usuario</h1>
        	<form id='' class=''>
        		<ul id=''>
					{% for item in userForm %}
						<li><input id='' class='' name='{{item.name}}' type='{{item.type}}' placeholder='{{item.place}}' /></li>
					{% endfor %}
				</ul>
        	</form>
        {% endblock %}