{% extends "::base.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:Beneficiary:addBeneficiary{% endblock %}

{% block body %}
<h1>Welcome to the Beneficiary:addBeneficiary page</h1>
{% endblock %}
