{% trans_default_domain 'FOSUserBundle' %}
{% if success %}
<h4>La contraseña ha sido cambiada con éxito</h4>
{% endif %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div class="col-sm-12" style="margin-top: 10px;">
        <input type="submit" class="notAjax btn btn-symplifica" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
