 <h1>Este es tu código para referir "<b>{{ app.user.code }}"</b></h1>
 <h3>Comparte en:</h3>
 <div>facebook</div>
 <div>o copia este link</div>
 <input value="{{ url('register_referido', {'referredCode':app.user.code}) }}" onclick="this.focus();this.select();document.execCommand('copy');">
