{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <h1>Mi cuenta</h1>
    <h3>Datos de registro</h3>
    <div class="row-fluid" id='registrationFormContainer'>

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a class="notAjax" data-toggle="tab" data-target="#basicDataTap">Datos básicos</a></li>
            <li><a class="notAjax" data-toggle="tab" data-target="#passwordTab">Contraseña</a></li>
        </ul>

        <div class="tab-content">
            <div id="basicDataTab" class="tab-pane fade in active">
                Nombre:

                Email:
            </div>
            <div id="passwordTab" class="tab-pane fade in active">
            </div>
        </div>
    </div>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Fecha de pago</th>
                <th>Número factura</th>
                <th>Concepto</th>
                <th>Valor</th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.purchaseOrdersPurchaseOrders.date_created|date('Y-m-d') }}</td>
                    <td>{{ invoice.purchaseOrdersPurchaseOrders.invoice_number }}</td>
                    <td>{{ invoice.productProduct.name }}</td>
                    <td>{{ invoice.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock fos_user_content%}
