.back-panel-title {
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 0px 0px 40px 40px;
    clear: both;
    padding: 0px 0px 11px 24px;
    font-weight: bold;
    background: #33d7d6;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.backoffice-headding {
    color: #fff;
    background-color: rgb(14, 65, 68);
    border: 1px solid #0d3031;
    border-radius: 15px 15px 0px 0px;
    margin: 15px 0px 0px 0px;
    padding: 3px 21px;
    font-size: 16px;
    font-weight: 500;
    clear: both;
}
.backoffice-headding-hide {
    color: #fff;
    background-color: rgb(14, 65, 68);
    border: 1px solid #0d3031;
    border-radius: 15px 15px 0px 0px;
    margin: 15px 0px 0px 0px;
    padding: 3px 21px;
    font-size: 16px;
    font-weight: 500;
    clear: both;
}
.backoffice-headding-show {
    color: #fff;
    background-color: rgb(14, 65, 68);
    border: 1px solid #0d3031;
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    padding: 3px 21px;
    font-size: 16px;
    font-weight: 500;
    clear: both;
}
.back-table {
    margin: -1px 0px -1px 0px;
    border: 1px solid #0e4144;
}
.a-back {
    color: #ffffff;
    text-decoration: none;
}


a:focus, a:hover {
    color: rgb(98, 212, 0);
    text-decoration: underline;
    font-weight: 400;
}

.back-link {
    color: #2b7375;
    text-decoration: none;
    font-weight: bolder;
}

.back-content{
    width: 33%;
    display: inline-block;
}

.back-panel-body {
    border: 1px solid #0d3031;
    padding: 15px;
    font-family: "Open Sans",Helvetica,Arial;
}

.btn-back {
    text-transform: none;
    background-color: #FD9224;
    border-bottom: 0px solid #DA7D1F;
    outline: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Open Sans",Helvetica,Arial;
    margin: 6% 40% 7% 0%;
}

th {
    vertical-align: middle;
    padding: 0px 5px;
    border: 1px solid rgb(16, 52, 53);
    font-size: 11px;
    background-color: rgb(44, 142, 146);
    color: #f8fffa;
    font-weight: inherit;
}

tr {
    vertical-align: middle;
}

td {
    vertical-align: middle;
    border: 1px solid rgb(79, 127, 128);
    font-size: 9px;
    color: #0d3031;
    padding: 1px 0px 1px 3px;
    background-color: white;
    font-weight: bold;
}

.form-group input {
    font-size: 12px;
    padding: 5px 5px;
}

label {
    font-size: 12px;
    font-weight: 700;
    padding: 0px 0px 0px 5px;
}

.form-group select {
    font-size: 12px;
    height: 30px;
}
.back-panel {
    background-color: #fff;
    border: 1px solid transparent;
    clear: both;
    margin: 0px;
}

.back-employee-headding {
    color: rgb(255, 255, 255);
    background-color: rgb(28, 98, 101);
    padding: 0px 5px;
    margin: -1px 0px 0px 0px;
    border: 1px solid #0e4144;
    clear: both;
    font-size: 12px;
}

.dataTables_length, .dataTables_filter{
    margin: 5px 10px;
}

table.dataTable tbody th, table.dataTable tbody td{
    padding: 0px 5px;
}

.dataTables_paginate{
    font-size: 14px;
    display: inline-flex;
    font-weight: 600;
}

.paginate_button{
    background-color: white;
    margin: 1px;
    padding: 1px;
}

thead .th1{
    background: #d2d1d1;
    color: black;
    padding: 0px 0px!important;
    margin: 0px;
}

td.highlight {
    background-color: whitesmoke !important;
}