.back-employee-headding {
    color: rgb(234, 234, 234);
    background-color: rgb(14, 65, 68);
    padding: 0px 19px;
    margin: -1px 0px 0px 0px;
    border: 1px solid #002123;
    clear: both;
    font-size: 13px;
}
.td-row {
    vertical-align: middle;
    border: 1px solid rgb(79, 127, 128);
    font-size: 9px;
    color: #0d3031;
    padding: 1px 0px 1px 3px;
    background-color: white;
    font-weight: bold;
}
.td-title {
    vertical-align: middle;
    border: 1px solid rgb(79, 127, 128);
    font-size: 11px;
    padding: 1px 0px 1px 12px;
    font-weight: bold;
    -webkit-user-select: none;
}
.th-title {
    vertical-align: middle;
    padding: 0px 5px 0px 15px;
    border: 1px solid rgb(16, 52, 53);
    font-size: 14px;
    background-color: rgb(0, 95, 99);
    color: #f8fffa;
    font-weight: inherit;
}
.backoffice-headding {
    color: #fff;
    background-color: rgb(0, 33, 35);
    border: 1px solid #0d3031;
    border-radius: 15px 15px 0px 0px;
    margin: 15px 0px 0px 0px;
    padding: 3px 21px;
    font-size: 16px;
    font-weight: 500;
    clear: both;
}

.content-title {
    border: 1px solid black;
    margin: 0px 0px;
    padding: 5px 5px;
    background-color: #0e4144;
    width: 98.7%;
    color: white;
    font-size: 14px;
    border-radius: 15px 15px 0px 0px;
}

.back-section {
    padding: 0px 15px 0px 15px;
    margin: 15px 0px 15px 0px;
}
.value-title {
    border: 1px solid #002123;
    background-color: #005f63;
    color: #f8fffa;
    margin: 10px 0px 10px 15px;
    padding: 0px 5px;
    font-size: 13px;
    display: inline-block;
    border-collapse: inherit;
    border-radius: 3px;
    width: 90%;
}
.value-content{
    display: inline-block;
    width: auto;
    height: inherit;
    font-size: 13px;
    margin: 10px 0px 10px 0px;
    padding: 0px 5px;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
}

.form-button{
    border: 2px solid #07aab3;
    background: #0db5b2;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial;
    padding: 1px 25px;
    margin: 13px 0px;
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    border-radius: 3px;
}
#form_expeditionDate_day{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
#form_expeditionDate_month{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
#form_expeditionDate_year{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
#form_birthDate_day{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
#form_birthDate_month{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
#form_birthDate_year{
    padding: 0px;
    height: 20px;
    font-size: 12px;
    border: 0px;
    margin: 0px 6px 0px 2px;
}
.no-padding {
    padding:0;
}
.btn-backoffice {
    border: 2px solid #085d61;
    background: #03575a;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial;
    margin-bottom: 5px;
    padding: 5px 10px;
    text-transform: none;
    font-weight: 700;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.btn-backoffice-error {
    border: 2px solid #611c1a;
    background: #5a200f;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial;
    padding: 5px 10px;
    text-transform: none;
    font-weight: 700;
    margin-bottom: 5px;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.btn-backoffice-error.focus, .btn-backoffice-error:focus, .btn-backoffice-error:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #3a0000;
    border-color: #2a0000;
}
.btn-backoffice-upload {
    border: 2px solid #162f61;
    background: #051c61;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial;
    padding: 5px 10px;
    text-transform: none;
    font-weight: 700;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.btn-backoffice-download {
    border: 2px solid #078588;
    background: #0e8b94;
    color: #fff;
    font-family: "Open Sans",Helvetica,Arial;
    padding: 5px 10px;
    text-transform: none;
    font-weight: 700;
    text-shadow: none;
    box-shadow: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.428571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.btn-backoffice-download.focus, .btn-backoffice-download:focus, .btn-backoffice-download:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #051442;
    border-color: #050f2c;
}
.btn-backoffice-upload.focus, .btn-backoffice-upload:focus, .btn-backoffice-upload:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #051442;
    border-color: #050f2c;
}
.btn-backoffice.focus, .btn-backoffice:focus, .btn-backoffice:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #012123;
    border-color: #012123;
}

.btn.focus, .btn:focus, .btn:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #012123;
    border-color: #012123;
}
#modal-body {
    position: absolute;
    top: 0;
    width: 100%;
}
.additional-info-title {
    border: 1px solid #000000;
    overflow: hidden;
    margin: -1px 1.3% -1px 0px;
    font-size: 13px;
    background-color: #005f63;
    color: white;
}
.workplaceEdit{
    border: 1px solid black;
    margin-right: 0;
    overflow: hidden;
    color: white;
    background-color: #0d3031;
    font-size: 14px;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
.doc-message {
    border: 3px solid #525659;
    margin-right: 5px;
    margin-top: 32px;
    width: 100%;
    height: 480px;
    padding-top: 50%;
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
}
#validate-info-employer,#validate-doc-employer,#validate-rut-employer,#validate-mand-employer,#aditional-info{
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
}
form[name="form"]{
    margin: -5% -10% 0 0;
}

.alert-fail{
    background-color: #f1bebe;
    border: 1px solid darkred;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #c70707;
}

.alert-success {
    background-color: #c7e8b9;
    border: 1px solid darkgreen;
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #145456;
}
