<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="estilo.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <title>Responsive email</title>
</head>

<body>
    <main>
        <header>
            <div id="headerCont">
                <div id="tiempoLimitado">
                    <img src="img/time.png" alt="tiempo limitado">
                </div>
                <span><img alt="Symplifica" src="sello.png"></span>
                <span><img alt="Hacer las cosas bien paga" src="https://symplifica.com/img/logo.png"></span>
                <div id="campañaTitle">
                    <h2 class="bold azulmediofont">Gestiona de forma sencilla</h2>
                    <h3 class="light azulmediofont">a los empleados de tu hogar</h3>
                </div>
                <div id="campañaDesc">
                    <h1 class="bold">y recibe $150.000*</h1>
                    <p class="back light">
                        Inicia tu registro hoy mediante un pago electrónico y te daremos
                        <strong>$150.000 pesos para pagar el sueldo de tu empleada*</strong>
                    </p>
                </div>
                <div id="form">
                    <form>
                        <input class="half input" type="text" name="firstname" value="" placeholder="Nombre">
                        <input class="half input" type="text" name="lastname" value="" placeholder="Apellido"><br>
                        <input class="input full" type="text" name="celphone" value="" placeholder="Celular"><br>
                        <input class="input full" type="text" name="email" value="" placeholder="Correo electrónico">
                        <br>
                        <input class="info buttonf" type="submit" value="¡Quiero más información!">
                        <input class="start buttonf" type="submit" value="¡Iniciar regístro ahora!"><br>
                        <input class="terms buttonf" type="submit" value="Terminos y condiciones">
                    </form>
                </div>
            </div>
        </header>
        <section>
            <div id="pig"></div>
            <div id="descubre">
                <h1 class="light azulclarofont">Descubre Symplifica</h1>
                <p class="light grisclarofont">
                    Olvídate de los procesos tediosos y complicados, nosotros nos encargaremos de administrar el día a día de tus empleados domésticos de forma segura y según la ley.
                </p>
                <div class="buttonf light azulmedio callTo">Ver video</div>
            </div>
            <div id="ganaCont">
                <div id="gana">
                    <h1 class="light azulclarofont">¡Ganar es muy fácil!</h1><br><br>
                    <div class="pasos light grisoscurofont">
                        <span>&#10122;</span><br>
                        <p>Regístrate en Symplifica.com</p>
                    </div>
                    <div class="pasos light grisoscurofont">
                        <span>&#10123;</span><br>
                        <p>Ingresa tus datos y los de tus empleados</p>
                    </div>
                    <div class="pasos light grisoscurofont">
                        <span>&#10124;</span><br>
                        <p>Registra el pago de nómina por medios electrónicos</p>
                    </div>
                    <div class="pasos light grisoscurofont">
                        <span>&#10125;</span><br>
                        <p>Completa unos documentos</p>
                    </div>
                </div><br><br>
                <div class="buttonf light callTo naranja">Ir a Symplifica</div>
            </div>
        </section>
    </main>
</body>
</html>
