
	<!-- Modal -->
	<div id="changeDaysModal" class="modal fade" role="dialog">
		<input type="hidden" id="empl_id" value="{{ novelty.sqlPayrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.idEmployerHasEmployee }}"/>
		<input type="hidden" id="novel_id" value="{{ novelty.idNovelty }}"/>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="padding: 0">
                	<button type="button" class="close btn btnPrevious" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                	<div class="row-fluid block-Intro-green clearfix" style="margin-top: 0;">
                    	<div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">Cambiar días trabajados</div>
                	</div>
                	<div class="row-fluid clearfix cuerpoNovelty" style="padding: 30px; 15px;">
										La nómina de liquidó en base al siguiente número de días: <b id="oldDays">{{ novelty.units }}</b>
										</br>
										Ingresa el nuevo número de días:
										<input id="newDays" type="number" name="nuevoNumDias" min="0" max="31">
										</br>
										</br>
										<div class="row">
											<div class="col-xs-6 text-right">
												<button type="button" class="btn btnPrevious" data-dismiss="modal">Cancelar</button>
											</div>
											<div class="col-xs-6 text-left">
												<button type="button" id="changeDaysButton" class="btn btn-orange">Actualizar</button>
											</div>
										</div>
                	</div>
        </div>
      </div>
		</div>
	</div>
