{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Revisar archivos de nómina{% endautoescape %}{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<body>
<h1>Revisar nómina {{ idPod }}</h1>
</body>
</html>
{% endblock %}