{% extends "::base.html.twig" %}
{% block content %}
	<div class="col-md-4">
		<h3>Credit card info</h3>
			{{ data["credit_card"] }}
			<br></br>
			{{ data["expiry_date"] }}
			<br></br>
			{{ data["cvv"] }}
			<br></br>
			{{ data["name_on_card"] }}
	</div>
{% endblock %}
