{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <p>Hemos enviado un correo electr&oacute;nico</p>
    <p>a la direc&oacute;n ingresada</p>
    <p>para finalizar el proceso de registro requerimos que</p>
    <p>confirme la direcci&oacute;n ingresada haciendo click en el v&iacute;nculo</p>
    <p>que se encuentra en el mensaje enviado.</p>
    <p>&#161;Gracias por contar con Symplifica&#33;</p>
    <p><a href="/" class="btn btn-default">Entendido</a></p>
{% endblock fos_user_content %}
