{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container block-Intro-green">
        <div class="container">
            <div class="col-sm-3 col-md-2">
                <div class="boxIntro-Heading"><img src="/img/check-in.png"></div>
            </div>
            <div class="col-sm-8 col-md-9 col-xs-12 up-Intro">Hemos enviado un correo electr&oacute;nico<br /> a la direcci&oacute;n ingresada</div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 contenMessage">
            <div class="" id="info1">
                <p class="lead">Para finalizar el proceso de registro requerimos que confirme la direcci&oacute;n ingresada haciendo click en el v&iacute;nculo que se encuentra en el mensaje enviado.
                </p>
                <h4>¡Gracias por contar con <strong style="color:#1fcecb">Symplifica</strong>!</h4>
            </div>
        </div>
        
        <div class="col-sm-12 col-xs-12 center">
            <p><a href="/" class="btn btn-default btn-orange" role="button">Entendido</a></p>
        </div>

   </div>
   <br /><br />
{% endblock body %}
