{% extends "::new-design/public.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<div id="postRegistrationContainer" class="row-fluid clearfix">

    <div class="topBackgroundImage">
        <h2>Revisa tu correo</h2>
        <span>Estas cerca de poder disfrutar de Symplifica</span>
    </div>
    <div class="mainText">
        <h3>Hemos enviado un correo electrónico <br />a la dirección ingresada</h3>
        <span>Para finalizar el proceso de registro requerimos que confirmes tu <br />dirección haciendo click en el vinculo que se encuentra en el mensaje enviado.</span>
        <br />
        <br />
        <a class="btn btn-registro" href="/">&nbsp;&nbsp;Entendido&nbsp;&nbsp;</a>
        <br />
    </div>
    <div class="subText">
        <h3>¡Gracias por contar con Symplifica!</h3>
    </div>

</div>
    <!-- Google Code for Intenci&oacute;n de registro Conversion Page -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 881912777;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "BvKnCMy1pmoQydfDpAM";
        var google_remarketing_only = false;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/881912777/?label=BvKnCMy1pmoQydfDpAM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

<!--
	<div class="container block-Intro-green">
        <div class="container">
            <div class="col-sm-3 col-md-2">
                <div class="boxIntro-Heading"><img src="/img/check-in.png"></div>
            </div>
            <div class="col-sm-8 col-md-9 col-xs-12 up-Intro">Hemos enviado un correo electr&oacute;nico<br /> a la direcci&oacute;n ingresada</div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 contenMessage">
            <div class="" id="info1">
                <p class="lead">Para finalizar el proceso de registro requerimos que confirme la direcci&oacute;n ingresada haciendo click en el v&iacute;nculo que se encuentra en el mensaje enviado.
                </p>
                <h4>¡Gracias por contar con <strong style="color:#1fcecb">Symplifica</strong>!</h4>
            </div>
        </div>
        
        <div class="col-sm-12 col-xs-12 center">
            <p><a href="/" class="btn btn-orange" role="button">Entendido</a></p>
        </div>

   </div>
   <br /><br />
-->
{% endblock body %}
