{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block sidebar %}{% endblock sidebar %}
{% block fos_user_content %}
{% block body %}

    <div class="row-fluid block-Intro-green">
        <div class="container">
            <div class="col-sm-3 col-md-2">
                <div class="boxIntro-Heading"><img src="/img/check-in.png"></div>
            </div>
            <div class="col-sm-8 col-md-9 col-xs-12 up-Intro">Su registro finaliz&oacute; con &eacute;xito&#33;</div>
        </div>
    </div>


    <!--
    <div class="container topArea">
        <div class="col-sm-8 col-sm-offset-3 contenMessage">
            <div class="" id="info1">
                <p class="lead">Antes de comenzar, le recomendamos tener presente que el proceso a seguir<br> cuando contrata un empleado es el siguiente:</p>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 firstBlock">
            <div class="col-sm-7 col-xs-12 blockLeftBefore center lineDivider">
                <p>Antes de ingresar a trabajar</p>
                <div class="lineDivider"></div>
                <div class="lineDividerH"></div>
                <div class="col-sm-6 col-xs-12">
                    <div class="col-sm-6 col-xs-6">
                        <span class="numberAT">1</span>
                        <img src="/img/1-iconExit-Step.png">
                        <span class="txtAU">Verificación de seguridad de la persona a contratar</span>
                        <div class="lineDivider"></div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <span class="numberAT">2</span>
                        <img src="/img/2-iconExit-Step.png">
                        <span class="txtAU">Exámen médico de ingreso</span>
                        <div class="lineDivider"></div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <span class="txtAT"><bl>Symplifica</bl> le ofrece la manera de hacerlo</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <span class="numberAT">3</span>
                    <img src="/img/3-iconExit-Step.png">
                    <span class="txtAU">Establecer condiciones de contrato y firmarlo</span>
                    <div class="lineDivider"></div>
                    <div class="">
                        <span class="txtAT"><bl>Symplifica</bl> cuenta con herramientas para generarlo</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <span class="numberAT">4</span>
                    <img src="/img/4-iconExit-Step.png">
                    <span class="txtAU">Afiliación al empleado y al empleador a Seguridad Social</span>
                    <div class="lineDivider"></div>
                    <div class="">
                        <span class="txtAT">¡<bl>Symplifica</bl> hace las diligencias por usted!</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-xs-12 blockRightAfter center">
                <p>Una vez ingresa a trabajar</p>
                <div class="lineDivider"></div>
                <div class="lineDividerH"></div>
                <div class="col-sm-4 col-xs-6">
                    <span class="numberAT">5</span>
                    <img src="/img/5-iconExit-Step.png">
                    <span class="txtAU">Entrega formal de puesto de trabajo según lo establece la ley</span>
                    <div class="lineDivider"></div>
                    <div class="">
                        <span class="txtAT"><bl>Symplifica</bl> le brinda recursos para hacerlo</span>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <span class="numberAT">6</span>
                    <img src="/img/6-iconExit-Step.png">
                    <span class="txtAU">Liquidación y pago de sueldo y aportes a Seguridad Social</span>
                    <div class="lineDivider"></div>
                    <div class="">
                        <span class="txtAT">En <bl>Symplifica</bl> puede pagar con un solo clic</span>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <span class="numberAT">7</span>
                    <img src="/img/7-iconExit-Step.png">
                    <span class="txtAU">Gestión de la información relacionada al empleado de acuerdo a lo exigido por la ley</span>
                    <div class="lineDivider"></div>
                    <div class="">
                        <span class="txtAT"><bl>Symplifica</bl> compila y almacena la información que lo mantendrá seguro</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            <p><a href="javascript:void(0)" onclick="javascript:nextInfo()" class="btn btn-default" role="button">Siguiente</a></p>
        </div>
    </div>
    -->
    <div class="container bottomArea" style="display:block">
        <div class="page-header" id="info2" >
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2 contenMessage">
                    <div class="" id="info1">
                        <p class="lead">Ahora s&iacute;, est&aacute; todo listo para que gestione a sus empleados de forma eficiente y segura</p>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 bodyMessage">
                    <p>Para sacar m&aacute;ximo provecho de Symplifica, debe iniciar haciendo lo siguiente:</p>
                    <div class="col-sm-12 col-xs-12 graficBlock">
                        <div class="col-sm-4 col-xs-12 AR1">
                            <span><b>1</b>Ingresar su información como empleador</span>
                        </div>
                        <div class="col-sm-4 col-xs-12 AR2">
                            <span><b>2</b>Ingresar la información de sus empleados</span>
                        </div>
                        <div class="col-sm-4 col-xs-12 AR3">
                            <span><b>3</b>Ingresar la información de afiliación a Seguridad Social</span>
                        </div>
                        <div class="col-sm-12 col-xs-12 AR4 center">
                            <strong>¿No está afiliado?</strong> <em>¡Tranquilo! Nosotros le ayudamos</em>
                        </div>
                    </div>
                    <p>Para facilitar el proceso con los siguientes documentos:</p>
                    <ul>
                        <li><img src="/img/7-iconExit-Step.png"><span>Documento de identidad del empleador</span></li>
                        <li><img src="/img/8-iconExit-Step.png"><span>RUT (Registro &Uacute;nico Tributario) del empleador</span></li>
                        <li><img src="/img/7-iconExit-Step.png"><span>Documento de identidad del(los) empleado(s)</span></li>
                        <li><img src="/img/9-iconExit-Step.png"><span>Datos de contacto del(los) empelado(s)</span></li>
                        <li><img src="/img/10-iconExit-Step.png"><span>Contrato con el(los) empleado(s). </br><small>Si no tiene, con nuestra herramienta puede generarlo</small></span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 center">
                <a href="{{ path('edit_profile') }}" class="btn btn-orange" role="button">Entendido</a>
            </div>
        </div>
    </div>
    <br /><br />
{% endblock body %}
{% endblock fos_user_content %}
{% block javascripts %}
{{ parent() }}
<script>
function nextInfo() {
    //$("#info1").hide();
    $(".topArea").hide();
    $(".bottomArea").show();
}
</script>
{% endblock javascripts %}
