{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}{{ subject }}{% endautoescape %}{% endblock %}
{% block body_text %}
    {% autoescape false %}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <title>Responsive email</title>
    <style type="text/css">
      body {margin: 10px 0; padding: 0 10px; background: #F9F2E7; font-size: 13px;}
      table {border-collapse: collapse;}
      td {font-family: arial, sans-serif; color: #333333;}

      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {
          -webkit-text-size-adjust:none !important;
        }
        table {width: 100% !important}

        .responsive-image img {
          height: auto !important;
          max-width: 50% !important;
          width: 50% !important;
        }
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="640" bgcolor="#FFFFFF">
            <tr>
              <td bgcolor="#424C59" style="font-size: 0; line-height: 0; padding: 0 10px;" height="80" align="center" class="responsive-image">
                <img src="logo.png" alt="" />
              </td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
            <tr>
              <td style="padding: 10px 10px 20px 10px; text-align: center">
                <br /><br />
                <div style="font-family: 'Open Sans', sans-serif; font-weight: 600; color:#5D5D5D; font-size: 20px">¿Cómo crear una cuenta<br />en Daviplata para tu empleado?</div>
                <br /><br />
                <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#858789; font-size: 17px; width:80%;margin:0 auto">Si deseas crear la cuenta de Daviplata sólo debes seguir las instrucciones de este video:</div><br /><br />
                <a href="https://www.youtube.com/watch?v=2An52p799Fk" style="text-decoration:none" target="_blank"><div style="background:#DF9036; height: 35px; font-size:14px; width: 170px; margin: 0 auto; color:#FFFFFF;font-family: 'Open Sans', sans-serif; font-weight: 600; padding: 10px 0 0 0">Ver instructivo</div></a><br /><br />
                <div style="font-family: 'Open Sans', sans-serif; font-weight: 300; color:#858789; font-size: 20px">O seguir el paso a paso en este link:</div><br /><br />
                <div style="font-size: 15px; font-family: 'Open Sans', sans-serif; font-weight: 600; font-style: italic; width: 70%; margin: 0 auto">
                  <a href="https://daviplata.com/wps/portal/daviplata/Home/ComoActivarse/ComoActivarseMovistar/!ut/p/b1/jc5NDoIwEIbhs3CCGWipbAdpK1UQokTpxmBiCJGfjfH8VuPKRHR2kzxf8oKFWiBiyH22gCPYsbl3bXPrprHpn78VJxaVPDdxkC3zhJDKXUVbYZhW3IHaAa7TjS9FQaLYKyShZBpkLNDE_tvjlyP8tTdg2346u9QD2A9cJdLhNYay8o2O2RvMxb7ATE2-moYLDLZX0bUrWvK8Byb2A-A!/dl4/d5/L2dBISEvZ0FBIS9nQSEh/" style="text-decoration:none; color: #DF9036;:">http://bit.ly/1PaimWx</a><br />
                </div>
              </td>
            </tr>





            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
            <tr>
              <td bgcolor="#485465">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                  <tr>
                  	<td style="color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300;">Siguenos
                    <a href="https://www.facebook.com/Symplifica-1538503439800792/timeline"><img src="face.png" /></a>
                    <a href="https://twitter.com/symplifica_?lang=en"><img src="link.png" /></a>
                    <a href="https://www.linkedin.com/company/symplifica?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10358058%2Cidx%3A1-1-1%2CtarId%3A1456525736089%2Ctas%3Asymplifica"><img src="twe.png" /></a>
                    </td>
                  </tr>

                  <tr>
                  	<br>
                    <td style="padding: 0 10px; color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Términos y Condiciones I Copyright © Todos los derechos reservados Sympliﬁca
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock %}
