{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.email}) }} a Symplifica
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
&#161;Bienvenido&#33;

A partir de ahora cuenta con acceso a todas las herramientas que Symplifica tiene para usted.

Verificaci&#243;n de  seguridad y ex&#225;men m&#233;dico de la persona a contratar

Generaci&#243;n de contrato

Afiliaci&#243;n al empleado y al empleador a Seguridad Social

Gesti&#243;n de la informaci&#243;n relacionada al empleado de acuerdo a lo exigido por la ley

Liquidaci&#243;n y pago de sueldo y aportes a Seguridad Social

Symplifica le obsequia desde hoy UN MES de servicio completo, terminando el d&#237;a 17 de enero de 2016

Podr&#225; recibir OTRO MES ADICIONAL por cada persona a la que usted refiera y adquiera alguno de nuestros paquetes de servicio usando el siguiente c&#243;digo:
CAR2309ZY

Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor a&#250;n, minizaremos al m&#225;ximo el riesgo de eventualidades a futuro.

Atentamente,



CAMILO M&#201;NDEZ
Director Symplifica
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Symplifica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Open Sans", Arial;
            background: #fff;
            width: 100%;
            margin: 0px;
            padding: 0px;
            color: #4B4B4B;
        }
        h1 {
            font-size: 32px;
        }
        p, ul {
            font-size: 16px;
            font-weight: 100;
        }
        p strong {
            font-weight: bold;
        }
        .headbck {
            background: #3b4b5a;
            display: block;
            border-bottom: 1px solid #fff;
            height: 80px;
            padding-top: 80px;
        }
        .blockBlueCentral, .blockGreenCentral {
            background: #00cdcc;
            display: block;
            padding: 30px 0px;
            margin: 25px 0px;
            font-size: 16px;
        }
        .blockBlueCentral a {
            color: #fff;
            text-decoration: none;
        }
        .blockGreenCentral {
            background: #3b4b5a;
            position: relative;
        }
        .blockGreenCentral p {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }
        .imgUp {
            text-align: center;
        }
        .contentSection {
            margin-left: 180px;
        }
        .contentSection .code {
            font-size: 48px;
            color: #00CDCC;
        }
        .contentSection .socials a img {
            display: inline-block;
            margin-right: 15px;
        }
        .boxSquareIcon {
            background: #00cfcc;
            width: 102px;
            height: 102px;
            padding: 25px;
            text-align: center;
            margin-left: 120px;
            position: absolute;
        }
        .boxSquareIcon img {
            border: 2px solid #9dedec;
        }
        footer {
            bottom: 0px;
            width: 100%;
            background-color: #EDEDED;
            height: 60px;
            display: block;
            margin-top: 30px;
            padding-top: 5px;
        }
        footer > .container {
            margin-top: 11px;
        }
        .container {
            width: 980px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .container ul li {
            list-style: none;
            margin-bottom: 10px;
        }
        .container ul li img {
            margin-right: 15px;
        }
        .container m {
            color: #00cdcc;
        }
        footer > .container > div {
            height: 37px;
            border-right: 1px solid #919191;
        }
        .col-sm-2, .col-sm-5 {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .col-sm-2 {
            width: 20%;
        }
        .col-sm-5 {
            width: 70%;
        }
        footer > .container > div.logo img {
            margin-top: 5px;
        }
        footer > .container > div.links > div > a {
            color: #333;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }
        footer > .container > div.social .red > a {
            display: block;
            width: 100%;
            height: 100%;
        }
        .blockBlueCentral a:hover  {
            text-decoration: underline;
        }
        footer > .container > div.links > div {
            padding-left: 0px;
        }
        footer > .container > div:last-child {
            border: medium none;
        }
        footer > .container > div.social {
            padding-top: 4px;
        }
        footer > .container > div.social > div {
            float: left;
        }
        footer > .container > div.social .red.facebook {
            background-position: 0px center;
        }
        footer > .container > div.social .red.linkedin {
            background-position: -41px center;
        }
        footer > .container > div.social .red.twitter {
            background-position: -82px center;
        }
        footer > .container > div.social .terminos {
            color: #333;
            font-size: 12px;
        }
        footer > .container > div.social .red {
            width: 32px;
            height: 32px;
            margin-right: 9px;
            background-image: url("http://www.symplifica.com/public/img/mail/redes.png");
        }
    </style>
  </head>
  <body>
    <header>
        <div class="headbck">
            <div class="container">
                <a href=""><img src="http://www.symplifica.com/public/img/mail/logo.png" alt="Symplifica"></a>
            </div>
        </div>
    </header>
    <section>
        <div class="imgUp">
            <img src="http://www.symplifica.com/public/img/mail/imgUpBanner3.png" alt="Symplifica">
        </div>
    </section>
    <section>
        <div class="container">
            <h1><strong>¡Bienvenido!</strong></h1>
            <p>A partir de ahora cuenta con acceso a todas las herramientas que Symplifica tiene para usted.</p>
            <ul>
                <li><img src="http://www.symplifica.com/public/img/mail/icon-checking.png">Verificación de  seguridad y exámen médico de la persona a contratar</li>
                <li><img src="http://www.symplifica.com/public/img/mail/icon-checking.png">Generación de contrato</li>
                <li><img src="http://www.symplifica.com/public/img/mail/icon-checking.png">Afiliación al empleado y al empleador a Seguridad Social</li>
                <li><img src="http://www.symplifica.com/public/img/mail/icon-checking.png">Gestión de la información relacionada al empleado de acuerdo a lo exigido por la ley</li>
                <li><img src="http://www.symplifica.com/public/img/mail/icon-checking.png">Liquidación y pago de sueldo y aportes a Seguridad Social</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="blockGreenCentral">
            <!--
            <div class="boxSquareIcon">
                <img src="http://www.symplifica.com/public/img/mail/square1.png">
            </div>
            -->
            <div class="container">
                <div class="contentSection">
                    <p>Symplifica <m><strong>le obsequia desde hoy UN MES</strong></m> de servicio completo, terminando el día {{ fechaFin }}</p>
                    <p>Podrá recibir OTRO MES ADICIONAL por cada persona a la que usted refiera y adquiera alguno de nuestros paquetes de servicio usando el siguiente código:</p>
                    <span class="code"><strong>{{ codigoReferidos }}</strong></span>
                    <p>¡Compártalo con sus amigos y obtenga los beneficios!</p>
                    <span class="socials">
                        <a href=""><img src="http://www.symplifica.com/public/img/mail/icon-face.png"></a><a href=""><img src="http://www.symplifica.com/public/img/mail/icon-twitter.png"></a><a href=""><img src="http://www.symplifica.com/public/img/mail/icon-googleplus.png"></a><a href=""><img src="http://www.symplifica.com/public/img/mail/icon-mail.png"></a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p>Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor aún, minizaremos al máximo el riesgo de eventualidades a futuro.</p>
            <p>Atentamente</p>
            <span><strong>CAMILO MÉNDEZ</strong><br /><em style="display:block">Director Symplifica</em></span>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="col-sm-2 logo">
                <img src="http://www.symplifica.com/public/img/mail/logo-oscuro.png" alt="Symplifica" class="hidden-sm img-responsive"/>
            </div>
            <div class="col-sm-5 social">
                <div class="red facebook"><a href="#" target="_blank"></a></div>
                <div class="red linkedin"><a href="#" target="_blank"></a></div>
                <div class="red twitter"><a href="#" target="_blank"></a></div>
                <div class="terminos">
                    Términos y Condiciones<br />
                    Copyright © Todos los derechos reservados Symplifica
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
{% endblock %}