{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Confirma tu correo en Symplifica{% endautoescape %}{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.email, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Symplifica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Open Sans",Helvetica,Arial;
            background: #fff;
            width: 100%;
            margin: 0px;
            padding: 0px;
            color: #4B4B4B;
        }
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 18px;
            color: #87898C;
/*             font-weight: 400; */
        }
        p strong {
            font-weight: bold;
            color: #5D5D5E;
            font-size: 24px;
        }
        .headbck {
            background: #3C4C5A;
            display: block;
            border-bottom: 1px solid #fff;
            height: 60px;
            padding-top: 10px;
            text-align: center;
        }
        .blockBlueCentral {
            color:#00cdcc;
            text-decoration:none;
            display:inline-block;
            min-height:38px;
            line-height:38px;
            padding-top:0;
            padding-right:16px;
            padding-bottom:0;
            padding-left:16px;
            border:0;
            outline:0;
            background-color:#00cdcc;
            font-size:20px;
            font-style:normal;
            text-align:center;
            white-space:nowrap;
            border-radius:999em
        }
        .url {
            color: #39C0C3;
            text-decoration: none;
        }
        .imgUp {
            text-align: center;
        }
        .container {
            width: 100%;
            text-align: center;
/*             padding-right: 15px; */
/*             padding-left: 15px; */
/*             margin-right: auto; */
/*             margin-left: auto; */
        }
        .container m {
            color: #00cdcc;
        }
        .col-sm-2, .col-sm-5 {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .col-sm-2 {
            width: 20%;
        }
        .col-sm-5 {
            width: 70%;
        }
        .blockBlueCentral a:hover  {
            text-decoration: underline;
        }
        .btn-conf {
            margin-bottom: 30px;
            margin-top: 15px;
            background-color: #F79129; /* #fd9626*/
            box-shadow: 0 2px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
            color: #fff;
            font-weight: 700;
/*             text-shadow: 1px 1px 1px #333; */
            display: inline-block;
            padding: 6px 12px;
            font-size: 18px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px;
        }
    </style>
  </head>
  <body style="font-family: Open Sans,Helvetica,Arial">
    <header>
        <div class="headbck">
            <a href=""><img src="http://www.symplifica.com/public/img/mail/new-icono-symplifica.png" alt="Symplifica"></a>
        </div>
    </header>
    <section class="container" style="padding-top: 35px;">
        <img src="http://www.symplifica.com/public/img/mail/new-check.png" alt="Symplifica" />
        <p style="padding-top: 5px;">Estás muy cerca de acceder a la plataforma más
        conveniente para administrar a tus empleados.</p>
    </section>
    <section class="container" style="padding-top: 10px;">
        <p><strong>Para ﬁnalizar tu registro</strong><br />
        haz click en el siguiente link:</p>
    </section>
    <section class="container">
        <button class="btn-conf" href="{{ confirmationUrl }}">Confirmar email</button>
    </section>
    <section class="container">
        <p><strong>ó</strong></p>
    </section>
    <section class="container">
        <p>cópialo y pégalo en tu navegador</p>
    </section>
    <section class="container">
        <a class="url" href="{{ confirmationUrl }}" target="_blank">{{ confirmationUrl }}</a>
    </section>
  </body>
</html>
{% endblock %}
