{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.email}) }}
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.email, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <title>Symplifica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: "Open Sans";
            background: #fff;
            width: 100%;
            margin: 0px;
            padding: 0px;
            color: #4B4B4B;
        }
        h1 {
            font-size: 32px;
        }
        p {
            font-size: 16px;
            font-weight: 100;
        }
        p strong {
            font-weight: bold;
        }
        .headbck {
            background: #3b4b5a;
            display: block;
            border-bottom: 1px solid #fff;
            height: 80px;
            padding-top: 80px;
        }
        .blockBlueCentral {
            background: #00cdcc;
            display: block;
            padding: 30px 0px;
            margin: 25px 0px;
            font-size: 16px;
        }
        .blockBlueCentral a {
            color: #fff;
            text-decoration: none;
        }
        .imgUp {
            text-align: center;
        }
        footer {
            bottom: 0px;
            width: 100%;
            background-color: #EDEDED;
            height: 60px;
            display: block;
            margin-top: 30px;
            padding-top: 5px;
        }
        footer > .container {
            margin-top: 11px;
        }
        .container {
            width: 980px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .container m {
            color: #00cdcc;
        }
        footer > .container > div {
            height: 37px;
            border-right: 1px solid #919191;
        }
        .col-sm-2, .col-sm-5 {
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        .col-sm-2 {
            width: 20%;
        }
        .col-sm-5 {
            width: 70%;
        }
        footer > .container > div.logo img {
            margin-top: 5px;
        }
        footer > .container > div.links > div > a {
            color: #333;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }
        footer > .container > div.social .red > a {
            display: block;
            width: 100%;
            height: 100%;
        }
        .blockBlueCentral a:hover  {
            text-decoration: underline;
        }
        footer > .container > div.links > div {
            padding-left: 0px;
        }
        footer > .container > div:last-child {
            border: medium none;
        }
        footer > .container > div.social {
            padding-top: 4px;
        }
        footer > .container > div.social > div {
            float: left;
        }
        footer > .container > div.social .red.facebook {
            background-position: 0px center;
        }
        footer > .container > div.social .red.linkedin {
            background-position: -41px center;
        }
        footer > .container > div.social .red.twitter {
            background-position: -82px center;
        }
        footer > .container > div.social .terminos {
            color: #333;
            font-size: 12px;
        }
        footer > .container > div.social .red {
            width: 32px;
            height: 32px;
            margin-right: 9px;
        }
    </style>
  </head>
  <body>
    <header>
        <div class="headbck">
            <div class="container">
                <a href=""><img src="http://www.symplifica.com/public/img/mail/logo.png" alt="Symplifica"></a>
            </div>
        </div>
    </header>
    <section>
        <div class="imgUp">
            <img src="http://www.symplifica.com/public/img/mail/imgUpBanner1.png" alt="Symplifica"><img src="http://www.symplifica.com/public/img/mail/imgUpBanner2.png" alt="Symplifica">
        </div>
    </section>
    <section>
        <div class="container">
            <h1><strong>!Ya falta poco!</strong></h1>
            <p>Está a un paso de hacer uso de la herramienta más efectiva para el manejo de sus empleados, pago de sueldo y aportes a seguridad social.</p>
            <p>Para finalizar el proceso de registro debe <m><strong>hacer clic</strong></m> en el siguiente vínculo, o cópielo y péguelo en la casilla Dirección de su navegador:</p>
        </div>
    </section>
    <section>
        <div class="blockBlueCentral">
            <div class="container">
                <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p>Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor aún, minizaremos al máximo el riesgo de eventualidades a futuro.</p>
            <p>Atentamente</p>
            <span><strong>CAMILO MÉNDEZ</strong></br><em>Director Symplifica</em></span>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="col-sm-2 logo">
                <img src="http://www.symplifica.com/public/img/mail/logo-oscuro.png" alt="Symplifica" class="hidden-sm img-responsive"/>
            </div>
            <div class="col-sm-5 social">
                <div class="red facebook" style="background-image: url(http://www.symplifica.com/public/img/mail/redes.png);"><a href="#" target="_blank"></a></div>
                <div class="red linkedin" style="background-image: url(http://www.symplifica.com/public/img/mail/redes.png);"><a href="#" target="_blank"></a></div>
                <div class="red twitter" style="background-image: url(http://www.symplifica.com/public/img/mail/redes.png);"><a href="#" target="_blank"></a></div>
                <div class="terminos">
                    Términos y Condiciones<br />
                    Copyright © Todos los derechos reservados Symplifica
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
{% endblock %}
