{% extends "::base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="demo" href="{{ asset('public/css/demo.css') }}" />   
{% endblock %}
{% block content %}
	<form>
		<label>CC number <input></label>

		<p class="log"></p>
	</form>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ asset('public/js/jquery.creditCardValidator.js') }}"></script>	
	<script>
	    $(function() {
	        $('input').validateCreditCard(function(result) {
	            $('.log').html('Card type: ' + (result.card_type == null ? '-' : result.card_type.name)
	                     + '<br>Valid: ' + result.valid
	                     + '<br>Length valid: ' + result.length_valid
	                     + '<br>Luhn valid: ' + result.luhn_valid);

	        });
	    });
	</script>	
{% endblock %}