{% extends "::new-design/public.html.twig" %}

{% block body %}

    <style type="text/css">
        input {
            margin: 10px 0
        }

        #req_pass {
            background: #5D5D5D;
            color: #FFF;
            padding: 0 0 1px 0;
            font-weight: 100;
        }

        @media only screen and (max-width: 480px) {
            .smallOrangeBox {
                width: 90%
            }
        }
    </style>
    <div id="registrationContainer" class="row-fluid clearfix"
         style="background-color: #3c4b5a; padding: 105px 0 30px 0;">
        <div class="smallOrangeBox">
            <div class="smallOrangeBoxTitle"><img src="/img/logo-white.png" class="boxImagetitle"/></div>
            <div class="smallOrangeBoxContent">
                <!--<h3>¿Empezamos?</h3>-->
                <span>Estamos listos para facilitarte la <br/>gestión de tus empleados domésticos</span>
                <span class="light-text">El primer mes es gratis</span>
                <!--<span class="light-text">Puedes registrarte gratis de dos maneras</span>-->
                <hr class="smallDivider"/>
                <div id="errorss" style="color: red;">
                    {% if errorss is defined %}
                        {{ errorss }}
                    {% endif %}
                </div>
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                <div class="registrationSocialNetworks">
                    <hr class="smallDivider"></hr>
                    <span>o puedes registrarte también con tu red social favorita</span>
                    {% include "RocketSellerTwoPickBundle:General:redes-login.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block styles %}
    <style type="text/css">
        .btn.disabled {
            cursor: not-allowed;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //         $("#chktyc").change(function () {
        //             if ($(this).is(':checked')) {
        //                 $("#btnSubmit").prop('disabled', false);
        //             } else {
        //                 $("#btnSubmit").prop('disabled', true);
        //             }
        //         });
        $('.fos_user_registration_register input[id=chktyc]').on('change invalid', function () {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('Debes leer y aceptar los términos y condiciones');
            }
        });

        // Verifying the password.
        // We hide the requirements, until the user hits the password.
        $("#req_pass").hide();
        $('#app_user_registration_form_plainPassword').attr('oninvalid', 'setCustomValidity("Tu contraseña no cumple con nuestros parametros de seguridad")');
        $('#app_user_registration_form_plainPassword').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_name').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_name').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_lastName').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_lastName').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_email').attr('oninvalid', 'setCustomValidity("El correo escrito no es valido")');
        $('#app_user_registration_form_email').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_creationCode').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_creationCode').attr('oninput', "setCustomValidity('')");

        // This function checks for all the requirements of the password.
        function checkReq() {
            // First show everything.
            $("#carac8").show();
            $("#mayus").show();
            $("#minu").show();
            $("#num").show();
            $("#req_pass").show();

            var completo = 0;
            var pass = $("#app_user_registration_form_plainPassword").val();
            // Check for size.
            if (pass.length >= 8) {
                $("#carac8").hide();
                completo++;
            }

            // Check for a capital letter.
            for (var i = 0; i < pass.length; i++) {
                character = pass.charAt(i);
                if (character != character.toLowerCase()) {
                    // The character is uppercase.
                    $("#mayus").hide();
                    completo++;
                    break;
                }
            }
            // Check for a lowercase letter.
            for (var i = 0; i < pass.length; i++) {
                character = pass.charAt(i);
                if (character == character.toLowerCase()) {
                    // The character is lowercase.
                    $("#minu").hide();
                    completo++;
                    break;
                }
            }
            // Check for numbers.
            var matches = pass.match(/\d+/g);
            if (matches != null) {
                $("#num").hide();
                completo++;
            }
            if (completo == 4) {
                $("#req_pass").hide();
            }
        }


        // We show it on focus.
        $("#app_user_registration_form_plainPassword").focus(function () {
            checkReq();
        });


        $("#app_user_registration_form_plainPassword").keyup(function (event) {
            // We check each of the conditions.
            checkReq();
        });


    </script>
{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet"
          type="text/css">
    <title>Responsive email</title>
    <style type="text/css">
        body {
            margin: 10px 0;
            padding: 0 10px;
            background: #F9F2E7;
            font-size: 13px;
        }

        table {
            border-collapse: collapse;
        }

        td {
            font-family: arial, sans-serif;
            color: #333333;
        }

        @media only screen and (max-width: 580px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            table {
                width: 100% !important
            }

            .responsive-image img {
                height: auto !important;
                max-width: 50% !important;
                width: 50% !important;
            }
        }
    </style>
