{% extends "::base.html.twig" %}
{% set body_color = "#3c4b5a" %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .btn.disabled{
            cursor: not-allowed;
        }
    </style>    
{% endblock %}

{% block body %}
    <div class="row-fluid block-Intro-blue hidden">
        <div class="up-Intro">Estás a un paso de poder gestionar</div>
        <div class="down-Intro">con un solo clic a tus empleados</div>
    </div>
    <div class="container">
        <div class="col-sm-12 txt-A1-register">
            <span>Estamos listos para facilitarte la gestión de tus empleados</span>
            <m>¿Empezamos?</m>
            <span>Regístrate gratis, puedes hacerlo de dos formas:</span>
        </div>
        <div class="col-md-1"></div>
        <div id='' class='col-sm-12 col-md-5 registro-left'>
            <div class="left-headline">
                <img src="/img/arrow.png">
                <span style="line-height: 60px;">Regístrate con tus datos personales</span>
            </div>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
        </div>
        <div class="col-md-1"></div>
        <div id='' class='col-sm-12 col-md-4'>
            <div class="right-headline">
                <img src="/img/heart.png">
                <span>Regístrate con tu red social favorita</span>
            </div>
            {% include "RocketSellerTwoPickBundle:General:redes-login.html.twig" %}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#chkTOS").change(function () {
            if ($(this).is(':checked')) {
                $("#btnSubmit").removeClass('disabled');
            } else {
                $("#btnSubmit").addClass('disabled');
            }
        });
    </script>
{% endblock %}