{% extends "::new-design/public.html.twig" %}

{% block body %}
<div id="registrationContainer" class="row-fluid clearfix" style="background-color: #3c4b5a; padding-bottom: 30px;">

    <div class="smallOrangeBox">
        <div class="smallOrangeBoxTitle"><img src="/img/logo-white.png" class="boxImagetitle"></div>
        
        <div class="smallOrangeBoxContent">
            
                <h3>¿Empezamos?</h3>
                <span>Estamos listos para facilitarte la <br />gestión de tus empleados</span>

                <span class="light-text">Puedes registrarte gratis de dos maneras</span>
                <hr class="smallDivider" />
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}

                

                <div class="registrationSocialNetworks">
                    <hr class="smallDivider" />
                    <span>o puedes registrarte también con tu red solcial favorita</span>
                    {% include "RocketSellerTwoPickBundle:General:redes-login.html.twig" %}
                </div>


        </div>
    </div>



</div>
{% endblock body %}
{% block styles %}
    <style type="text/css">
        .btn.disabled{
            cursor: not-allowed;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#chkTOS").change(function () {
            if ($(this).is(':checked')) {
                $("#btnSubmit").prop('disabled', false);
            } else {
                $("#btnSubmit").prop('disabled', true);
            }
        });
    </script>
{% endblock %}