{% extends "::new-design/public.html.twig" %}

{% block body %}
    <script>
        window.intercomSettings = {
            app_id: "mydavhzb",
            name: 'Anónimo', // Full name
            email: 'ninguno', // Email address
            created_at: new Date().getTime(), // Signup date as a Unix timestamp
        };
    </script>
    <script>
        (function(){
                    var w=window;
                    var ic=w.Intercom;
                    if(typeof ic==="function"){
                        ic('reattach_activator');
                        ic('update',intercomSettings);
                    }else{
                        var d=document;
                        var i=function(){
                            i.c(arguments)
                        };
                        i.q=[];
                        i.c=function(args){i.q.push(args)};
                        w.Intercom=i;
                        function l(){
                            var s=d.createElement('script');
                            s.type='text/javascript';
                            s.async=true;
                            s.src='https://widget.intercom.io/widget/mydavhzb';
                            var x=d.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s,x);
                        }
                        if(w.attachEvent){
                            w.attachEvent('onload',l);
                        }else{
                            w.addEventListener('load',l,false);
                        }
                    }
                }
        )()
    </script>

    <style type="text/css">
        input {
            margin: 10px 0
        }

        #req_pass {
            background: #5D5D5D;
            color: #FFF;
            padding: 0 0 1px 0;
            font-weight: 100;
        }

        @media only screen and (max-width: 480px) {
            .smallOrangeBox {
                width: 90%
            }
        }
    </style>
    <div id="registrationContainer" class="row-fluid clearfix" style="background-color: #3c4b5a; padding: 105px 0 30px 0;">
        <div class="smallOrangeBox">
            <div class="smallOrangeBoxTitle">
              <span class="light">¡Regístrate ahora y recibe un mes gratis!</span>
            </div>
            <div class="smallOrangeBoxContent">
                <div id="errorss" style="color: red;">
                    {% if errorss is defined %}
                        {{ errorss }}
                    {% endif %}
                </div>
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                <!--<div class="registrationSocialNetworks">
                    <hr class="smallDivider"></hr>
                    <span>o puedes registrarte también con tu red social favorita</span>
                    % include "RocketSellerTwoPickBundle:General:redes-login.html.twig" %
                </div>-->
            </div>
        </div>
    </div>
{% endblock body %}

{% block styles %}
    <style type="text/css">
        .btn.disabled{
            cursor: not-allowed;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        //         $("#chktyc").change(function () {
        //             if ($(this).is(':checked')) {
        //                 $("#btnSubmit").prop('disabled', false);
        //             } else {
        //                 $("#btnSubmit").prop('disabled', true);
        //             }
        //         });

        $('.fos_user_registration_register input[id=chktyc]').on('change invalid', function() {
            var textfield = $(this).get(0);

            // 'setCustomValidity not only sets the message, but also marks
            // the field as invalid. In order to see whether the field really is
            // invalid, we have to remove the message first
            textfield.setCustomValidity('');

            if (!textfield.validity.valid) {
                textfield.setCustomValidity('Debes leer y aceptar los términos y condiciones');
            }
            if (document.getElementById('app_user_registration_form_name').value!= null){
                var nombre = document.getElementById('app_user_registration_form_name').value;
            }else{
                var nombre = "anonymous";
            }
            if (document.getElementById('app_user_registration_form_lastName').value != null){
                nombre +=' '+document.getElementById('app_user_registration_form_lastName').value;
            }
            if (document.getElementById('app_user_registration_form_phone').value != null){
                var telefono = document.getElementById('app_user_registration_form_phone').value;
            }else{
                var telefono = "null";
            }
            if (document.getElementById('app_user_registration_form_email').value != null){
                var email = document.getElementById('app_user_registration_form_email').value;
            }else{
                var email = "ninguno";
            }
            var dateNow = new Date();
            var day= dateNow.getDate();
            if(day<10)
                day='0'+day;
            var month = dateNow.getMonth()+1;
            if (month<10)
                month='0'+month;
            var year = dateNow.getFullYear();
            var hour =  dateNow.getHours();
            var min = dateNow.getMinutes();
            var fecha = day+"/"+month+"/"+year+" "+hour+":"+min;
            alert(fecha);
            window.Intercom("trackEvent", "Intento Registro",{
                "Fecha del intento": fecha,
                "Nombre en formulario":nombre,
                "Celular en formulario":telefono,
                "Email en formulario":email,
            });
        });
        $("#codeLink").on('click', function (e) {
            e.preventDefault();
            $("#code_field").show();
        });


        // Verifying the password.
        // We hide the requirements, until the user hits the password.
        $("#req_pass").hide();
        $("#code_field").hide();
        $('#app_user_registration_form_plainPassword').attr('oninvalid', 'setCustomValidity("Tu contraseña no cumple con nuestros parametros de seguridad")');
        $('#app_user_registration_form_plainPassword').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_name').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_name').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_lastName').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_lastName').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_email').attr('oninvalid', 'setCustomValidity("El correo escrito no es valido")');
        $('#app_user_registration_form_email').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_phone').attr('oninvalid', 'setCustomValidity("El teléfono celular no es válido")');
        $('#app_user_registration_form_phone').attr('oninput', "setCustomValidity('')");

        $('#app_user_registration_form_creationCode').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
        $('#app_user_registration_form_creationCode').attr('oninput', "setCustomValidity('')");

        // This function checks for all the requirements of the password.
        function checkReq() {
            // First show everything.
            $("#carac8").show();
            $("#mayus").show();
            $("#minu").show();
            $("#num").show();
            $("#req_pass").show();

            var completo = 0;
            var pass = $("#app_user_registration_form_plainPassword").val();
            // Check for size.
            if(pass.length >= 8) {
                $("#carac8").hide();
                completo++;
            }

            // Check for a capital letter.
            for(var i = 0; i < pass.length; i++){
                character = pass.charAt(i);
                if (character != character.toLowerCase()) {
                    // The character is uppercase.
                    $("#mayus").hide();
                    completo++;
                    break;
                }
            }
            // Check for a lowercase letter.
            for(var i = 0; i < pass.length; i++){
                character = pass.charAt(i);
                if (character == character.toLowerCase()) {
                    // The character is lowercase.
                    $("#minu").hide();
                    completo++;
                    break;
                }
            }
            // Check for numbers.
            var matches = pass.match(/\d+/g);
            if (matches != null) {
                $("#num").hide();
                completo++;
            }
            if(completo == 4) {
                $("#req_pass").hide();
            }
        }


        // We show it on focus.
        $("#app_user_registration_form_plainPassword").focus(function(){
            checkReq();
        });


        $("#app_user_registration_form_plainPassword").keyup(function(event) {
            // We check each of the conditions.
            checkReq();
        });


    </script>
{% endblock %}
