{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('api_public_post_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <input type="email" class="form-control" id="username" name="username" required="required" placeholder="Email" style="width: 100%;"/>
        <div class="alert alert-danger" role="alert" style="display: none">No fue posible enviar el correo con el link para restablecer la contraseña</div>
    </div>
    <div style="text-align: center">
        <button id="_submit" name="_submit" type="submit" class="btn btn-symplifica" style="margin-top: 20px;" data-loading-text="Enviando..." data-complete-text="Enviado">Recuperar contraseña</button>
    </div>
</form>
<script>
$("form.fos_user_resetting_request").on('submit', function(e) {
    e.preventDefault();

    var form = $("form.fos_user_resetting_request");
    var btn = form.find("#_submit").button('loading');
    $.ajax({
        url : form.attr('action'),
        type: form.attr('method'),
        data: form.serialize()
    }).done(function( data ) {
        var div = form.parent("div");
        div.html("<div class='form-group'>Hemos enviado un mensaje a tu dirección de correo electrónico con las instrucciones para reestablecer tu contraseña.</div>" +
                "<div style='text-align: center'>" +
                    '<a class="btn btn-symplifica" href="/">Entendido</a>' +
                "</div>"
            );
        btn.button('complete');
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        console.log(jqXHR + " Server might not handle That yet " + textStatus + " " + errorThrown + " Code " + jqXHR.status);
        var alert = form.find(".alert");
        alert.slideDown();

        var code = jqXHR.status;
        if ( code == 400) {
        } else if (code = 401) {
        }

        btn.button('reset');
    });
});
</script>
