{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <input type="text" id="username" name="username" required="required" placeholder="Email" style="width: 100%;"/>
    </div>
    <div>
        <button id="_submit" name="_submit" type="submit" class="btn btn-info btn-sm pull-right" style="">Recuperar contraseña</button>
    </div>
</form>
