.basicConfirmation .blockStep .txt-AD1{margin-top:22px}.basicConfirmation .confirmationBlock{text-align:left;clear: both;width: 80%;margin: 0 auto;padding: 0;}.basicConfirmation h3{font-weight:700;color: #3C4B5A;}.basicConfirmation h2{color:#e59233;margin-top:3px}.basicConfirmation h4{font-weight:100;font-size:20px;color:#00858C}@media only screen and (max-device-width:360px){.basicConfirmation .confirmationBlock{text-align:center;width:100%;margin:0;padding:0}}

.imgpaso {
    width: 50px;
    float: left;
    margin-right: 10px;
}

.textpaso {
  float: left;
  width: 80%;
}

.border {
    border-radius: 5px;
    background: #F7F7F7;
    padding: 35px 30px 20px;
    height: auto;
    overflow: hidden;
}

.bordermediopay {
  border: 1px solid #E6E7E8;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right-susc {
  float: right;
}

.empleadosmed {
  clear: both;
}

.salariosmed {
  height: auto;
  overflow: hidden;
}
.infosalarios {
  height: auto;
    overflow: hidden;
    background: #E6E7E8;
    padding: 10px 20px;
    font-weight: bold;
    color: #5D5D5D;
    font-size: 20px;
}
.empleadosmed {
  height: auto;
  overflow: hidden;
}

.empleadomed {
  clear: both;
  border-bottom: 1px #CCC solid;
  height: auto;
  overflow: hidden;
  padding: 10px 20px;
}

.empleadofoot {
  height: auto;
    overflow: hidden;
    background: #3C4B5A;
    color: #FFF;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

.suscrip-spaces {
  width: 33.333%
}

.center {
  text-align: center;
}

.suscripcion {
  background: #C6C7CA
}

.lightpay {
  font-style: italic;
    color: #757575;
    font-weight: 100;
}

.numberpay {
    font-weight: normal;
    font-size: 17px;
    color: #9E9E9E;
    font-style: italic;
  }

  .monto {
      font-weight: 600;
      font-size: 20px;
      color: #00858C;
      font-style: italic;
    }
.contsuscripcionpago {
  width:100%
}

.nombrecont {
  width: 40%
}

.nombrefont {
    font-weight: bold;
    font-size: 20px;
    color: #00858C;
}

.paddingbottom {
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid #CCC;
}

@media only screen and (max-width: 980px) {
.paddingbottom {
    padding: 15px 0 0;}
.numberpay {
    background: #ececec;
    padding: 10px 0;
    margin-top: 15px;}
.right-susc {
  float: none;
}
.nombrecont {
    width: 100%;
    text-align: center;}
.paddingbottom {
    text-align: center;
  }

}

@media only screen and (max-width: 375px) {
  .left, .right {float:none}
  .empleadomed, .infosalarios {text-align: center;}
}
