.form-group button {
  width: 100%;
}


.textoda {
  text-align: center;
  padding: 0;
}

.spanRecuerda {
    color: #00858c;
    text-align: center;
    background: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px dashed #CCC;
    margin-top: 20px;
}

.textoda p {
    font-size: 17px;
    padding: 0 0 30px;
}
.p {
    color: #1FCECB;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #F9F9F9;
    border-radius: 5px;
    padding: 15px 15px;
}

/* The Modal (background) */
.modalito {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.85); /* Black w/ opacity */
}

/* Modal Content */
.modal-contenido {
  background-color: #273039;
  margin: auto;
  padding: 5px 0;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  height: 515px;
}

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 5px 10px 5px 0;
}

.close:hover,
.close:focus {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-contenido {
    width: 90%;
    height: 80%;
  }
}
