/* ==========================================================================
   Author's custom styles
   ========================================================================== */
span {
  font-family: "Open Sans";
  font-size: 16px;
  display: block;
  overflow: hidden;
  /*margin-bottom: 25px;*/
}
.content {
  padding-top: 30px;
  padding-bottom: 80px;
}
.center {
  text-align: center;
}
.navbar {
  background-image: none;
  background-color: #ffffff;
  border: none;
}
.navbar .navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0;
  border: none;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
  background-color: transparent;
}
.navbar .navbar-toggle .icon-bar {
  border: 1px solid #00cccc;
  height: 4px;
}
.navbar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 2px;
}
.navbar ul.navbar-nav li a {
  font-family: "Lato";
  font-weight: 300;
  font-size: 12px;
  color: #3d4c5a;
  text-transform: uppercase;
  text-shadow: none;
  border-left: 1px solid #00cdcc;
  padding: 5px 10px;
  margin: 10px 0px;
}
.navbar ul.navbar-nav li a.btn-ingresar {
  border: 2px solid #1fcecb;
  background: #1fcecb;
  padding: 6px 20px;
  color: #ffffff;
  margin-top: 7px;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
}
.navbar ul.navbar-nav li a.btn-ingresar .glyphicon {
  font-size: 11px;
}
.navbar ul.navbar-nav li a.btn-ingresar:hover {
  color: #ffffff;
  border: 2px solid #1fcecb;
}
.navbar ul.navbar-nav li a:hover {
  color: #c2c2c2;
}
.navbar ul.navbar-nav li:first-child a {
  border-left: none;
}
.navbar + .content {
  padding-top: 120px;
}
.btn.btnNext,
.btnPrevious,
.btn-default,
.btn.pull-right {
  font-family: "Open Sans";
  border: 2px solid #1fcecb;
  background: #1fcecb;
  padding: 6px 20px;
  color: #ffffff;
  margin-top: 7px;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
  text-shadow: none;
  box-shadow: none;
}
.btn:hover {
  opacity: 0.8;
}
.btnPrevious:hover,
.btn-default:hover {
  border: 2px solid #1FCECB;
  background: #00CDCC none repeat scroll 0% 0%;
  color: #fff;
}
.up-Help-Phone {
  background: #efefef;
  padding: 5px 0px;
}
.up-Help-Phone .txthelp {
  text-align: right;
}
.up-Help-Phone i.fa.fa-mobile {
  color: #00cdcc;
  font-size: 20px;
  margin: 0px 10px;
}
.txthelp span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #3c4b5a;
}
.panel.panel-info {
  border: none;
}
footer {
  width: 100%;
  background-color: #ededed;
}
@media (min-width: 992px) {
  footer {
    position: fixed;
    bottom: 0;
    height: 60px;
  }
}
footer > .container {
  margin-top: 11px;
}
@media (min-width: 992px) {
  footer > .container > div {
    height: 37px;
    border-right: 1px solid #919191;
  }
}
footer > .container > div.logo img {
  margin-top: 5px;
}
footer > .container > div.links > div {
  padding-left: 0;
}
footer > .container > div.links > div > a {
  color: #333333;
  font-size: 12px;
  font-family: "Open Sans";
  text-transform: uppercase;
}
footer > .container > div.social {
  padding-top: 4px;
}
footer > .container > div.social > div {
  float: left;
}
footer > .container > div.social .red {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  background-image: url(../img/redes.png);
}
footer > .container > div.social .red > a {
  display: block;
  width: 100%;
  height: 100%;
}
footer > .container > div.social .red.facebook {
  background-position: 0;
}
footer > .container > div.social .red.linkedin {
  background-position: -41px;
}
footer > .container > div.social .red.twitter {
  background-position: -82px;
}
footer > .container > div.social .terminos {
  color: #333333;
  font-size: 12px;
  font-family: "Open Sans";
}
footer > .container > div:last-child {
  border: none;
}
.block-Intro-blue {
  font-family: "Open Sans";
  background: #00CDCC;
  text-align: center;
  display: block;
  padding: 30px 0px;
  margin: 10px 0px;
}
.block-Intro-blue .up-Intro {
  color: #ffffff;
  font-size: 48px;
  font-weight: 100;
}
.block-Intro-blue .down-Intro {
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -2px;
}
.block-Intro-green {
  background: #3b4b5a;
  display: block;
  padding: 30px 0px;
  margin: 10px 0px 25px 0px;
  position: relative;
  height: 160px;
}
.block-Intro-green .up-Intro {
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.block-Intro-green .boxIntro-Heading {
  position: absolute;
  background: #00CDCC;
  left: 13%;
  top: 30%;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 28px 0px;
}
.block-Intro-green .boxIntro-Heading img {
  border: 2px solid #99ebeb;
}
.contenMessage p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 100;
  display: block;
  overflow: hidden;
}
.txt-A1-register {
  font-family: "Open Sans";
  color: #ffffff;
  text-align: center;
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 100;
}
.txt-A1-register m,
.txt-A1-terms a,
.block-Intro a {
  color: #00cdcc;
  font-weight: bold;
}
.block-Intro a {
  font-family: "Open Sans";
  font-size: 14px;
}
a.helpTxt {
  position: absolute;
  right: 0px;
}
.txt-A1-terms {
  font-family: "Open Sans";
  color: #ffffff;
  text-align: center;
  margin: 25px 0px;
  font-size: 14px;
  font-weight: 100;
  display: block;
}
.left-headline,
.right-headline {
  display: block;
  margin: 25px 0px;
  overflow: hidden;
  height: 70px;
}
.left-headline span,
.right-headline span {
  font-family: "Open Sans";
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.left-headline img,
.right-headline img {
  border: 2px solid #919191;
  margin-right: 10px;
  float: left;
}
.btn-facebook,
.btn-linkedin,
.btn-google {
  font-family: "Open Sans";
  background: #00cdcc;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}
.register-AS1 {
  font-family: "Open Sans";
  background: #00cdcc;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 16px;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.btn-facebook:hover,
.btn-linkedin:hover,
.btn-google:hover {
  background: #00cdcc;
}
.register-AS1:hover {
  background: #00cdcc;
  color: #ffffff;
}
.btn-social > :first-child {
  line-height: 44px;
}
.form-group input,
.form-horizontal input,
.form-group select,
.form-horizontal select,
.form-group textarea,
.form-horizontal textarea {
  font-family: ;
  background: transparent;
  border: 1px solid #919191;
  border-radius: 0px;
  padding: 10px 12px;
  color: #ffffff;
  height: auto;
  font-size: 16px;
}
.fos_user_registration_register label {
  display: none;
}
#sidebar {
  border-right: 1px solid #e9e9e9;
}
#sidebar .well {
  font-family: Lato, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 15px 24px;
  margin-bottom: 5px;
}
#sidebar .well a {
  color: #3C4B5A;
}
#sidebar .well img {
  margin-left: 40%;
}
.block-Data h1 {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: bold;
  color: #00CDCC;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.block-Data span {
  margin-bottom: 25px;
}
.page-header {
  border: none;
}
.page-header h1 small {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: bold;
  color: #00CDCC;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.panel.panel-info {
  box-shadow: none;
}
.panel.panel-info .panel-heading {
  background-image: none;
  background: none;
  border: none;
}
.panel.panel-info .panel-heading h3 {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  color: #3C4B5A;
}
.block-Intro span {
  margin-bottom: 25px;
}
.profile-Data .person {
  float: right;
}
.profile-Data .person h4 {
  font-size: 18px;
  font-family: "Open Sans";
  color: #3C4B5A;
  text-transform: uppercase;
  font-weight: bold;
}
.profile-Data .person span {
  color: #00CDCC;
}
.profile-Data .person span a {
  color: #00CDCC;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
}
.profile-Data .person div {
  padding-right: 0px;
}
.profile-Data .person div + div {
  padding-left: 0px;
}
.btn.blockStep {
  background-image: none;
  background: transparent;
  border: 1px solid #919191;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  padding: 15px;
  text-shadow: none;
  color: #919191;
}
.btn.blockStep .txt-AD1 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3C4B5A;
  white-space: normal;
}
.btn.blockStep .txt-AD1 p {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 100;
  margin-bottom: 0px;
}
.btn.blockStep .txt-AD2 {
  font-family: "Roboto Slab";
  color: #00CDCC;
  font-size: 60px;
  font-weight: bold;
}
.btn.blockStep .txt-AD2 min {
  font-size: 14px;
  color: #3C4B5A;
  font-family: "Lato";
  font-weight: 100;
}
.btn.blockStep .txt-AD3 {
  margin-top: 25px;
}
.btn.blockStep .txt-AD3 .btn.stepIni {
  background: #00CDCC;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}
.btn.blockStep:hover {
  background: #3b4b5a;
}
.btn.blockStep:hover .txt-AD1 {
  color: #fff;
}
.nav.nav-tabs {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  border-bottom: 0px;
  margin-bottom: 25px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #00CDCC;
  border-width: 2px 1px 2px 2px;
  border-color: #00CDCC;
  color: #fff;
}
.nav-tabs > li:first-child a {
  border-width: 2px 1px 2px 2px;
  border-radius: 4px 0px 0px 4px;
}
.nav-tabs > li:last-child a {
  border-width: 2px 2px 2px 1px;
  border-radius: 0px 4px 4px 0px;
}
.nav-tabs > li > a {
  margin-right: 0px;
  color: #00CDCC;
  border-radius: 0px;
  background: transparent;
  border-width: 2px 2px 2px 1px;
  border-color: #00CDCC;
}
.nav-tabs > li > a:hover {
  background: #00CDCC;
  border-color: #00CDCC;
  color: #fff;
}
.form-horizontal .spacing {
  font-family: "Lato";
  font-size: 16px;
}
.form-horizontal .spacing a {
  color: #00CDCC;
}
.form-horizontal input {
  color: #919191;
}
#registrationFormContainer .form-group input,
#registrationFormContainer .form-group select,
#registrationFormContainer .form-group textarea {
  color: #919191;
}
#registrationFormContainer label {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 100;
  color: #4B4B4B;
}
#registrationFormContainer .form-inline select {
  margin-right: 10px;
}
#basicData h2,
#contractData h2 {
  font-family: "Lato";
  font-size: 22px;
  font-weight: bold;
  color: #3C4B5A;
}
#basicData .col-sm-12,
#contractData .col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.blockUpData {
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.blockUpData img {
  border: 2px solid #919191;
}
.blockUpData div {
  text-align: center;
}
.blockUpData label {
  font-weight: bold !important;
  font-family: "Open Sans" !important;
  font-size: 18px !important;
}
ul.phones {
  padding-left: 0px;
}
ul.phones li {
  list-style: none;
}
.addPhone {
  width: 100%;
}
.addPhone i {
  color: #00CDCC;
  display: inline-block;
  width: 10%;
}
.addPhone input {
  display: inline-block;
  width: 90%;
}
.blockLeftBefore,
.blockRightAfter {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 100;
  margin-top: 20px;
}
.blockLeftBefore span,
.blockRightAfter span {
  font-weight: bold;
}
.blockLeftBefore img,
.blockRightAfter img {
  border: 2px solid #919191;
  margin-bottom: 15px;
}
.blockLeftBefore span.numberAT,
.blockRightAfter span.numberAT {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  background: #00CDCC;
  width: 40px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
.blockLeftBefore span.txtAT,
.blockRightAfter span.txtAT {
  font-style: italic;
  font-weight: 100;
}
.blockLeftBefore span.txtAT bl,
.blockRightAfter span.txtAT bl {
  color: #00CDCC;
  font-weight: bold;
}
.blockLeftBefore .lineDivider,
.blockRightAfter .lineDivider {
  height: 40px;
  width: 1px;
  border-right: 1px solid #3C4B5A;
  margin: 10px 50%;
}
.blockLeftBefore .lineDividerH,
.blockRightAfter .lineDividerH {
  height: 1px;
  width: 60%;
  border-top: 1px solid #3C4B5A;
  margin: -10px auto 0px auto;
}
.blockLeftBefore.lineDivider {
  border-right: 1px solid #e8e5e5;
}
#register_employer_youAre .radio,
#register_employer_sameWorkHouse .radio {
  text-align: left;
}
#register_employer_youAre label,
#register_employer_sameWorkHouse label {
  font-family: "Lato" !important;
  font-size: 16px !important;
  font-weight: 100 !important;
}
#register_employer_sameWorkHouse .radio {
  display: inline-block;
  width: 60px;
}
#workplacesData .saveControl,
#paymentMethod .saveControl {
  display: inline-block;
  margin-left: 20px;
}
#navbarSidebar.collapse.in .well.well-lg {
  text-align: left;
  font-size: 12px;
  font-family: "Lato";
  font-weight: 300;
  padding: 5px 0px 5px 0px;
}
#navbarSidebar.collapse.in .well.well-lg img {
  display: none;
}
@media (max-width: 480px) {
  .blockStep {
    text-align: left;
  }
}
@media (max-width: 768px) {
  .block-Intro-green {
    height: 250px;
  }
  .block-Intro-green .up-Intro {
    font-size: 22px;
  }
  .block-Intro-green .boxIntro-Heading {
    left: 5%;
    top: -10%;
    position: relative;
    width: 120px;
    height: 120px;
    padding: 12px 0px;
  }
}
@media (min-width: 768px) {
  .navbar-brand img {
    display: none;
  }
}
