/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-bottom: 80px;
  background: #3c4b5a;
}
span {
  font-family: "Open Sans";
  font-size: 16px;
  display: block;
  overflow: hidden;
  margin-bottom: 25px;
}
.content {
  padding-top: 30px;
}
.navbar {
  background-image: none;
  background-color: #ffffff;
  border: none;
}
.navbar ul.navbar-nav li a {
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #3d4c5a;
  text-transform: uppercase;
  text-shadow: none;
  border-left: 1px solid #00cdcc;
  padding: 5px 10px;
  margin: 10px 0px;
}
.navbar ul.navbar-nav li a.btn-ingresar {
  border: 2px solid #1fcecb;
  background: #1fcecb;
  padding: 6px 20px;
  color: #ffffff;
  margin-top: 7px;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
}
.navbar ul.navbar-nav li a.btn-ingresar .glyphicon {
  font-size: 11px;
}
.navbar ul.navbar-nav li a.btn-ingresar:hover {
  color: #ffffff;
  border: 2px solid #1fcecb;
}
.navbar ul.navbar-nav li a:hover {
  color: #c2c2c2;
}
.navbar ul.navbar-nav li:first-child a {
  border-left: none;
}
.navbar + .content {
  padding-top: 120px;
}
.btn:hover {
  opacity: 0.8;
}
.up-Help-Phone {
  background: #efefef;
  padding: 5px 0px;
}
.up-Help-Phone .txthelp {
  text-align: right;
}
.up-Help-Phone i.fa.fa-mobile {
  color: #00cdcc;
  font-size: 20px;
  margin: 0px 10px;
}
.txthelp span {
  font-family: "Open Sans";
  font-size: 12px;
  color: #3c4b5a;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ededed;
}
footer > .container {
  margin-top: 11px;
}
footer > .container > div {
  height: 37px;
  border-right: 1px solid #919191;
}
footer > .container > div.logo img {
  margin-top: 5px;
}
footer > .container > div.links a {
  color: #333333;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
footer > .container > div.social {
  padding-top: 4px;
}
footer > .container > div.social > div {
  float: left;
}
footer > .container > div.social .red {
  width: 32px;
  height: 32px;
  margin-right: 9px;
  background-image: url(../img/redes.png);
}
footer > .container > div.social .red > a {
  display: block;
  width: 100%;
  height: 100%;
}
footer > .container > div.social .red.facebook {
  background-position: 0;
}
footer > .container > div.social .red.linkedin {
  background-position: -41px;
}
footer > .container > div.social .red.twitter {
  background-position: -82px;
}
footer > .container > div.social .terminos {
  color: #333333;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
footer > .container > div:last-child {
  border: none;
}
.block-Intro-blue {
  font-family: "Open Sans";
  background: #00cdcc;
  text-align: center;
  display: block;
  padding: 30px 0px;
  margin: 10px 0px;
}
.block-Intro-blue .up-Intro {
  color: #ffffff;
  font-size: 48px;
  font-weight: 100;
}
.block-Intro-blue .down-Intro {
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -2px;
}
.txt-A1-register {
  font-family: "Open Sans";
  color: #ffffff;
  text-align: center;
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 100;
}
.txt-A1-register m,
.txt-A1-terms a {
  color: #00cdcc;
  font-weight: bold;
}
.txt-A1-terms {
  font-family: "Open Sans";
  color: #ffffff;
  text-align: center;
  margin: 25px 0px;
  font-size: 14px;
  font-weight: 100;
  display: block;
}
.left-headline,
.right-headline {
  display: block;
  margin: 25px 0px;
  overflow: hidden;
  height: 70px;
}
.left-headline span,
.right-headline span {
  font-family: "Open Sans";
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.left-headline img,
.right-headline img {
  border: 2px solid #919191;
  margin-right: 10px;
  float: left;
}
.btn-facebook,
.btn-linkedin,
.btn-google {
  font-family: "Open Sans";
  background: #00cdcc;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 16px;
}
.register-AS1 {
  font-family: "Open Sans";
  background: #00cdcc;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 16px;
  width: 100%;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.btn-facebook:hover,
.btn-linkedin:hover,
.btn-google:hover {
  background: #00cdcc;
}
.register-AS1:hover {
  background: #00cdcc;
  color: #ffffff;
}
.btn-social > :first-child {
  line-height: 44px;
}
.form-group input {
  font-family: "Open Sans";
  background: transparent;
  border: 1px solid #919191;
  border-radius: 0px;
  padding: 10px 12px;
  color: #ffffff;
  height: auto;
  font-size: 16px;
}
.fos_user_registration_register label {
  display: none;
}
#sidebar {
  border-right: 1px solid #e9e9e9;
}
#sidebar .well {
  font-family: Lato, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 15px 24px;
  margin-bottom: 5px;
}
#sidebar .well a {
  color: #3C4B5A;
}
#sidebar .well img {
  margin-left: 40%;
}
.block-Data h1 {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: bold;
  color: #00CDCC;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.profile-Data .person {
  float: right;
}
.profile-Data .person h4 {
  font-size: 18px;
  font-family: "Open Sans";
  color: #3C4B5A;
  text-transform: uppercase;
  font-weight: bold;
}
.profile-Data .person span {
  color: #00CDCC;
}
.profile-Data .person span a {
  color: #00CDCC;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
}
.profile-Data .person div {
  padding-right: 0px;
}
.profile-Data .person div + div {
  padding-left: 0px;
}
.btn.blockStep {
  background-image: none;
  background: transparent;
  border: 1px solid #919191;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  padding: 15px;
  text-shadow: none;
  color: #919191;
}
.btn.blockStep .txt-AD1 {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3C4B5A;
  white-space: normal;
}
.btn.blockStep .txt-AD1 p {
  font-size: 14px;
  font-family: "Lato";
  font-weight: 100;
  margin-bottom: 0px;
}
.btn.blockStep .txt-AD2 {
  font-family: "Roboto Slab";
  color: #00CDCC;
  font-size: 60px;
  font-weight: bold;
}
.btn.blockStep .txt-AD2 min {
  font-size: 14px;
  color: #3C4B5A;
  font-family: "Lato";
  font-weight: 100;
}
.btn.blockStep .txt-AD3 {
  margin-top: 25px;
}
.btn.blockStep .txt-AD3 .btn.stepIni {
  background: #00CDCC;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}
