

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@blue: #00CDCC;
@gray: #919191;
@dark_gray: #3C4B5A;
@open: "Open Sans";
@roboto: "Roboto Slab";
@lato: "Lato";

   body {
	padding-bottom:80px;
	background:#3c4b5a;
   }
   span {
   	font-family: @open;
   	font-size: 16px;
   	display: block;
   	overflow: hidden;
   	margin-bottom: 25px;
   }
   .content {
   	padding-top: 30px;
   }
   .navbar {
	background-image:none;
	background-color:#ffffff;
	border:none;
	ul.navbar-nav li a {
		font-family:Lato, sans-serif;
		font-weight:300;
		font-size:12px;
		color:#3d4c5a;
		text-transform:uppercase;
		text-shadow:none;
		border-left:1px solid #00cdcc;
		padding:5px 10px;
		margin:10px 0px;
	}
	ul.navbar-nav li a.btn-ingresar {
		border:2px solid #1fcecb;
		background:#1fcecb;
		padding:6px 20px;
		color:#ffffff;
		margin-top:7px;
		text-transform:none;
		font-weight:bold;
		font-size:16px;
		.glyphicon {
			font-size:11px;
		}
	}
	ul.navbar-nav li a.btn-ingresar:hover {
		color:#ffffff;
		border:2px solid #1fcecb;
	}
	ul.navbar-nav li a:hover {
		color:#c2c2c2;
	}
	ul.navbar-nav li:first-child a {
		border-left:none;
	}
	& + .content {
		padding-top: 120px;
	}
   }
   .btn:hover {
	opacity:0.8;
   }
   .up-Help-Phone {
	background:#efefef;
	padding:5px 0px;
	.txthelp {
		text-align:right;
	}
	i.fa.fa-mobile {
		color:#00cdcc;
		font-size:20px;
		margin:0px 10px;
	}
   }
   .txthelp span {
	font-family:"Open Sans";
	font-size:12px;
	color:#3c4b5a;
   }
   footer {
	position:fixed;
	bottom:0;
	width:100%;
	height:60px;
	background-color:#ededed;
	> .container {
		margin-top:11px;
		> div {
			height:37px;
			border-right:1px solid #919191;
		}
		> div.logo img {
			margin-top:5px;
		}
		> div.links a {
			color:#333333;
			font-size:12px;
			font-family:'Open Sans', sans-serif;
			text-transform:uppercase;
		}
		> div.social {
			padding-top:4px;
			> div {
				float:left;
			}
			.red {
				width:32px;
				height:32px;
				margin-right:9px;
				background-image:url(../img/redes.png);
				> a {
					display:block;
					width:100%;
					height:100%;
				}
			}
			.red.facebook {
				background-position:0;
			}
			.red.linkedin {
				background-position:-41px;
			}
			.red.twitter {
				background-position:-82px;
			}
			.terminos {
				color:#333333;
				font-size:12px;
				font-family:'Open Sans', sans-serif;
			}
		}
		> div:last-child {
			border:none;
		}
	}
   }
   .block-Intro-blue {
	font-family:"Open Sans";
	background:#00cdcc;
	text-align:center;
	display:block;
	padding:30px 0px;
	margin:10px 0px;
	.up-Intro {
		color:#ffffff;
		font-size:48px;
		font-weight:100;
	}
	.down-Intro {
		color:#ffffff;
		font-size:48px;
		text-transform:uppercase;
		font-weight:bold;
		letter-spacing:-2px;
	}
   }
   .txt-A1-register {
	font-family:"Open Sans";
	color:#ffffff;
	text-align:center;
	margin:25px 0px;
	font-size:18px;
	font-weight:100;
   }
   .txt-A1-register m, .txt-A1-terms a {
	color:#00cdcc;
	font-weight:bold;
   }
   .txt-A1-terms {
	font-family:"Open Sans";
	color:#ffffff;
	text-align:center;
	margin:25px 0px;
	font-size:14px;
	font-weight:100;
	display:block;
   }
   .left-headline, .right-headline {
	display:block;
	margin:25px 0px;
	overflow:hidden;
	height:70px;
   }
   .left-headline span, .right-headline span {
	font-family:"Open Sans";
	color:#ffffff;
	text-transform:uppercase;
	font-size:22px;
	font-weight:bold;
   }
   .left-headline img, .right-headline img {
	border:2px solid #919191;
	margin-right:10px;
	float:left;
   }
   .btn-facebook, .btn-linkedin, .btn-google {
	font-family:"Open Sans";
	background:#00cdcc;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	margin-bottom:16px;
   }
   .register-AS1 {
	font-family:"Open Sans";
	background:#00cdcc;
	font-size:16px;
	padding-top:10px;
	padding-bottom:10px;
	font-weight:bold;
	margin-bottom:16px;
	width:100%;
	color:#ffffff;
	border:none;
	border-radius:4px;
   }
   .btn-facebook:hover, .btn-linkedin:hover, .btn-google:hover {
	background:#00cdcc;
   }
   .register-AS1:hover {
	background:#00cdcc;
	color:#ffffff;
   }
   .btn-social > :first-child {
	line-height:44px;
   }
   .form-group input {
	font-family:"Open Sans";
	background:transparent;
	border:1px solid #919191;
	border-radius:0px;
	padding:10px 12px;
	color:#ffffff;
	height:auto;
	font-size:16px;
   }
   .fos_user_registration_register label {
	display:none;
   }
#sidebar {
  border-right: 1px solid #e9e9e9;
  .well {
  	font-family:Lato, sans-serif;
  	font-size: 16px;
  	text-transform: uppercase;
  	text-align: right;
  	background-image: none;
  	background-color: transparent;
  	border: none;
  	box-shadow: none;
  	padding: 15px 24px;
  	margin-bottom: 5px;
  	a {
  		color: @dark_gray;
  	}
  	img {
  		margin-left: 40%;
  	}
  }
}
.block-Data {
	h1 {
		font-family: @open;
		font-size: 28px;
		font-weight: bold;
		color: @blue;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
}
.profile-Data {
	.person {
		float: right;
		h4 {
			font-size: 18px;
			font-family: @open;
			color: @dark_gray;
			text-transform: uppercase;
			font-weight: bold;
		}
		span {
			color: @blue;
			a {
				color: @blue;
				font-family: @open;
				font-size: 14px;
				font-weight: bold;
			}
		}
		div {
			padding-right: 0px;
		}
		div + div {
			padding-left: 0px;
		}
	}
}
.btn.blockStep {
		background-image: none;
		background: transparent;
		border: 1px solid @gray;
		border-radius: 0px;
		box-shadow: none;
		margin-bottom: 20px;
		padding: 15px;
		text-shadow: none;
		color: @gray;
		.txt-AD0 img {
			
		}
		.txt-AD1 {
			font-family: @open;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
			color: @dark_gray;
			white-space: normal;
			p {
				font-size: 14px;
				font-family: @lato;
				font-weight: 100;
				margin-bottom: 0px;
			}
		}
		.txt-AD2 {
			font-family: @roboto;
			color: @blue;
			font-size: 60px;
			font-weight: bold;
		}
		.txt-AD2 min {
			font-size: 14px;
			color: @dark_gray;
			font-family: @lato;
			font-weight: 100;
		}
		.txt-AD3 {
			margin-top: 25px;
			.btn.stepIni {
				background: @blue;
				color: #fff;
				font-family: @open;
				font-size: 16px;
				font-weight: bold;
			}
		}
}
		
