@charset "UTF-8";
/* CSS Document */

* {margin: 0; padding: 0}
a {text-decoration: none}

.grisclarofont  {color: #87868A}
.naranjafont  {color: #FD9224}
.azuloscurofont {color: #3c4b5a}
.azulmediofont {color: #00838c}
.azulclarofont {color: #00cccb}

.fondo-section {background: #f7f7f7; padding-bottom: 50px;}

.naranja {background: #FD9224}
.azuloscuro {background: #3c4b5a}
.azulmedio {background: #00838c}
.azulclaro {background: #33d7d6} /*00cccb*/

.light-italic {font-family: 'Open Sans', sans-serif;font-weight: 300;font-style:italic}
.light {font-family: 'Open Sans', sans-serif;font-weight: 300}
.semi-italic {font-family: 'Open Sans', sans-serif;font-weight: 600;font-style:italic}
.bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
.extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}

.casiValidado {
		width: 100%;
    background: #fbfbfb;
    padding: 50px 0;
    border-radius: 5px;
    text-align: center;}

.casiValidado p {
	width: 80%;
	text-align:center;
	margin: 0 auto;
	padding: 10px 20px}

.h2 {
	font-size: 20px;
    width: 80%;
    margin: 0 auto;}

	#cont-succesdocs {
	width: 800px;
	margin: 0 auto;
	clear: both;}

#title-siccesdocs {
	text-align: center;
	margin: 0 0 50px 0}
	#title-siccesdocs h1 {
		font-size: 25px;
	}

#cont-genssuccescont {
	width: 80%;
	border-radius: 5px;
	background: #F7F7F8;
	margin: 0 auto;
	padding: 30px
	}

.pasos {
	width: 80%;
    height: auto;
    overflow: hidden;
    margin: 15px auto;}


.img {
	float: left;
	margin-right: 20px}

.pasos-text {
	float: left;
    width: 80%;}

#recuerda {
	clear: both;
    text-align: center;
    margin: 20px auto;
    width: 80%;
    height: auto;
    overflow: hidden;}

.centrar {
	text-align:center;
	font-size: 25px}

	#posibilidades {
		margin: 40px 0}

.posibilidades-op {
	border: 1px #F0F0F1 solid;
	border-radius: 5px;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center}

.fechasclave {
	background: #F7F7F8;
	border-radius:5px;
	width:31%;
	float:left;
	margin: 5px 7px;
	padding: 15px 0px;
	height: 115px;}

.border {
	border: 1px solid #CCC;
	border-radius:5px;
	clear:both;
	margin: 10px 0;
	padding: 20px 20px}

#fechas {
	clear: both;
    text-align: center;
    margin: 50px auto;
    width: 100%;
    height: auto;
    overflow: hidden;}

.pagospendientesdash {
	background: #fd5c5c;
	border-radius: 5px;
	padding: 10px 0;
	margin: 5px 0;
	text-align: center;
	color: #FFF;
	font-size: 20px}

#pagoadelantado {
	background: #FFF;
	border-radius: 5px
	}
#contenidopagoadelando {
	width: 400px;
    text-align: center;
    margin: 0 auto;
	padding: 70px 0;}

#contenidopagoadelando p {
	margin: 30px 0
	}

#contenidopagoadelando h1 {
	margin: 30px 0
	}

.btn-azulnopagos {
	width:250px;
	border-radius: 5px;
	padding: 10px 0;
	border-bottom: #4f8084 3px solid;
	background: #5db0b7;
	color: #FFF;
	margin: 0 auto}

.btn-azulnopagos:hover {
	border-bottom: #4f8084 3px solid;
	background: #8ca4a7}

	@media only screen and (max-width: 1200px) {
		#cont-succesdocs {
			width:90%;
		}
	}
@media only screen and (max-width: 1024px) {
	.fechasclave {
		width:47%;
	}
}
@media only screen and (max-width: 540px) {
	.fechasclave {
		width:100%;
	}
	#contenidopagoadelando {
		width: 90%;}
}
