@import (reference) "public/bootstrap-variables.less";
@import (reference) "public/variables.less";


#registrationTypeContainer {    
  background: url(/img/registrationBackground3.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  padding: 50px 0 100px 0;
  overflow: hidden;

  & .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

    & img {
        width: 180px;
        margin-bottom: 10px;
    }

    & p {
      font-size: 17px;
    }
  }
  & .registrationTypeTitle {
    background-color: #00C4C5;
    color: @txtWhite;
    height: 58px;
    text-align: center;
    font-size: 23px;
    padding: 10px 0 0;
    font-weight: 100;
  }

  & .darkOne {
    background-color: #008990;
  }

  & .registrationTypeOption {
    margin-top: 20px;
    width: 48%;
    float: left;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-right: 20px;

  }

  & .registrationTypeOption:last-child {
    margin-right: 0px;
    
  }  

  & .registrationTypecontent {
    background-color: @whiteBackGround;
    padding: 20px;
  }

  & .optionPrice {
    color: #89878B;
    width: 100%;
    border-bottom: 1px solid #ccc; 
    margin: 0 0 20px;

    & h3 {
        color: @orange;
        margin-top: 5px;
    }
  }

  & .optionPrice {
    color: #89878B;

  }

  & .optionDescription {
    text-align: left;
    margin: 0 0 10px;
    font-size: 12px;
    height: 280px;
  }
}

#registrationContainer {    
  background: url(/img/registrationBackground.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


.smallOrangeBox {
    width: 450px;
    margin: 40px auto;

    & label {
        display: none;
    }

    .smallOrangeBoxTitle {
        background-color: @orange;
        height: 60px;
        text-align: center;
        margin: 0;

        & .whiteFormTitle {
          color: @txtWhite;
          font-size: 25px;
          display: block;
          margin: 10px 0 0 0;
          font-weight: 100;
          line-height: 59px;
        }
    }

    .boxImagetitle {
        max-width: 180px;
        margin: 14px 0 0;
    }

    .smallOrangeBoxContent {
        background-color: @whiteBackGround;
        padding: 10px 40px;
        text-align: center;
        overflow: hidden;

        & h3 {
            color: @txtGray;
            font-size: 22px;
            font-style: normal;
            font-weight: 100;
        }
        & span {
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
        }

        & .glyphicon {
            display: inline;
            background: none;
            vertical-align: middle;
        }
        & .light-text {
            color: @txtGray;
            display: block;
            font-size: 16px;
        }

        & .txt-A1-terms {
            color: @txtGray;
            font-size: 12px;
        }

        & .smallDivider {
            margin: 5px 0;
        }

        & .registrationSocialNetworks {
            margin: 10px 0;
            overflow: hidden;
            width: 100%;
        }
    }

    .smallOrangeBoxNetworks {
        background-color: @whiteBackGround;
    }
}



.priceContainer {
  background-color: #00C4C5;
  margin: 0 auto;
  width: 230px;
  padding: 8px;
  color: #fff;
  text-align: center;
  border-radius: 5px;

  & h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: 800;
  }

  & h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: 100;
  }
}

.bigIcon {
  color: #FD9224;
  font-size: 40px;
}

.roundContainer {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;

  & .media-body {
    text-align: left;
    font-size: 16px;
  }
}

.multipleOptions {
  & .btn {
    width: 100%;
  }
}

.multipleRight {
  text-align: right;
}

.remember {
  & .glyphicon {
    color: #FD9224;
  }
}


.employeeResponsabilities {
  & .list-group-item {
    border-top: 1px solid transparent;
  }

  & .list-group li:nth-child(1) {
   border-top: 1px solid #ddd; 
  }
}


.buttonsRow {
  display: block;
  margin:10px 20px;
  text-align: center; 
}

.buttonsRow .btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-device-width : 360px) { 
 
.smallOrangeBox {
    width: 100%;
}

    #registrationTypeContainer .registrationTypeOption {
      margin: 10px 10px !important;
      width: auto !important;

    }

    .smallOrangeBox {
      margin: 10px 10px !important;
      width: auto !important; 
      
        & .smallOrangeBoxContent {
          padding: 10px 10px;
          text-align: center;
        }     
    }



#registrationTypeContainer {    
  height: 100%;
  padding: 0;
  overflow: hidden;

  & .content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    & p {
      font-size: 17px;
    }
  }
  & .registrationTypeTitle {
    background-color: #00C4C5;
    color: @txtWhite;
    height: 85px;
    text-align: center;
    font-size: 23px;
    padding: 10px 0 0;
    font-weight: 100;
  }

  & .darkOne {
    background-color: #008990;
  }

  & .registrationTypeOption {
    margin-top: 20px;
    width: 100%;
    float: left;
    position: relative;
    box-shadow: 0;
    margin-right: 0px;

  }

  & .registrationTypeOption:last-child {
    margin-right: 0px;
    
  }  

  & .registrationTypecontent {
    background-color: @whiteBackGround;
    padding: 0px;
  }

  & .optionPrice {
    color: #89878B;
    width: 100%;
    border-bottom: 1px solid #ccc; 
    margin: 0 0 20px;

    & h3 {
        color: @orange;
        margin-top: 5px;
    }
  }

  & .optionPrice {
    color: #89878B;

  }

  & .optionDescription {
    text-align: left;
    margin: 0 0 10px;
    font-size: 12px;
    height: 400px;
    padding: 10px;
  }
}


.multipleOptions {
  text-align: center;
  margin-bottom: 10px;
}

.multipleRight {
  text-align: center;
}

}