#registrationTypeContainer{background:url(/img/registrationBackground3.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;height:100%;padding:50px 0 100px 0;overflow:hidden}#registrationTypeContainer .content{max-width:800px;margin:0 auto;text-align:center}#registrationTypeContainer .content img{width:180px;margin-bottom:10px}#registrationTypeContainer .content p{font-size:17px}#registrationTypeContainer .registrationTypeTitle{background-color:#00C4C5;color:#fff;height:58px;text-align:center;font-size:23px;padding:10px 0 0;font-weight:100}#registrationTypeContainer .darkOne{background-color:#008990}#registrationTypeContainer .registrationTypeOption{margin-top:20px;width:48%;float:left;position:relative;box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);margin-right:20px}#registrationTypeContainer .registrationTypeOption:last-child{margin-right:0}#registrationTypeContainer .registrationTypecontent{background-color:#fff;padding:20px}#registrationTypeContainer .optionPrice{color:#89878B;width:100%;border-bottom:1px solid #ccc;margin:0 0 20px}#registrationTypeContainer .optionPrice h3{color:#e59233;margin-top:5px}#registrationTypeContainer .optionPrice{color:#89878B}#registrationTypeContainer .optionDescription{text-align:left;margin:0 0 10px;font-size:12px;height:280px}#registrationContainer{background:url(/img/registrationBackground.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover}.smallOrangeBox{width:450px;margin:40px auto}.smallOrangeBox label{display:none}.smallOrangeBox .smallOrangeBoxTitle{background-color:#e59233;height:60px;text-align:center;margin:0}.smallOrangeBox .smallOrangeBoxTitle .whiteFormTitle{color:#fff;font-size:25px;display:block;margin:10px 0 0 0;font-weight:100;line-height:59px}.smallOrangeBox .boxImagetitle{max-width:180px;margin:14px 0 0}.smallOrangeBox .smallOrangeBoxContent{background-color:#fff;padding:10px 40px;text-align:center;overflow:hidden}.smallOrangeBox .smallOrangeBoxContent h3{color:#B2AFAD;font-size:22px;font-style:normal;font-weight:100}.smallOrangeBox .smallOrangeBoxContent span{font-size:18px;display:block;margin-bottom:5px}.smallOrangeBox .smallOrangeBoxContent .glyphicon{display:inline;background:0 0;vertical-align:middle}.smallOrangeBox .smallOrangeBoxContent .light-text{color:#B2AFAD;display:block;font-size:16px}.smallOrangeBox .smallOrangeBoxContent .txt-A1-terms{color:#B2AFAD;font-size:12px}.smallOrangeBox .smallOrangeBoxContent .smallDivider{margin:5px 0}.smallOrangeBox .smallOrangeBoxContent .registrationSocialNetworks{margin:10px 0;overflow:hidden;width:100%}.smallOrangeBox .smallOrangeBoxNetworks{background-color:#fff}.priceContainer{padding:0 5px 5px 5px;color:#fff;text-align:center;border-radius:5px;height:auto;overflow:hidden;float:left;}.priceContainer h1{font-size:32px;margin:0;padding:5px 0;font-weight:800;background: #eeeeee;border-radius:5px;color:#888;}.priceContainer h2{font-size:20px;margin:0;padding:0;font-weight:100}.bigIcon{color:#FD9224;font-size:30px}.roundContainer{border:1px solid #ccc;border-radius:10px;padding:20px}.roundContainer .media-body{text-align:left;font-size:16px;color:#3C4B5A;}.multipleOptions .btn{width:100%}.multipleRight{text-align:right}.remember .glyphicon{color:#FD9224}.employeeResponsabilities .list-group-item{border-top:1px solid transparent}.employeeResponsabilities .list-group li:nth-child(1){border-top:1px solid #ddd}.buttonsRow{display:block;margin:10px 20px;text-align:center}.buttonsRow .btn{margin-left:10px;margin-bottom:10px}@media only screen and (max-device-width:360px){.smallOrangeBox{width:100%}#registrationTypeContainer .registrationTypeOption{margin:10px 10px!important;width:auto!important}.smallOrangeBox{margin:10px 10px!important;width:auto!important}.smallOrangeBox .smallOrangeBoxContent{padding:10px 10px;text-align:center}#registrationTypeContainer{height:100%;padding:0;overflow:hidden}#registrationTypeContainer .content{max-width:100%;width:100%;margin:0 auto;text-align:center}#registrationTypeContainer .content p{font-size:17px}#registrationTypeContainer .registrationTypeTitle{background-color:#00C4C5;color:#fff;height:85px;text-align:center;font-size:23px;padding:10px 0 0;font-weight:100}#registrationTypeContainer .darkOne{background-color:#008990}#registrationTypeContainer .registrationTypeOption{margin-top:20px;width:100%;float:left;position:relative;box-shadow:0;margin-right:0}#registrationTypeContainer .registrationTypeOption:last-child{margin-right:0}#registrationTypeContainer .registrationTypecontent{background-color:#fff;padding:0}#registrationTypeContainer .optionPrice{color:#89878B;width:100%;border-bottom:1px solid #ccc;margin:0 0 20px}#registrationTypeContainer .optionPrice h3{color:#e59233;margin-top:5px}#registrationTypeContainer .optionPrice{color:#89878B}#registrationTypeContainer .optionDescription{text-align:left;margin:0 0 10px;font-size:12px;height:400px;padding:10px}.multipleOptions{text-align:center;margin-bottom:10px}.multipleRight{text-align:center}}

/*estilos rediseño de preguntas del registro*/
  .borderUpDO {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
  }
  .borderDo {
    border-bottom: 1px solid #CCC;
  }
  .textoBienve {
    padding: 0 0 25px;
    width: 80%;
    margin: 0px auto 0;
    text-align: left;
    color: #FFF;
  }
  .padding30 {
    padding: 0 0 30px;
  }
  .margin60 {
    margin: 120px 0 15px;
  }

  .margin30 {
    margin: 30px 0 10px;
  }
  .cajaTexto {
    background: #fbfbfb;
    padding: 25px;
    width: 90%;
    margin: 30px auto 0;
  }
/*estilos rediseño de preguntas del registro*/
#alternativas {
  height: auto;
  overflow: hidden;
  background: #F8F8F8;
  border-radius: 5px;
  padding: 30px 20px;
  margin: 35px 0 10px 0;
}

.alternativa {
    width: 45%;
    float: left;
    margin: 0px 15px;
}

.alternativa h3 {
    font-weight: 700;
    text-align: center;
    padding: 0 0 20px 0;
    color: #00858C;
}

.alternativa p {
  color: #717171;
    font-weight: 100;
}

.implicaciones {
  display: block;
    width: 150px;
    margin: 0 auto;
    height: auto;
    background: #EFEFEF;
    padding: 5px 0;
    border-radius: 5px;
    color: #545454;
    border: 2px solid #CCC;
    text-decoration: none !important;
}

.p {
  color: #8A8A8A;
font-size: 15px;
font-weight: 400;
font-style: italic;
}

.pricelegalpay {
    width: 300px;
    margin: 0 auto;
    float:none !important;
}

.i {
  color: #3c4b5a;
font-style: normal;
font-weight: 100;
}

.condicioneslegalpay {
  background: #fbfbfb;
    border-radius: 5px;
    width: 600px;
    margin: 25px auto 0 auto;
    padding: 15px 0 25px 0;
    color: #7b7b7b;
}

.incluye {
  width: 85%;
  margin: 30px auto 0 auto;
  clear: both;
}

#sectionContent2, #sectionContent3, #sectionContent4 {display:none;}

.borderh3 {
  border: 1px #CCC solid;
    border-radius: 5px;
    padding: 20px 0;
}

/*pantalla inicial situacion legal*/
#cont-opciones-casos {
  margin: 25px 0 10px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #CCC;
}
.casohead {
  background: #F7F7F8;
  border-radius: 5px;
  padding: 15px 30px;
  color: #5D5D5D;
  text-align: center;
}
.casohead strong {
  font-size: 16px;
  margin-bottom: 10px;
  display: block;}

.casotittlehead span {
    color: #00858c;
    text-align: center;
    width: 300px;
    margin: 25px auto;
    font-weight: 400;
}

.casos p {
    color: #7b7b7b;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.optionsul {
  border-radius: 5px;
    border: 1px #CCC dashed;
    padding: 25px;
    margin: 35px 0;
}
.casoabogado p {
  text-align: left;
  padding: 20px 0
}

.botones-options {
  text-align: center;
  margin: 20px 0
}
/*fin pantalla inicial situacion legal*/
@media only screen and (max-width: 1200px) {
  .responsivestyle {white-space: normal;}
  .padd {padding: 6px 30px;margin-bottom: 5px}
}

@media only screen and (max-width: 1024px) {
  .condicioneslegalpay {width: 90%}
}
