{% extends "::base.html.twig" %}
{% block content %}
    <h1>La orden de compra ha sido creada exitosamente</h1>
    <a href="{{ path('purchase_orders_list') }}">Volver al listado de ordenes de compra</a>
</ul>
{% endblock %}