{% set sname = "" %}
{{ form_row(form.idEmployerHasEntity) }}
<div class="hidden">
    {{ form_row(form.severances) }}
</div>
<div style="margin-top:10px;">
    {{ form_widget(form.severancesAC,{'value' : sname}) }}
</div>
