<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>Documento sin título</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700" rel="stylesheet" type="text/css">

        <style type="text/css">
            * {margin: 0 auto;padding: 0}

                #contenedor-comp {
                    width: 612px;
                    height: auto;
                }

                #tittle-comp {
                    color: #5D5D5D;
                    text-align: center;
                    margin-top: 45px;
                }
                span,th {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    font-size: 15px
                }
                #tittle-comp h2 {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    text-transform: uppercase;
                    line-height: 30px
                }

                #data-empleado {
                    border-top: 1px #CCC solid;
                    margin: 20px 0 0 0;
                    padding: 20px 0 0 0;
                    color: #5D5D5D;
                }

                .celdas-copm {
                    border: 1px #CCC solid;
                    height: auto;
                    overflow: hidden;
                    margin-top: 4px;
                }
                .info-celdas {
                    width: 45%;
                    float: left;
                    padding: 5px 15px;
                }

                p {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                }

                th {
                    color: #5D5D5D
                }

                #descript-comp {
                    margin: 35px 0 0 0;
                    clear: both
                }

                .border-comp td {
                    border: 1px solid #e6e6e6;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    padding: 5px 15px;
                    color: #828282;
                }

                .bold {
                    font-weight: 700 !important;
                    color: #5D5D5D;
                }

                .sub {
                    background: #e4e4e4;
                }

                .total {
                   background: #c1c1c1;
                }

                .border-comp th {
                    background: #e4e4e4;;
                    padding: 5px 0;
                }
                .firmaImg {
                    width: 100%;
                    height: auto;
                    margin: 15px 0 0 0
                 }
                #firma-empleado {
                    width: 100%;
                    margin: 0 0 0 0;
                    border-top: 1px #CCC solid;
                    padding: 15px 0 0 0;
                    color: #5D5D5D
                }
        </style>

    </head>
    <body>
        <div id="contenedor-comp">
            <div id="tittle-comp">
                <h2>Liquidación prima legal de servicios</h2>
            </div>
            <div id="data-empleado">
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Empleador</span><br>
                            Sandra María Bisval Mora
                        </p>
                    </div>
                    <div class="info-celdas">
                        <p>
                            <span>Cédula</span><br>
                            123456790
                        </p>
                    </div>
                </div>
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Empleado</span><br>
                            Sandra María Bisval Mora
                        </p>
                    </div>
                    <div class="info-celdas">
                        <p>
                            <span>Cédula</span><br>
                            123456790
                        </p>
                    </div>
                </div>
                <br>
                <br>
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Fecha Inicio</span><br>
                            2/2/2016
                        </p>
                    </div>
                    <div class="info-celdas">
                        <p>
                            <span>Fecha Fin</span><br>
                            2/2/2016
                        </p>
                    </div>
                </div>
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Salario base</span><br>
                            $750.000
                        </p>
                    </div>
                    <div class="info-celdas">
                        <p>
                            <span>Días</span><br>
                            16
                        </p>
                    </div>
                </div>
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Días no laborados</span><br>
                            9
                        </p>
                    </div>
                </div>
                <div class="celdas-copm">
                    <div class="info-celdas">
                        <p>
                            <span>Valor prima</span><br>
                            $750.000
                        </p>
                    </div>
                </div>
            </div>


            <div id="firma-empleado">
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>
                    ____________________________<br>
                    <span>Firma empleado</span><br>
                    Sandra Liliana Mahecha Gonzales<br>
                    1234567890
                </p>
                <br>
                <br>
                <div align="center" style="font-size:13px">
                    <p>Dias no laborados: Licencias no remuneradas, sanciones o suspensiones.<br><br>
                <strong>www.symplifica.com | NIT 900862831-1 | 350 461 2013</strong></p>
                </div>

            </div>
        </div>
    </body>
</html>
