<!DOCTYPE html>
<html lang="es">
<head>
    <title>Join Document</title>
    <meta charset="utf-8" />
</head>

{% for item in data %}
    <img src="{{ item }}" height="auto" width="800">
{% endfor %}

</html>
