{% extends "::public.html.twig" %}

{% block body %}
<div class="row-fluid" style="background-color: #f8f8f8;">
	<div class="container">
		<div class="middlePage">
			<div class="page-header">
				<h1 class="logo"><small>Bienvenido a Symplifica!</small></h1>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading">
			    	<h3 class="panel-title"></h3>
			  	</div>
		  		<div class="panel-body">
					{% include "RocketSellerTwoPickBundle:General:login.html.twig" %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}