{% extends "::base.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:Nosotros{% endblock %}

{% block body %}
<h1>Welcome to the CorporatePages:Nosotros page</h1>
{% endblock %}
