{% extends "::new-design/public.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:terminosCondiciones{% endblock %}

{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/terminos.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
  <section>
      <div id="terminos">
          <div id="titulos-terminos">
              <h1 class="bold">Políticas de privacidad y manejo de información</h1>
              <h2 class="semi-italic">Symplifica</h2>
          </div>
          <p class="semi-italic" style="border: 1px #CCC solid;padding: 25px;border-radius: 5px;margin-bottom: 30px">
            SYMPLIFICA S.A.S., compañía propietaria del sitio SYMPLIFICA.COM (en adelante, el “Sitio”) y responsable del tratamiento de la
            información de los usuarios de este Sitio, aplica la presente Política de Privacidad y Manejo de la información recopilada.<br>
            Adicionalmente, esta Política será aplicable a los datos personales de los clientes, proveedores, empleados y colaboradores
            de SYMPLIFICA S.A.S. (quienes en adelante, en conjunto con los visitantes del Sitio, también se denominarán los “Usuarios”),
             registrados en cualquier base de datos que los haga susceptibles de tratamiento, que se encuentre en poder de SYMPLIFICA S.A.S.<br><br>
             La presente Política también rige las relaciones de SYMPLIFICA S.A.S., como Responsable del Tratamiento de los datos personales
             de los Usuarios, y cualquiera de sus Encargados para el Tratamiento de los datos.<br>El uso por parte del Usuario de los Servicios
             ofrecidos en este Sitio, indica que ha aceptado incondicionalmente esta Política de Privacidad, en los términos y condiciones
             que se señalan a continuación.</p>

<h4>I) Definiciones</h4><br>

<p>Para efectos de la presente Política, los siguientes términos se entenderán en la forma en que se definen en el artículo 3º la Ley 1581 de 2012,
  según se transcribe a continuación:<br><br>

<strong>a)</strong> Autorización: Consentimiento previo, expreso e informado del titular para llevar a cabo el tratamiento de datos personales.<br>
<strong>b)</strong> Base de datos: Conjunto organizado de datos personales que sea objeto de tratamiento.<br>
<strong>c)</strong> Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables;<br>
<strong>d)</strong> Encargado del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el tratamiento de datos
personales por cuenta del responsable del tratamiento.<br>
<strong>e)</strong> Responsable del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos
y/o el tratamiento de los datos.<br>
<strong>f)</strong> Titular: Persona natural cuyos datos personales sean objeto de tratamiento.<br>
<strong>g)</strong> Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión.<br>
<br></p>

<h4>II) INFORMACIÓN OBTENIDA DE TODOS LOS VISITANTES DEL SITIO</h4><br>

<p>Cuando el Usuario accede al Sitio, SYMPLIFICA S.A.S. recibe inmediatamente información acerca de los Usuarios y sus computadoras. SYMPLIFICA S.A.S. podrá
  obtener y conservar la siguiente información acerca de los visitantes del Sitio, en forma anónima (no asociada a la identidad de ningún visitante):<br><br>
&#9658; La fecha y hora de acceso al Sitio.<br>
&#9658; La dirección IP desde la que se accedió al Sitio.<br>
&#9658; Navegador y sistema operativo.<br>
&#9658; Sitios web que han visitado, enlaces vistos y búsquedas realizadas.<br><br>

SYMPLIFICA SAS puede recopilar información personal utilizando "cookies", que son pequeños archivos de datos sobre los usuarios de Internet que los portales web
guardan en su navegador. Las cookies recuerdan la información acerca de sus actividades en el Sitio y pueden utilizarse por este para personalizar la información
que le proporcionamos, de tal forma que esta se refiera a productos o servicios que consideremos que puedan parecerle interesantes a determinados Usuarios, con
 base en sus actividades en línea anteriores y sus preferencias.
<br><br>
SYMPLIFICA SAS puede utilizar las cookies para identificar el navegador de red utilizado por el Usuario, determinar si este ha instalado el software o los
aplicativos necesarios para tener acceso a cierto material en nuestro Sitio, determinar el número total de visitantes a nuestro Sitio y reconocerlo cuando
regrese al mismo. SYMPLIFICA S.A.S. utiliza las cookies para conocer y analizar los intereses y el comportamiento de los visitantes del Sitio, y así mejorar
 nuestras iniciativas comerciales y promocionales, personalizar contenidos, y en general prestarles un mejor servicio.
<br><br>
No obstante lo anterior, el Usuario podrá elegir en cualquier momento no recibir cookies, para lo cual puede configurar su navegador para que las rechace
o para que le avise cada vez que se cree una cookie. Tenga en cuenta que sin estos archivos de identificación no podrá beneficiarse de algunas funciones del
Sitio, que buscan que la experiencia de cada Usuario sea personalizada. Así mismo, las cookies pueden ser necesarias para poder ver, crear una cuenta, o
efectuar transacciones digitales por medio del Sitio. Si no tiene las cookies activadas, es posible que algunas de las funcionalidades del Sitio no tengan
el comportamiento esperado.<br><br></p>

<h4>III) INFORMACIÓN AUTORIZADA POR EL USUARIO</h4><br>

<p>
  Durante el proceso de registro en el Sitio, se entiende que el Usuario expresamente autoriza a SYMPLIFICA SAS para consultar, verificar o cruzar con bases
  de datos propias o de terceros, los datos suministrados por el Usuario.<br>
  Cuando el Usuario del Sitio opta por adquirir uno de los servicios disponibles a través del mismo, ya sean prestados directamente por SYMPLIFICA SAS o
  por terceros, deberá diligenciar un formulario en línea. Así mismo, posteriormente se podrá requerir el envío de información adicional vía correo electrónico
  u otros medios a SYMPLIFICA SAS para continuar con el proceso de prestación de los servicios. La información así adquirida por SYMPLIFICA S.A.S. incluirá
  datos personales y otros datos de los Usuarios, quienes con la remisión de la misma autorizan a SYMPLIFICA SAS darle el tratamiento explicado en
   la presente Política.<br>
  El tratamiento que realiza SYMPLIFICA S.A.S. de los datos de sus Usuarios, consiste en recolectar, almacenar, depurar, usar, analizar,
  circular, actualizar y cruzar con información propia y/o de terceros autorizados, los datos de contacto, la información sobre preferencias
  de consumo y el comportamiento en los canales de contacto, con la siguiente finalidad:
  <br><br>
<strong>a)</strong> Facilitar la correcta ejecución de la prestación de los servicios del Sitio, tanto aquellos prestados por SYMPLIFICA SAS como por terceros.<br>
<strong>b)</strong> Compartir la información con los terceros prestadores de servicios que se encuentren disponibles por intermedio del Sitio, tales como, sin limitarse a,
las compañías prestadoras de los servicios de exámenes médicos y estudios de seguridad, las entidades de seguridad social y el proveedor de pagos. Dichos
terceros quedan autorizados por el Usuario para utilizar la información suministrada, con el fin de ejecutar correctamente la prestación de sus servicios.<br>
<strong>c)</strong> Realizar estudios estadísticos que permitan diseñar mejoras en los servicios prestados.<br>
<strong>d)</strong> Gestionar tareas básicas de administración.<br>
<strong>e)</strong> Informar por cualquier medio, las promociones, productos y servicios actuales y futuros; los eventos, actividades de promoción y otras actividades comerciales
directa o indirectamente relacionadas con la actividad propia de SYMPLIFICA S.A.S.; y/o las promociones, productos y servicios promovidos directamente por
los aliados estratégicos de SYMPLIFICA S.A.S., que les generen valores agregados a los Usuarios.<br>
<strong>f)</strong> Envío de material publicitario relacionado con los productos y servicios de SYMPLIFICA S.A.S., sus autorizadas, cesionarias, licenciatarias, filiales
y/o subordinadas, y aliados comerciales.<br>
<strong>g)</strong> Darle cumplimiento a las obligaciones contractuales y/o legales que SYMPLIFICA S.A.S. tenga con sus clientes, empleados, proveedores, autorizadas,
cesionarias, licenciatarias, filiales y/o subordinadas, así como con las autoridades judiciales o administrativas.<br>
<strong>h)</strong> Realizar estudios de mercadeo y consumo.<br>
<strong>i)</strong> Utilizar la información para la preparación, participación y desarrollo de concursos.<br>
<strong>j)</strong> Analizar y medir la calidad de los productos y servicios ofrecidos por SYMPLIFICA S.A.S., sus autorizadas, cesionarias, licenciatarias, filiales y/o subordinadas.<br>
<strong>k)</strong> Transferir a terceros países la información proporcionada; en este caso, SYMPLIFICA SAS se asegurará previamente de que dicho tercer país cumpla como
mínimo los mismos estándares colombianos de protección de datos.<br><br>
<br><br>
El Usuario acepta que los datos personales aportados en el momento de su registro, sean tratados por SYMPLIFICA S.A.S, en las formas y con las finalidades
antes mencionadas. Con respecto al envío de información y de comunicaciones comerciales a través de correo electrónico o medio equivalente, se aclara que como
requisito para el registro del Usuario en el Sitio y utilización de nuestros Servicios, el Usuario deberá aceptar esta Política de Privacidad en su integridad,
 incluyendo la autorización para el envío de dichas comunicaciones; no obstante, en cualquier momento, el Usuario tiene el derecho de optar por no recibir estas
 comunicaciones en el futuro, procediendo a la cancelación de su suscripción a estos servicios, a través de nuestro Sitio, o del medio que se informe para tal fin.<br>
SYMPLIFICA S.A.S podrá transferir los datos personales de los Usuarios como parte de los activos de SYMPLIFICA S.A.S en caso de que la compañía o partes del negocio
fuesen vendidas, fusionadas o adquiridas por terceros, lo cual es expresamente autorizado por los Usuarios al registrarse en el Sitio.<br><br>
Sin perjuicio de las anteriores autorizaciones por parte del Usuario, SYMPLIFICA S.A.S se compromete al cumplimiento de su obligación de secreto de los datos de
carácter personal y de su deber de tratarlos con confidencialidad, y asume, a estos efectos, las medidas de índole técnica, organizativa y de seguridad necesarias
 para evitar su alteración, pérdida, tratamiento o acceso no autorizado, de acuerdo con lo establecido en la ley y en los tratados internacionales suscritos por
 Colombia que rigen la materia.<br>
Al ingresar a este Sitio y registrarse, el Usuario adquiere el compromiso de suministrar información personal correcta y verdadera, así como proceder
a la actualización de sus datos cada vez que se requiera. El Usuario responderá, en cualquier caso, de la veracidad de los datos facilitados, reservándose
SYMPLIFICA S.A.S el derecho a excluir de los servicios a todo Usuario que haya facilitado datos falsos.
<br><br>
<strong>Información para pagos</strong><br>
Dentro de las alternativas que se contemplan en este Sitio para  el pago de los productos y/o servicios seleccionados por el Usuario, SYMPLIFICA SAS podrá a
su elección ofrecer mecanismos de pago, incluyendo botón de pagos, vínculos (links) u otros medios que comuniquen con las páginas de terceros proveedores de
servicios de pago o los portales web de entidades financieras. Los pagos se realizarán a través de las páginas web o mecanismos facilitados por dichos terceros,
 y por consiguiente, en tales eventos el manejo de la información personal será de responsabilidad exclusiva de las páginas de pagos y/o entidades financieras,
 según lo establecido en sus acuerdos con los Usuarios. El Usuario se obliga a notificar oportunamente a sus correspondientes entidades del sector financiero o
 cooperativo, la pérdida o robo de su tarjeta de crédito, débito o de los demás instrumentos facilitados por las mismas para realizar transacciones, tales como,
  claves personales, con el fin de que tales instrumentos sean inhabilitados por las mismas.  SYMPLIFICA SAS no asume ninguna responsabilidad por el uso indebido
   de tales instrumentos por parte de terceros.<br><br>

<strong>Información de Terceros suministrada por el Usuario</strong><br>
En caso de que el Usuario suministre datos de terceros, tales como datos de sus trabajadores actuales o potenciales, para efectos de las afiliaciones y demás
 servicios disponibles en el Sitio, se entenderá que el Usuario ha obtenido la autorización expresa de tales personas. Por lo tanto, mantendrá indemne a
 SYMPLIFICA SAS en caso de que se presenten reclamaciones de dichos terceros por el uso de su información.<br><br>

Para efectos de lo anterior, se entiende que el Usuario tiene autorización de sus trabajadores actuales o potenciales (en adelante,
el “Trabajador” o “Trabajadores”), para suministrar en representación de ellos a SYMPLIFICA SAS, los datos personales de los mismos,
a través de este Sitio o de otros medios habilitados por SYMPLIFICA SAS, incluyendo su nombre completo, número de cédula de ciudadanía
y copia de la misma, datos bancarios, datos de contacto (correo electrónico, teléfono, dirección, etc.), entre otros. Por lo tanto, el
Usuario en representación de sus Trabajadores, expresamente autoriza a SYMPLIFICA SAS a darle a los datos personales de dichas personas,
 el tratamiento establecido en la presente Política. Adicionalmente, y sin limitar lo anterior, el Usuario en representación de sus Trabajadores,
  autoriza a Symplifica SAS a: (i) Compartir el perfil del Trabajador, que haya sido creado por él mismo o por el Usuario, con otros usuarios del
  Sitio que estén interesados en contratar, hayan contratado o en el futuro contraten al Trabajador; (ii) Enviar al Trabajador a través de los medios
  informados en sus datos de contacto, tales como SMS, correo electrónico, teléfono y cualquier otro medio reportado, información sobre los pagos realizados
   por parte del Usuario; (iii) Enviar al Trabajador información de promociones, productos y servicios, así como material publicitario, de SYMPLIFICA SAS y
   sus aliados comerciales, por cualquiera de los medios   informados en los datos de contacto del Trabajador; (iv) Consultar, en cualquier tiempo, en Datacredito
    o en cualquier otra central de información de riesgo, toda la información relevante del Trabajador, con el fin de cruzar dicha información con aquella reportada
    a través de esta Página Web, complementar la información suministrada a esta Página Web, y facilitar al Usuario, al Trabajador o a otros usuarios que hayan
    contratado o en el futuro contraten al Trabajador, el diligenciamiento de los formularios disponibles en o utilizados por este Sitio, mediante el pre-llenado
    de los datos previamente reportados a las entidades mencionadas o que por cualquier otro medio reposen en las bases de datos de SYMPLIFICA SAS o con las
    cuales SYMPLIFICA SAS tenga un acuerdo.<br><br>
</p>

<h4>IV) DERECHOS DE LOS USUARIOS Y PROCEDIMIENTO PARA EJERCERLOS</h4><br>

<p>
<strong>Derechos</strong><br>
El Usuario, en su calidad de titular de los datos personales que informe al Sitio, tendrá los siguientes derechos:<br><br>

<strong>a)</strong> Conocer, actualizar y rectificar sus datos personales frente a SYMPLIFICA o las demás compañías Encargadas del Tratamiento de sus datos personales, que se señalan
en esta Política. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo
tratamiento esté expresamente prohibido o no haya sido autorizado.<br>
<strong>b)</strong> Solicitar prueba de la autorización otorgada a SYMPLIFICA, salvo cuando expresamente se exceptúe en la ley como requisito para el Tratamiento (artículo 10 Ley
1581 de 2012).
<strong>c)</strong> Ser informado por SYMPLIFICA o alguna de las compañías Encargadas del Tratamiento de los datos personales, previa solicitud, acerca de la existencia de datos
que le conciernan y el uso que se le ha dado a sus datos personales.<br>
<strong>d)</strong> Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley 1581 de 2012 y las demás normas que la modifiquen,
 adicionen o complementen.<br>
<strong>e)</strong> Revocar la Autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y
legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el responsable o
encargado han incurrido en conductas contrarias a la ley y a la Constitución.<br>
<strong>f)</strong> Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento.
<br><br>

<strong>Procedimiento</strong><br>
Los derechos a conocer, actualizar, rectificar y suprimir información y revocar la autorización, o solicitar prueba de la misma, podrán ser ejercidos mediante petición
escrita dirigida al área de Servicio al Cliente, encargada por SYMPLIFICA S.A.S para la atención de estas solicitudes, en la dirección Carrera 13 No. 93 - 68 oficina
504 de Bogotá D.C. - Colombia, o enviando un correo electrónico a contactanos@symplifica.com<br>
En caso de reclamos, se seguirá el procedimiento establecido en el artículo 15 de la Ley 1581 de 2012.<br>
Como requisito previo para darle trámite a cualquier reclamo o solicitud, se verificará la identidad del reclamante, quien deberá ser el titular de la información,
su representante o uno de sus causahabientes.<br>
Una solicitud o un reclamo completo debe contener, por lo menos:<br><br>
<strong>1)</strong> Identificación del Titular y del reclamante (en caso de que no sea el mismo Titular).<br>
<strong>2)</strong> Descripción de los hechos que dan lugar al reclamo o solicitud.<br>
<strong>3)</strong> Dirección física o electrónica de notificación.<br>
<strong>4)</strong> Petición u objeto del reclamo.
<br><br>
Las solicitudes o reclamos serán atendidas en un término máximo de diez (10) días hábiles contados a partir de la fecha de recibo de las mismas, siempre y cuando
 cumplan los requisitos mínimos mencionados arriba. Si no fuere posible dar una respuesta dentro de dicho término, se informará al respectivo titular de la
 información, explicando las razones de la demora y señalando la fecha en que se responderá su consulta, sin que en ningún caso se superen los cinco (5) días
 hábiles siguientes al vencimiento del primer término.<br>
Si se presenta una solicitud o una reclamación en forma incompleta, dentro de los cinco (5) días hábiles siguientes a la recepción de la solicitud o
reclamo se comunicará al interesado que debe completar los requisitos arriba mencionados. Si transcurrieren dos (2) meses sin que el reclamante subsane su
reclamación o solicitud, se entenderá que ha desistido de la misma.<br>
De existir algún reclamo sin solucionar, se acompañarán los datos personales registrados por el Titular con la leyenda: ”Reclamo en Trámite”.
<br><br>

<strong>Solicitud de Supresión de Datos</strong><br>
Cuando se solicite la supresión de datos, esta no podrá realizarse en los siguientes casos:<br><br>
<strong>1)</strong> Cuando sea una obligación legal conservarlos.<br>
<strong>2)</strong> Cuando el Usuario se haya obligado contractualmente a permitir su uso.<br>
<strong>3)</strong> Cuando conservar los datos sea necesario para salvaguardar los intereses del Usuario o el Interés Público.<br>
<strong>4)</strong> Cuando la supresión dificulte o entorpezca el ejercicio de las funciones de las autoridades administrativas o judiciales.
<br><br>
<strong>Revocatoria de Autorización</strong><br>
Cuando un Usuario quiera revocar la autorización que haya dado para la utilización de sus datos personales, deberá informar a SYMPLIFICA SAS de
manera clara, si la revocatoria es total o parcial. La revocatoria de la autorización es parcial cuando el titular de la información manifiesta
que desea revocar su autorización para el Tratamiento de sus datos personales para ciertas finalidades específicas, tales como las de envío de
información publicitaria, de estudios de consumo, entre otras. La revocatoria de la autorización será total cuando el titular de la información
solicite que cese completamente el Tratamiento de datos personales para todas las finalidades autorizadas.</p>
<br><br>

<h4>V) REQUERIMIENTOS DE LAS AUTORIDADES</h4><br>

<p>
  SYMPLIFICA S.A.S cooperará con las autoridades competentes para garantizar el cumplimiento de las leyes, en materia de protección de la propiedad industrial,
  derechos de autor, prevención del fraude y otras materias.<br>
  Los Usuarios de SYMPLIFICA.COM autorizan expresamente a SYMPLIFICA S.A.S a suministrar cualquier información personal sobre ellos, con la finalidad de dar
   cumplimiento a cualquier requerimiento de autoridad competente, y con el fin de cooperar con las autoridades competentes en la medida en que discrecionalmente
   dicha compañía lo entienda necesario y adecuado en relación con cualquier investigación de un ilícito, infracción de las normas del Estatuto del Consumidor,
   infracción de derechos de propiedad intelectual o industrial, u otra actividad que sea ilegal o que pueda exponer a SYMPLIFICA S.A.S a cualquier responsabilidad
   legal. Además, los Usuarios autorizan a SYMPLIFICA SAS a comunicar sus nombres y apellidos o razón social, domicilio, ciudad, región, código postal, país, número
    de teléfono, dirección de correo electrónico, a las autoridades competentes, en relación con las investigaciones que estas adelanten.
</p>
<br><br>

<h4>VI) SEGURIDAD </h4><br>

<p>
  SYMPLIFICA SAS utiliza varios métodos de seguridad para proteger la información personal que recopilamos de los Usuarios. No obstante lo anterior, ninguna medida
  de seguridad es perfecta o impenetrable, y no se puede garantizar que las transmisiones de datos en Internet sean 100% seguras.<br>
  No podemos asegurar o garantizar la seguridad de ninguna información que el Usuario transmita a SYMPLIFICA SAS, lo cual el Usuario hace bajo su propio riesgo.
</p>

<h4>VII) CAMBIOS DE POLÍTICA</h4><br>

<p>SYMPLIFICA S.A.S se reserva la facultad de revisar en cualquier momento esta Política. SYMPLIFICA S.A.S publicará en este Sitio cualquier cambio en esta
  Política. Cuando se realicen modificaciones sustanciales a esta Política, se comunicará este hecho a los titulares de la información mediante el envío
  de un aviso al correo electrónico que hayan registrado, antes de o a más tardar al momento de implementarlos, informándoles que podrán consultar la nueva
  Política en el Sitio. En dicho aviso se indicará la fecha a partir de la cual regirá la nueva Política. Cuando el cambio se refiera a las finalidades del
  Tratamiento, se solicitará de los titulares de los datos personales una nueva autorización para aplicar las mismas.<br>
Si el Usuario nos proporciona información, o tiene acceso a o usa nuestros Servicios de cualquier manera después de que esta Política haya sido cambiada,
 se considerará que ha dado su consentimiento incondicionalmente a dichos cambios. <br><br></p>

<h4>VIII) FECHA DE ENTRADA EN VIGENCIA DE LA PRESENTE POLÍTICA Y PERIODO DE VIGENCIA DE LA BASE DE DATOS</h4><br>

<p>La presente Política estará vigente a partir del 1 de junio de 2016. La base de datos asociada a esta Política, estará vigente por el término máximo que
  autoricen las leyes aplicables o, en caso de silencio de la ley al respecto, estará vigente a término indefinido.<br><br></p>

<h4>IX) DATOS DE CONTACTO DEL RESPONSABLE DEL TRATAMIENTO</h4><br>

<p>SYMPLIFICA SAS<br>
Dirección y domicilio: Carrera 13 No. 93 - 68 oficina 504 de Bogotá D.C. - Colombia<br>
Teléfono: (571) 795 3525<br>
Correo electrónico:contactanos@symplifica.com<br><br>
</p>

<h4>X) JURISDICCIÓN Y LEGISLACIÓN APLICABLE</h4><br>

<p>Esta Política se regirá, interpretará y aplicará según las leyes de la República de Colombia.
</p>
      </div>
  </section>

{% endblock %}
