{% extends "::base.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:politicaPrivacidad{% endblock %}

{% block body %}
<h1>Welcome to the CorporatePages:politicaPrivacidad page</h1>
{% endblock %}
