{% extends "::base.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:preguntasFrecuentes{% endblock %}

{% block body %}
<h1>Welcome to the CorporatePages:preguntasFrecuentes page</h1>
{% endblock %}
