{% extends "::new-design/public.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:terminosCondiciones{% endblock %}

{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/terminos.css') }}"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
  <section>
      <div id="terminos">
          <div id="titulos-terminos">
              <h1 class="bold">Términos y condiciones</h1>
              <h2 class="semi-italic">Symplifica</h2>
          </div>
          <p class="semi-italic" style="border: 1px #CCC solid;padding: 25px;border-radius: 5px;margin-bottom: 30px">
            Esta página establece los "Términos y Condiciones" (“Términos”), que constituyen un contrato entre usted
            (“Usuario”) y SYMPLIFICA SAS (“SYMPLIFICA”), en que se regula el acceso de los Usuarios a este sitio web, su
            contenido y los productos o servicios a los que tienen acceso a través de www.symplifica.com (el “Sitio”). Por favor
            lea estos Términos cuidadosamente, antes de acceder a este Sitio o utilizar los servicios del mismo.
<br><br>

Mediante el uso de este Sitio, el Usuario está indicando su aceptación a estos Términos. Si el Usuario no acepta los
Términos establecidos aquí, no deberá utilizar el Sitio ni sus servicios.
<br><br>

SYMPLIFICA puede modificar estos Términos en cualquier momento. El Usuario debe visitar esta página periódicamente
para revisar la última versión vigente de estos Términos, debido a que los mismos son obligatorios.

<br><br>


Las palabras "Usted" o "Usuario" tal como se usan aquí, se refieren a todas las personas naturales o jurídicas o
entidades de cualquier naturaleza que accedan a este Sitio por cualquier razón.<br><br>

Únicamente podrán registrarse en este Sitio y adquirir los productos y servicios ofrecidos por SYMPLIFICA, personas mayores de 18 años.

</p>

<h4>I) USO DE ESTE SITIO WEB</h4><br>

<p><strong>Derechos de Propiedad:</strong> Este Sitio y sus respectivas aplicaciones móviles son de propiedad de SYMPLIFICA. SYMPLIFICA
  autoriza al Usuario a consultar, revisar y usar el material que se encuentra en este Sitio, únicamente para su uso personal y no comercial.
  El contenido de este Sitio, incluyendo pero sin limitarse a: los textos, gráficas, imágenes, logotipos, íconos, software
  (incluyendo cualquier software descargable), productos, servicios, marcas comerciales, nombres comerciales y cualquier otro material o
  información (el "Material"), está protegido bajo las leyes  de derechos de autor, leyes de propiedad industrial y otras leyes aplicables.
<br><br>

A excepción de cualquier contenido enviado por Usted, todos los Materiales contenidos en el Sitio son propiedad de SYMPLIFICA o sus clientes,
 proveedores, aliados comerciales o terceros afiliados. Usted se compromete a no vender ni modificar el Material en manera alguna, ni
 distribuirlo para propósitos comerciales; tampoco podrá licenciar, copiar, publicar, exhibir, transmitir, crear trabajos derivados, o de otro
 modo utilizar los Materiales en formas distintas a las autorizadas expresamente en los presentes Términos. El uso no autorizado del Material
  puede constituir una violación de las leyes colombianas o extranjeras sobre derechos de autor, leyes de propiedad industrial u otras leyes.
  <br><br>

<strong>Usos Prohibidos:</strong> De manera general, se prohíbe el uso de este Sitio con el fin de transmitir, distribuir, almacenar o
destruir Material: (i) en violación de cualquier ley aplicable o regulación, (ii) de manera que se infrinjan las leyes sobre derechos de
autor, propiedad industrial, secretos comerciales o cualquier otro derecho de propiedad intelectual de terceros, o de manera que se viole
la privacidad, publicidad u otros derechos personales de terceros, o (iii) en forma que sea difamatoria, obscena, amenazante o abusiva.
<br><br>

<strong>Específicamente, SYMPLIFICA prohíbe a los Usuarios realizar las siguientes actividades en el uso

del Sitio:</strong><br><br>

&#9658; Borrar o revisar cualquier Material incluido en el Sitio por SYMPLIFICA o cualquiera otra persona o entidad, sin la debida autorización.<br>

&#9658; Acceder a información que no esté dirigida o autorizada a dicho Usuario o acceder a servidores o cuentas a los cuales el Usuario no está autorizado a acceder.<br>

&#9658; Intentar probar la vulnerabilidad de un sistema o red sin la debida autorización o violar las medidas de seguridad o autenticación.<br>

&#9658; Usar cualquier elemento, diseño, software o rutina para interferir o intentar interferir con el funcionamiento adecuado de este Sitio o cualquier
actividad que sea llevada a cabo en el Sitio.<br>

&#9658; Intentar interferir con los servicios prestados a otro Usuario, servidor o red, incluyendo pero sin limitarse a, el envió de virus a través del Sitio.<br>

&#9658; Intentar descifrar, decompilar o desensamblar cualquier software comprendido en el Sitio o que de cualquier manera haga parte del Sitio.<br>

&#9658; Enviar correo electrónico no solicitado, incluyendo promociones y/o publicidad de productos o servicios, o cualquier programa de computador o herramienta
con la intención de dañar, interferir, interceptar o apropiarse de cualquier sistema, datos o información.<br>

&#9658; En general, incluir o colocar en el Sitio información falsa, inexacta, incompleta o engañosa.

La violación de cualquier sistema o red de seguridad puede resultar en responsabilidades civiles y penales. SYMPLIFICA investigará la ocurrencia de hechos
que puedan constituir violaciones a lo anterior y cooperará con cualquier autoridad competente que lo requiera.
<br><br>

<strong>Responsabilidad por el Uso del Sitio:</strong> El Sitio y el Material se ponen a disposición de los Usuarios en el estado en que se encuentren.
SYMPLIFICA no garantiza que el Sitio o cualquier Material disponible en el Sitio, funcionarán ininterrumpidamente o libre de errores, ni que los errores
o defectos serán corregidos, ni que se encuentren libres de virus u otros mecanismos dañinos.<br>
El Sitio podrá incluir información u opiniones sobre diversos temas, incluyendo sin limitarse a, temas laborales y de seguridad social. El uso del Sitio
 y del Material, al igual que las decisiones que el Usuario adopte con base en este Sitio y el Material, incluyendo las informaciones, opiniones o cualquier
  otro contenido del Sitio, se hacen bajo su propio y exclusivo riesgo. Nada de lo incluido en este Sitio constituye asesoría suministrada por SYMPLIFICA;
  recomendamos que todas las decisiones que usted quiera adoptar con base en el Material incluido en el Sitio, sean consultadas con sus propios asesores.
  <br><br>

  En ningún caso SYMPLIFICA, sus proveedores o cualquier persona mencionada en el Sitio será responsable por daños de cualquier naturaleza, resultantes
  del uso o la imposibilidad de usar el Sitio o el Material.
<br><br>

Si del uso del Sitio o del Material resulta la necesidad para el Usuario de contratar un servicio de reparación o mantenimiento a sus equipos o información o
de reemplazar sus equipos o información, SYMPLIFICA no será responsable por los costos que ello implique.
<br><br>

<strong>Links a Otros Sitios Web:</strong> Este Sitio puede contener links o vínculos a otros sitios web de terceras entidades o personas. Estos links o
vínculos se suministran para su conveniencia únicamente, y SYMPLIFICA no respalda, recomienda o asume responsabilidad alguna sobre el contenido de los
sitios web de terceros. Si el Usuario decide acceder a través de los links o vínculos a los sitios web de terceros, lo hace bajo su propio riesgo. La
correspondencia que intercambie con estos terceros, o sus acuerdos o negocios con los mismos, son de exclusiva responsabilidad del Usuario. Usted acepta
y reconoce que SYMPLIFICA no será responsable de cualquier pérdida o daño en que Usted incurra como resultado de su relación con tales terceros.
<br><br></p>

<h4>II) REGISTRO, CUENTA Y CONTRASEÑA</h4><br>

<p>Usted se compromete a que la información que proporcione a SYMPLIFICA al registrarse y crear una cuenta, y durante el tiempo en que mantenga una cuenta,
  será verdadera, precisa y completa, y que la actualizará cuando sea necesario.<br>

Cuando se registre, se le pedirá que cree una contraseña. Usted es el único responsable de mantener la confidencialidad de su cuenta y contraseña y de
restringir el acceso a su computadora, y usted está de acuerdo en aceptar la responsabilidad de todas las actividades que ocurran bajo su cuenta y por
todos los usos de su registro en el Sitio, sean o no autorizados por Usted.<br>

Usted acuerda notificar a SYMPLIFICA de cualquier uso no autorizado de su cuenta y contraseña, tan pronto tenga conocimiento de tal hecho.
<br><br></p>

<h4>III) SUSCRIPCIÓN A SYMPLIFICA</h4><br>

<p><strong>Suscripciones:</strong> SYMPLIFICA, a través de su plataforma (“Plataforma”), ofrece una suscripción mensual (“Suscripción”) que permite a los
   Usuarios de este Sitio que la adquieran, acceder a servicios de administración de su nómina de empleados a través de la Plataforma, incluyendo, sin
   limitarse a, la liquidación y administración de pago de salarios y otras obligaciones laborales, liquidación y administración de aportes a las entidades
   de Seguridad Social,  facilitación de formatos de contratos laborales y otros documentos, y almacenamiento de su información e historial de actividades a
   través de la Plataforma, a la que podrá acceder a través de su cuenta.<br><br>

Para utilizar su Suscripción debe tener acceso a Internet.<br><br>

A través de la Plataforma, Usted puede acceder a los servicios de terceros, tales como, sin limitarse a, Operadores de Información de la Planilla Integrada de
Liquidación y Aportes (PILA), entidades proveedoras de mecanismos de pago, centros para la realización de exámenes médicos, o empresas proveedoras de estudios
de seguridad; SYMPLIFICA no es un proveedor de estos servicios, no opera ni es propietaria de los mismos.<br><br>
SYMPLIFICA únicamente ofrece sus servicios de administración de nómina y otras obligaciones laborales, para los trabajadores del Usuario mayores de edad.
En ningún caso se prestarán estos servicios para trabajadores menores de edad.
<br><br>
Como requisito para la Suscripción, es indispensable que todos los Usuarios firmen y suban a la Plataforma, el documento titulado “Mandato”, que se encuentra en
el tablero de control al terminar el registro de trabajadores en el Sitio.
<br><br>

Su Suscripción es personal e intransferible. SYMPLIFICA no podrá ser utilizado con fines comerciales. Usted no podrá regalar, vender ni transferir de manera alguna,
a otras personas, los servicios adquiridos por medio de su Suscripción. <br><br>

<strong>Retracto:</strong> Dentro de los cinco (5) días hábiles contados a partir de la fecha de registro y pago de una Suscripción, Usted podrá ejercer el derecho
de retracto, siempre y cuando no haya comenzado a utilizar los servicios de SYMPLIFICA dentro de dicho plazo.  En el evento en que Usted haga uso de la facultad
de retracto, se resolverá el contrato y SYMPLIFICA le deberá reintegrar el dinero que hubiese pagado, en los términos del artículo 47 de la Ley 1480 de 2011.
<br><br>

<strong>Primer Mes de Suscripción; Ciclo Mensual, Facturación y Pago:</strong> SYMPLIFICA le ofrece un periodo de suscripción gratuito a sus Usuarios (el “Periodo
Gratuito”) que es determinado de manera autónoma por Symplifica y será informado de manera clara al usuario en el momento del registro; este periodo  de suscripción
 gratuito, comenzará a contarse a partir de la fecha en que se da de alta al Usuario (es decir, cuando se validan los documentos ingresados por el Usuario, se
 verifica que el mandato y demás formatos exigidos por SYMPLIFICA hayan sido firmados, se revisa el status de afiliación de empleador y trabajador a las entidades
 del sistema de seguridad social integral y/o se afilian a dichas entidades de ser necesario, obteniéndose el radicado de cada entidad).  Si durante el Periodo
 Gratuito, el Usuario ingresa a otro u otros trabajadores a nuestra Plataforma, SYMPLIFICA no le cobrará una tarifa por esos trabajadores hasta completarse el
 Periodo Gratuito ya iniciado. Nos reservamos el derecho de modificar o suspender la duración de este Periodo Gratuito en cualquier momento (sin afectar la
 duración de los Periodos Gratuitos que ya estén en curso).
<br><br>
Una vez finalizado el Periodo Gratuito del Usuario, SYMPLIFICA comenzará a efectuar el cobro mensual de su tarifa por cada trabajador ingresado a la Plataforma.
 La fecha de corte de cada ciclo mensual es el día 25 de cada mes calendario (la “Fecha de Corte”), en la cual se liquida el valor del ciclo mensual siguiente,
  que se cobra por anticipado. Por lo tanto, a la finalización del Periodo Gratuito, se calculará la tarifa a cobrar al Usuario de manera proporcional a los días
  que falten hasta la siguiente Fecha de Corte, y se facturará junto con el cobro anticipado del siguiente ciclo mensual.
<br><br>
Cada ciclo mensual comienza el día siguiente a la Fecha de Corte. Usted debe informarnos un método de pago válido, tal como tarjeta de crédito o débito
automático a una cuenta corriente o de ahorros ("Forma de Pago"), para poder suscribirse a SYMPLIFICA (ver sección “Forma de Pago” de este capítulo). El pago de
cada ciclo mensual se debitará automáticamente por parte de SYMPLIFICA, en el momento en que el Usuario haga el pago de la nómina y/o los aportes de sus trabajadores,
 si esto ocurre entre los días 26 y  30 del mes. Si no se realiza ninguno de estos pagos en las fechas mencionadas, SYMPLIFICA debitará automáticamente la tarifa
 aplicable el último día del hábil del respectivo mes calendario.
<br>br>

CCada ciclo de SYMPLIFICA es de un (1) mes de duración (un "Ciclo"), y se renovará automáticamente cada mes hasta que Usted cancele o termine su Suscripción. La
Suscripción se entenderá cancelada en el momento en que el Usuario inactive su último trabajador en la Plataforma. Sin embargo, no habrá devolución del valor
de la Suscripción por los ciclos mensuales ya iniciados.
<br><br>

Al comenzar su Suscripción, Usted nos autoriza a debitar la tarifa de su Ciclo inicial, y una cuota mensual recurrente a la tarifa vigente en ese momento, que
puede cambiar de tiempo en tiempo, previa notificación que se dará en estos Términos y/o se le enviará a su correo electrónico. SYMPLIFICA le enviará la factura
de forma automática por la cuota mensual, hasta que su Suscripción sea cancelada o terminada.
<br><br>

<strong>Forma de Pago:</strong> Usted puede modificar la información de su método de pago ingresando al Sitio y a la Configuración de su
cuenta.  Es obligación de cada Usuario mantener actualizada y vigente su Forma de Pago. Si al momento en que deba hacerse un cobro a la
Forma de Pago autorizada por Usted, no se logra hacer el cargo con éxito debido a la caducidad, la insuficiencia de fondos o cualquier
otro motivo, Usted seguirá siendo responsable de todos los importes cobrados, y SYMPLIFICA estará autorizado a seguir facturando el valor
de su cuota mensual o cualquier otra tarifa a que haya lugar. Si no podemos cobrar su cuota mensual a través de la Forma de Pago seleccionada
por Usted, nos reservamos el derecho, pero no estamos obligados, a finalizar su Suscripción y/o el acceso a nuestro Sitio.
<br><br>

<strong>Cancelación o Terminación de la Suscripción:</strong> Para cancelar una suscripción, el Usuario deberá inactivar todos los trabajadores
que tenga registrados en SYMPLIFICA, a través de la Plataforma.
<br><br>

<strong>Otros Planes:</strong> Podemos ofrecer otros planes de suscripción, por ejemplo, planes especiales de promoción o planes de compromiso
 mínimo de varios meses; tales planes tendrán condiciones especiales que publicaremos en este Sitio al momento en que comencemos a ofrecerlos,
 y el Usuario que se suscriba a uno de tales planes especiales estará sujeto a las directrices adicionales de los mismos. Nos reservamos el derecho
 de modificar o suspender cualquiera de nuestros planes de suscripción ofrecidos.
<br><br>

<strong>Tarifas:</strong> Su cuota mensual de Suscripción cubre su acceso a los servicios descritos en el Capítulo V de estos Términos, y adicionalmente
SYMPLIFICA cobrará una tarifa por cada transacción de pago (tales como pagos de nómina y aportes a seguridad social),  que se haga a través de nuestra
Plataforma. Su pago mensual no incluye productos o servicios adicionales que terceros puedan cobrar u ofrecer (por ejemplo, exámenes médicos, asesorías
jurídicas y estudios de seguridad); si Usted adquiere uno de dichos productos o servicios, será su responsabilidad pagarlos.
<br><br>

Nos reservamos el derecho a cambiar estas políticas y tarifas o a introducir tarifas adicionales (tales como una tarifa de registro). En caso de presentarse
estos cambios, lo anunciaremos en este Sitio y/o mediante el envío de un correo electrónico a la dirección registrada por Usted, con un mínimo de 30
días calendario de antelación a la fecha en la cual entrarán en efecto las nuevas tarifas o políticas. Si Usted no cancela su Suscripción antes de la
Fecha de Corte siguiente al anuncio de tales cambios, se entenderá que ha aceptado las nuevas tarifas o políticas.
<br><br>

<strong>Conductas Prohibidas a los Usuarios Suscriptores de SYMPLIFICA:</strong> Usted se obliga a no realizar los siguientes actos:<br><br>

&#9658; Acosar o amenazar a otros Usuarios de este Sitio;<br>

&#9658; Hacerse pasar por otra persona, o tener acceso a la cuenta de otro Usuario sin el permiso de esa persona;<br>

&#9658; Compartir su contraseña de SYMPLIFICA con otras personas;
<br><br>

<strong>Terminación o Modificación por Decisión de SYMPLIFICA.</strong> Usted entiende y acepta que, en cualquier momento y sin previo aviso, con o
sin causa, SYMPLIFICA puede: (i) cancelar, desactivar y/o suspender  su cuenta o su Suscripción, por uso indebido de la misma, o su acceso al Sitio
(o cualquier parte del mismo), o (ii) suspender, modificar o alterar cualquier aspecto, función o política del Sitio. Si determinamos que Usted ha violado
estos Términos o de otra manera ha participado en el uso ilegal o indebido del Sitio, Usted no tendrá derecho a ningún reembolso. Usted acepta que SYMPLIFICA
no será responsable ante Usted o cualquier tercero por cualquier terminación o modificación del servicio, independientemente de la razón de dicha cancelación
o modificación. <br><br></p>

<h4>IV) INFORMACIÓN DE LOS USUARIOS</h4><br>

<p>La privacidad de su información es muy importante para SYMPLIFICA. Al aceptar estos Términos, el Usuario acepta que los datos personales aportados en
  el momento de su registro, o cualquier otro facilitado a SYMPLIFICA para su acceso a algunos de los servicios contenidos en el Sitio, sean utilizados
   conforme a las políticas y finalidades establecidas en la Política de Privacidad de SYMPLIFICA, que se incorpora a estos Términos y que Usted declara
   conocer y aceptar. Por favor, consulte la Política de Privacidad más abajo para más información.
<br><br>

Para la administración de su nómina y mantener un historial de la relación laboral con sus empleados, SYMPLIFICA le ofrecerá el servicio de subir y almacenar
cierta información en la Plataforma, tal como copias firmadas de contratos laborales, recibos de pago de nómina, liquidación de prestaciones, entre otros.
El Usuario responderá, en cualquier caso, de la veracidad de los datos facilitados. Si Usted decide subir esta información a la Plataforma, de todos modos
deberá conservar copia de la misma en sus archivos personales. Usted podrá tener acceso a estos documentos, leerlos o imprimirlos a través de su cuenta de
SYMPLIFICA; SYMPLIFICA no se hace responsable si la información o historial que conste en su cuenta, se encontrare incompleta debido a la falta por parte
de Usted de subir los documentos pertinentes a la Plataforma.<br>
En todo caso, SYMPLIFICA no se hace responsable por la pérdida de la información subida por Usted a la Plataforma, o por la imposibilidad de acceso a
la misma, ya sea de forma temporal o permanente, debido a errores, defectos, virus u otros mecanismos dañinos, o hechos de terceros.
<br><br></p>

<h4>V) PAGO DE LA NÓMINA Y APORTES A SEGURIDAD SOCIAL DE LOS EMPLEADOS DEL USUARIO</h4><br>

<p><strong>Administración de Pagos de Nómina:</strong> YMPLIFICA ofrece entre sus servicios, la administración de pagos de los salarios y otras obligaciones
  laborales de los empleados de sus Usuarios. Si Usted opta por utilizar este servicio y realizar los pagos a través de nuestra Plataforma, deberá seleccionar
  una Forma de Pago y realizarlos quincenal o mensualmente (según aplique), teniendo en cuenta lo siguiente:<br><br>

&#9658; Usted deberá escoger entre las diversos métodos de pago ofrecidos en la Plataforma (Ejemplo: transferencia bancaria, tarjetas de crédito, débito automático
a una cuenta corriente o de ahorros).<br>

&#9658; Los trabajadores a los que Usted deba realizar pagos de nómina, deberán optar por uno de los mecanismos ofrecidos por SYMPLIFICA para el cobro
de sus salarios u otros pagos laborales (ejemplo: recibir transferencia en su cuenta bancaria o retirar en cajero automático con PIN).
<br>

&#9658; Usted deberá realizar los pagos a través de nuestra Plataforma con al menos 3 días hábiles de antelación a la fecha de vencimiento del plazo para pagarle
a sus trabajadores. Esto se debe a que los pagos realizados por el Usuario no ingresan inmediatamente a los sistemas seleccionados por los trabajadores para cobrar,
ya que los recursos pueden tardarse en ingresar a la cuenta bancaria de SYMPLIFICA, y desde ahí, con instrucciones de SYMPLIFICA, el proveedor de pagos los distribuirá a
 los sistemas seleccionados por los trabajadores. Si el Usuario no realiza los pagos a través de la Plataforma con la antelación aquí indicada, y debido a los ciclos
  bancarios y/o los plazos requeridos para las autorizaciones de las tarjetas de crédito, se presentara un retardo en el pago de la nómina a los trabajadores,
  SYMPLIFICA no será responsable por el pago de los intereses de mora que se pudieren generar frente a estos.
<br>

&#9658; Si Usted prefiere realizar los pagos de nómina en efectivo directamente a sus trabajadores, podrá ingresar la información de los pagos que haya realizado a la
Plataforma, imprimir los recibos de pago y hacerlos firmar por sus trabajadores, para posteriormente subirlos a la Plataforma.<br>

&#9658; Usted será responsable de actualizar la información suministrada a SYMPLIFICA, referente a salarios, fechas de inicio o terminación de contratos, o cualquiera
otra que sea relevante para la adecuada administración de la nómina.<br>

&#9658; SYMPLIFICA no será responsable por errores en la administración de la nómina, que se deban al suministro por parte del Usuario de información falsa, incorrecta,
incompleta o imprecisa.<br><br>

<strong>Afiliación a Entidades de Seguridad Social:</strong> SYMPLIFICA ofrece a sus Usuarios el servicio de trámites de afiliación de sus trabajadores a las entidades
del sistema de seguridad social integral (EPS, AFP, ARL y Cajas de Compensación). Si Usted elige este servicio, deberá darnos autorización mediante la selección de
la opción correspondiente al diligenciar y firmar el formato titulado “Mandato”, que se encuentra en el tablero de control al terminar el registro de trabajadores
en el Sitio, y subirlo nuevamente a la Plataforma; esto es un requisito para que SYMPLIFICA pueda realizar a nombre de los Usuarios, los trámites de afiliación
tanto de ellos como de sus trabajadores a las respectivas entidades.
<br>
SYMPLIFICA no realiza el proceso de afiliación de los beneficiarios del trabajador; este trámite quedará bajo responsabilidad del Usuario y/o el trabajador.
<br><br>
Como parte del procedimiento de afiliación, SYMPLIFICA revisará el estado de afiliación de empleado y trabajador a Pensión y Salud en la base de datos de BDUA
(Base de Datos Única de Afiliados), o la base de datos que reemplace a esta. SYMPLIFICA quedará exonerado de toda responsabilidad, si la BDUA o la base de datos
 que la reemplace, presenta información errónea, que conlleve problemas, retrasos o errores en el proceso de afiliación del empleado y el trabajador.
 <br><br>
 SYMPLIFICA no realiza trámites de traslados entre entidades de seguridad social. Si uno de los trabajadores del Usuario ya se encuentra afiliado a una
 entidad y desea trasladarse a otra, el Usuario deberá hacer los trámites directamente o a través de terceros. Si por deficiencias en la información
 suministrada por la BDUA o la base de datos que la reemplace, SYMPLIFICA realiza la afiliación a alguna entidad, pero posteriormente se evidencie que
 era necesario un traslado desde otra entidad, el Usuario deberá realizar por su cuenta y asumir los costos que se generen por dicho traslado y para
 subsanar los errores presentados.
 <br>
 SYMPLIFICA no realiza trámites para la obtención de incapacidades ni licencias ante las entidades de seguridad social.
 <br><br>
 EL USUARIO RECONOCE Y ACEPTA QUE, UNA VEZ HAYA SIDO AFILIADO A LAS ENTIDADES DEL SISTEMA DE SEGURIDAD SOCIAL POR PARTE DE SYMPLIFICA, ADQUIRIRÁ LA
 RESPONSABILIDAD DE PAGAR A DICHAS ENTIDADES LOS APORTES ORDENADOS POR LA LEY. SERÁ RESPONSABILIDAD DEL USUARIO PAGAR CUMPLIDAMENTE LOS APORTES QUE LE
 CORRESPONDAN, YA SEA A TRAVÉS DE SYMPLIFICA O POR CUALQUIER OTRO MEDIO QUE EL USUARIO DECIDA. EN CASO DE QUE EL USUARIO NO PAGUE CUMPLIDAMENTE LOS APORTES,
 O NO NOTIFIQUE OPORTUNAMENTE LA DESAFILIACIÓN, NOVEDAD DE RETIRO O CUALQUIER OTRA A QUE HAYA LUGAR, ANTE LAS ENTIDADES DE SEGURIDAD SOCIAL, EL USUARIO SERÁ
 RESPONSABLE DE PAGAR TODA DEUDA, INTERESES DE MORA, MULTAS, SANCIONES O INDEMNIZACIONES QUE SE DERIVEN DE ELLO, YA SEA ANTE LAS ENTIDADES DE SEGURIDAD SOCIAL
 O LA AUTORIDAD COMPETENTE, Y EL USUARIO EXPRESAMENTE EXONERA DE TODA RESPONSABILIDAD A SYMPLIFICA CON RESPECTO A DICHOS PAGOS.
  <br><br>


<strong>Administración de Pagos de Aportes a Seguridad Social:</strong> SYMPLIFICA ofrece entre sus servicios, la administración de los aportes de los
trabajadores de los Usuarios a las entidades del sistema de seguridad social integral a que se encuentren afiliados, a través de un operador de información
de la PILA. Si Usted opta por utilizar este servicio y realizar los pagos a través de nuestra Plataforma, deberá seleccionar una Forma de Pago y realizar
mensualmente el pago de los aportes a través de SYMPLIFICA, teniendo en cuenta lo siguiente:
<br><br>

&#9658; Deberá escoger entre las diversos métodos de pago ofrecidos en la Plataforma (Ejemplo: tarjetas de crédito o débito automático a una cuenta
corriente o de ahorros).
<br>

&#9658; Usted deberá realizar los pagos a través de nuestra Plataforma con al menos 3 días hábiles de antelación a la fecha de vencimiento del plazo estipulada
en la normatividad vigente. Lo anterior, debido a que los transferidos por el usuario pueden tardarse en ingresar a la cuenta bancaria de SYMPLIFICA, y desde
ahí, el proveedor de pagos hará el pago en el Operador de Información de la Planilla Integrada de Liquidación de Aportes (PILA) seleccionada por SYMPLIFICA.<br>

&#9658; Para efectos de lo anterior, SYMPLIFICA, si Usted así lo autoriza, debitará automáticamente del medio de pago seleccionado por Usted, entre el día 26 y
30 de cada mes,  el valor de los aportes a seguridad social de sus trabajadores correspondiente al mes inmediatamente siguiente. SYMPLIFICA le notificará las
 fechas máximas en que los pagos se podrán hacer a través de la Plataforma, para que no haya retrasos ante las entidades de seguridad social, teniendo en cuenta
 los ciclos bancarios y/o los plazos requeridos para las autorizaciones de las tarjetas de crédito.  En caso de que el Usuario no cumpla con las fechas de
 vencimiento requeridas por SYMPLIFICA paga pago a través de la Plataforma, el Usuario deberá realizar el pago de los aportes a través de los otros mecanismos
 existentes en el mercado, para evitar el pago extemporáneo; si por el contrario, el Usuario decidiera realizar los pagos a través de la Plataforma de
 YMPLIFICA después de la fecha de vencimiento que esta le indique, se deberán liquidar y pagar a través de la Plataforma, en forma anticipada, el valor
 de los intereses de mora. <br>

&#9658; SYMPLIFICA únicamente asumirá el pago de intereses de mora ante las entidades de seguridad social integral, cuando a pesar de que el Usuario haya
realizado el pago de los aportes a través de la Plataforma con la antelación requerida por SYMPLIFICA, estos sean recibidos por dichas entidades después de
la fecha de vencimiento que le corresponda al Usuario conforme a la normatividad vigente, siempre y cuando no se hayan presentado situaciones por culpa del
Usuario que hayan retrasado el pago (tales como, sin limitarse a, insuficiencia de fondos o error en los datos bancarios o de la tarjeta de crédito suministrados
a la Plataforma). En todos los demás casos, los intereses de mora serán asumidos por el Usuario.<br>

&#9658; SYMPLIFICA no se hará responsable en ningún caso por las sanciones, multas, suspensión de servicios, negación de beneficios, incapacidades o licencias,
u otras consecuencias del pago extemporáneo a las entidades de seguridad social por parte del Usuario.<br>

&#9658; Usted será responsable de actualizar la información suministrada a SYMPLIFICA, referente a salarios, I.B.C., fechas de inicio o terminación de contratos,
o cualquiera otra que sea relevante para la adecuada administración de la nómina.
<br>

&#9658; SYMPLIFICA no será responsable por errores en la administración de los aportes a seguridad social, que se deban al suministro por parte del Usuario de
información falsa, incorrecta, incompleta o imprecisa.<br>
<br>

<strong>Mandato:</strong> Si Usted opta por realizar a través de SYMPLIFICA, los pagos de nómina y/o de los aportes a las entidades de seguridad social a que
estén afiliados sus trabajadores, se entenderá que con la aceptación de los presentes Términos, Usted otorga un mandato específico a SYMPLIFICA para la
 administración de los recursos con que Usted efectúe sus pagos; en virtud de este mandato, SYMPLIFCA deberá destinar dichos dineros únicamente al pago
 de la nómina o de los aportes a seguridad social de sus trabajadores, ajustándose estrictamente a las instrucciones dadas por Usted en calidad de mandante.
 Sin perjuicio de lo anterior, como requisito previo para la administración de los pagos por parte de SYMPLIFICA, Usted deberá descargar e imprimir el formato
 titulado “Mandato”, que se encuentra en el tablero de control al terminar el registro de trabajadores en el Sitio, firmarlo y subirlo a la Plataforma de SYMPLIFICA.
<br><br>



<strong>Ausencia de Relación Laboral:</strong> La administración de pagos de nómina y aportes a la seguridad social de los trabajadores de los Usuarios del
Sitio, es realizada por SYMPLIFICA en calidad de mandatario de dichos Usuarios y ajustándose a las instrucciones de los mismos. Por lo tanto, en ningún
caso podrá considerarse que SYMPLIFICA actúa como patrono o empleador de los trabajadores de los Usuarios que utilicen los servicios ofrecidos por SYMPLIFICA.<br>
Usted será exclusivamente responsable del cumplimiento de los términos y condiciones de los contratos laborales o de otro tipo que llegue a celebrar con sus trabajadores,
así como del cumplimiento de las leyes aplicables a tales contratos.
<br><br></p>

<h4>VI) EXONERACIÓN DE RESPONSABILIDAD DE SYMPLIFICA</h4><br>

<p>En ningún caso, SYMPLIFICA será responsable por cualquier acto, error u omisión de terceros, incluyendo, sin limitarse a, cualquiera que se derive del operador
  de información de la PILA, de las entidades de seguridad social, de los proveedores de pagos, del uso de cualquier servicio o producto anunciado a través del Sitio,
  o del incumplimiento de cualquier tercero en relación con los servicios anunciados o disponibles a través de la Plataforma. SYMPLIFICA es una entidad independiente
  de, y no es un agente de, ninguna de dichas entidades.
<br><br>

SYMPLIFICA seguirá los criterios generales establecidos por el Código Sustantivo del Trabajo y las normas que lo reglamenten, para realizar las liquidaciones de
nómina, de prestaciones sociales, vacaciones y demás pagos laborales de los trabajadores del Usuario. Si el Usuario tiene alguna pregunta o inconformidad sobre
alguna liquidación, la podrá formular a SYMPLIFICA a través de los canales de comunicación disponibles a través del Sitio, pero en todo caso, SYMPLIFICA no tendrá
responsabilidad alguna si se presentaren diferencias de interpretación con respecto a la forma en que debían realizarse las liquidaciones, frente a los trabajadores
del Usuario o cualquier autoridad competente. Cualquier pago, indemnización, sanción o interés que se derive de ello, será asumido por el Usuario, quien expresamente
exonera de toda responsabilidad a SYMPLIFICA.
<br><br>

SEl Sitio podrá ofrecer información sobre temas laborales y de seguridad social; las decisiones que el Usuario adopte con base en este Sitio y su contenido, se hacen
bajo su propio y exclusivo riesgo. Nada de lo incluido en este Sitio constituye asesoría suministrada por SYMPLIFICA, y Usted entiende y acepta que esta información
no constituye recomendación o consejo por parte de SYMPLIFICA.
<br><br>

SYMPLIFICA no garantiza que el Sitio o cualquier Material disponible en el Sitio, funcionarán ininterrumpidamente o libre de errores, ni que los errores o defectos
serán corregidos, ni que se encuentren libres de virus u otros mecanismos dañinos.
<br><br>
POR LO TANTO, USTED LIBERA A SYMPLIFICA,  SUS ENTIDADES SUBORDINADAS, SU COMPAÑÍA MATRIZ Y LAS  SUBORDINADAS DE SU MATRIZ, Y A CADA UNO DE SUS RESPECTIVOS
FUNCIONARIOS, DIRECTORES, SOCIOS, EMPLEADOS, ASESORES, CONTRATISTAS, REPRESENTANTES Y AGENTES, DE CUALQUIER Y TODA RESPONSABILIDAD, RECLAMACIONES, ACCIONES,
 DEMANDAS, PROCEDIMIENTOS, COSTOS, GASTOS, DAÑOS Y RESPONSABILIDADES DERIVADAS DE O RELACIONADAS CON EL USO DE SU SUSCRIPCIÓN.
<br><br>
</p>

<h4>VII) PROHIBICIÓN DE REVENTA, CESIÓN O USO COMERCIAL NO AUTORIZADO</h4><br>

<p>El Usuario declara que no revenderá o cederá sus derechos u obligaciones bajo estos Términos. El Usuario declara igualmente que no hará un uso comercial no autorizado de
  este Sitio, ni de su Suscripción.<br><br></p>

<h4>VIII) TERMINACIÓN</h4><br>

<p>Ante el incumplimiento por parte del Usuario de estos Términos o de la ley, o ante la imposibilidad de verificar o autenticar cualquier información que el Usuario
  haya presentado en su forma de registro para acceder al Sitio, SYMPLIFICA se reserva el derecho, a su exclusiva discreción, de terminar inmediatamente el registro
  de tal Usuario y del acceso al Sitio o a determinados servicios proveídos por SYMPLIFICA.<br><br></p>

<h4>IX) DISPOSICIONES GENERALES</h4><br>

<p>SYMPLIFICA no asegura que el Material pueda ser legalmente visto fuera del territorio de la República de Colombia. Si el Usuario tiene acceso a este
  Sitio desde un lugar ubicado fuera del territorio de la República de Colombia, lo hace bajo su propio riesgo y es responsable del cumplimiento de
  las leyes aplicables en su jurisdicción.
<br><br>

Estos Términos están regidos por las leyes de la República de Colombia, sin dar aplicación a las normas o principios sobre conflicto de leyes.
La jurisdicción para cualquier reclamación que surja de estos Términos será exclusivamente la de los tribunales y jueces de Bogotá D.C., República de Colombia.<br>
Si alguna previsión de estos Términos es declarada nula o inválida o ineficaz, ello no afectará la validez de las restantes previsiones de estos Términos.<br>
SYMPLIFICA podrá ceder los derechos y obligaciones que tiene en virtud de estos Términos.
<br>



Este Sitio es operado por SYMPLIFICA SAS, con domicilio en la carrera 13 No. 93-68 oficina 504, de la ciudad de Bogotá D.C. También nos puede contactar al
teléfono 350833000, o al correo electrónico contactanos@symplifica.com .

</p>
      </div>
  </section>

{% endblock %}
