{% extends "::base.html.twig" %}

{% block title %}RocketSellerTwoPickBundle:CorporatePages:terminosCondiciones{% endblock %}

{% block body %}
<h1>Welcome to the CorporatePages:terminosCondiciones page</h1>
{% endblock %}
