{% extends "::base.html.twig" %}
{% block fos_user_content %}
	<div class="col-sm-12">
		<div class="col-sm-8 col-sm-offset-2"> 
			<div class="col-sm-6" style="text-align: right;">
				<a class="btn btn-orange notAjax" href="/register/edit">Continuar sin la consultoria</a>
			</div>
			<div class="col-sm-6">
				<a class="btn btn-orange notAjax" href="/legal-status">Continuar con la consultoria</a>
			</div>
		</div>
		
	</div>
{% endblock %}