@charset "UTF-8";
/* CSS Document */

a {text-decoration: none}

.grisclarofont  {color: #87868A}
.naranjafont  {color: #FD9224}
.azuloscurofont {color: #3c4b5a}
.azulmediofont {color: #00838c}
.azulclarofont {color: #00cccb}

.fondo-section {background: #f7f7f7; padding-bottom: 50px;}

.naranja {background: #FD9224}
.azuloscuro {background: #3c4b5a}
.azulmedio {background: #00838c}
.azulclaro {background: #00cccb}

.light-italic {font-family: 'Open Sans', sans-serif;font-weight: 300;font-style:italic}
.light {font-family: 'Open Sans', sans-serif;font-weight: 300}
.semi-italic {font-family: 'Open Sans', sans-serif;font-weight: 600;font-style:italic}
.bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
.extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}

/*------------------menu-------------------*/
#nav-menu {
	width: 1100px;
	height: 65px;
	margin: 0 auto;
	box-sizing: border-box;
    padding: 10px 0 0 0;}

#logo {
  float: left;
  padding: 10px 0 0 0;
}
#menu {
	float: left;
	margin: 0 30px;
	padding: 10px 0 0 0}

#menu ul li {
	display: inline-block;
	margin: 0 13px;
  font-size: 17px;
}

.registro {
	float:right;
	text-align: center}

#menu li:hover {
	border-bottom: 2px solid #5D5D5D}

#menu li:visited {
	border-bottom: 2px solid #5D5D5D}

#hamburguesa {display: none}

#menu-resp {display: none}

.callto3 {
	width: 200px;
	height: 35px;
	margin: 0 auto;
	border-radius: 3px;
	border-bottom:#D3731C 3px solid;
  color: #FFFFFF !important;
	padding: 6px 12px;
	box-sizing: border-box;
	text-align: center;
}

/*------------------fin menu-------------------*/

@media only screen and (max-width: 1024px) {
		/*menu*/
		#menu  {display: none; margin: : 0;}
		#nav-menu {width: 90%;}
		#hamburguesa {display: block;width: 45px;float: left;margin: 5px 0 0 28%;}
		#menu-resp {text-align: center; background: #F7F7F7; padding: 10px 0}
		#menu-resp li {padding: 15px 0; color:#5DD5D5D}

	}

@media only screen and (max-width: 900px) {
		#hamburguesa {display: block;width: 45px;float: left;margin: 5px 0 0 25%;}
	}
@media only screen and (max-width: 800px) {
	/*menu*/
	#hamburguesa {margin: 5px 0 0 22%;}
	}

@media only screen and (max-width: 700px) {

		/*menu*/
		#hamburguesa {margin: 0; float: right;}
		.registro {display: none}
		}
