<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Symplifica</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/landing.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>





             <!-- Google Tag Manager -->
             <noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-TR6JCJ"
             height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
             <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
             new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
             j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
             'http://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
             })(window,document,'script','dataLayer','GTM-TR6JCJ');</script>
             <!-- End Google Tag Manager -->
         <div id = "general">

             <div id = "header">

                     <img src="{{ asset('public/img/logo-landing.png') }}">

                 <div id = "header_texto">
                     <p>Un gran aliado en la gestión de tus                    empleados con </p>
                     <p>la tranquilidad que necesitas.</p>
                 </div>
                 <div style="clear: both"></div>

             </div>

             <div id = "main">
                   <div id = "franja_oscura1" style="color:white" class="col-xs-12">
                    <div class="col-xs-4">
                      
                    </div>
                    <div class="col-xs-4 register-express">
                      <ul style="list-style: none;">
                        <li>Ingresa los datos</li>
                        <li>Paga</li>
                        <li>te Llamamos</li>
                        <li><a class="btn register-AS1 btn-symplifica" href="{{ path('express_start')}}">Empenzar</a></li>
                      </ul>                      
                    </div>
                    <div class="col-xs-4">
                      
                    </div>

                   </div>
               </div>

             </div>

             <div id = "footer">
                 <div id = "texto_footer">
                     <p>©2015 symplifica.
                     Todos los derechos reservados.</p>
                 </div>
                 <div style="clear: both;"></div>
             </div>


         </div>






     <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
     <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


     <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
     <script>
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-70850811-1', 'auto');
         ga('send', 'pageview');
     </script>
     <!-- End Google Analytics -->
     </body>
 </html>
