<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <title>Responsive email</title>
    <style type="text/css">
      body {margin: 10px 0; padding: 0 10px; background: #F9F2E7; font-size: 13px;}
      table {border-collapse: collapse;}
      td {font-family: arial, sans-serif; color: #333333;}

      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {
          -webkit-text-size-adjust:none !important;
        }
        table {width: 100% !important}

        .responsive-image img {
          height: auto !important;
          max-width: 50% !important;
          width: 50% !important;
        }
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="640" bgcolor="#FFFFFF">
            <tr>
              <td bgcolor="#424C59" style="font-size: 0; line-height: 0; padding: 0 10px;" height="80" align="center" class="responsive-image">
                <img src="https://symplifica.com/public/img/mail/logo.png" alt="" />
              </td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
            <tr>
              <td style="padding: 10px 10px 20px 10px; text-align: center">
                <div style="color:#5D5D5D;font-size: 35px; font-family: 'Open Sans', sans-serif; font-weight: 700;">¡Ya eres un miembro oficial de Symplifica!</div>
                <br /><br />
                <div style="font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: 300 ; color: #858688; width: 70%; margin: 0 auto">
                  Hemos revisado tus documentos y realizado con éxito las afiliaciones correspondientes, es momento de hacer tu vida más fácil. Recuerda que cuentas con tres meses de prueba gratuito en dónde podrás gestionar todos los aspectos de tu empleado.
                </div>
                <br /><br /><br />
                <div style="text-align: center;font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #00cccb;padding: 0 60px;">
                 	Desde hoy podrás:
                </div>

              </td>
            </tr>
            <tr>

              <td style="padding: 10px 10px 30px 10px">

                <table border="1" bordercolor="#D7D8D9" cellpadding="0" cellspacing="0" align="left" width="100%">

                  <tr>
                    <td style="padding: 10px 10px;text-align: center;">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Notificar novedades o hacer memorandos en cualquier momento del mes.</div>
                    </td>
                  </tr>

                  <tr>
                   <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Pagar la nómina y aportes con un solo clic.</div>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Crear certificados para ti o tus empleados.</div>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Revisar la relación laboral con tus empleados.</div>
                    </td>
                  </tr>

                  <tr>
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Conocer las fechas importantes para aportes, gestiones y procesos.</div>
                    </td>
                  </tr>

                   <tr>
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Resolver dudas y recibe apoyo en tus gestión como empleador.</div>
                    </td>
                  </tr>

                   <tr>
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Agrega o inactivar a tus empleados.</div>
                    </td>
                  </tr>

                </table>

              </td>

            </tr>

            <tr>
              <td style="padding: 10px 10px 20px 10px; text-align: center">

                <div style="text-align: center;font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: 100;color: #87868A;;padding: 0 60px;">
                 	Guíate de este línea de tiempo para saber cuales son las fechas importantes en tu gestión:
                </div>

              </td>
            </tr>
            <tr>

              <td style="padding: 30px 10px">

                <table border="0" bordercolor="#D7D8D9" cellpadding="0" cellspacing="0" align="left" width="100%">

                  <tr style="background:#ececec">
                    <td style="padding: 10px 10px;text-align: center;">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 10 de cada mes</span><br />Tiempo oportuno
para reportar novedades</div>
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
                  <tr style="background:#ececec">
                   <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 12 de cada mes</span><br />Cierre de nómina
(para modalidad quincenal)</div>
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
                  <tr style="background:#ececec">
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 15 de cada mes</span><br />Pago de nómina</div>
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
                  <tr style="background:#ececec">
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 23 de cada mes</span><br />Tiempo oportuno
para reportar novedades</div>
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
                  <tr style="background:#ececec">
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 25 de cada mes</span><br />Cierre de nómina</div>
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr>
                  <tr style="background:#ececec">
                    <td style="padding: 10px 10px;text-align: center">
                      <div style="color: #808183;font-style: italic; font-size: 16px; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      <span style="font-weight:700">Día 30 de cada mes</span><br />Pago de nómina
pago de aportes a seguridad</div>
                    </td>
                  </tr>

                </table>

              </td>

            </tr>

            <tr>
            	<td><br/><br/><div style="margin: 0 auto;font-size: 20px;font-family: 'Open Sans', sans-serif; font-weight: 700; color: #74BEC0; text-align: center; width: 85%">
                Puedes reportar novedades en cualquier momento.
Sugerimos los días 15 y 30 de cada mes, pero el pago de nómina lo puedes hacer en cualquier momento si no tienes novedades por reportar.
                </div><br /><br/></td>
            </tr>
            <tr>
            	<td>
                <br/>
                <a style="text-decoration:none" href="#"><div style="margin: 0 auto;font-size: 20px;font-family: 'Open Sans', sans-serif;color: #ffffff;text-align: center; width: 200px;background: #DF9136;padding: 5px 0;">
                Ir a Symplifica
                </div></a><br /><br/></td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td></tr>
            <tr>
              <td bgcolor="#485465">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                  <tr>
                  	<td style="color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300;">Siguenos
                    <a href="https://www.facebook.com/Symplifica-1538503439800792/timeline"><img src="https://symplifica.com/img/face.png" /></a>
                    <a href="https://twitter.com/symplifica_?lang=en"><img src="https://symplifica.com/img/link.png" /></a>
                    <a href="https://www.linkedin.com/company/symplifica?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10358058%2Cidx%3A1-1-1%2CtarId%3A1456525736089%2Ctas%3Asymplifica"><img src="https://symplifica.com/img/tweet.png" /></a>
                    </td>
                  </tr>

                  <tr>
                  	<br>
                    <td style="padding: 0 10px; color: #FFFFFF; font-family: 'Open Sans', sans-serif; font-weight: 300;">
                      Términos y Condiciones I Copyright © Todos los derechos reservados Sympliﬁca
                    </td>
                  </tr>
                  <tr><td style="font-size: 0; line-height: 0;" height="15">&nbsp;</td></tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
