<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>*|SUBJECT|*</title>
        <style type="text/css">
            /* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
            #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" message */
            .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
            body, table, td, p, a, li, blockquote{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
            table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
            img{-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */
            /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */



            html, body {
               margin:0;
               padding:0;
               height:100%;
               font-family: "open sans";
            }
            #general {

                min-height:100%;
                position:relative;
            }

            #header {
                width: 100%;
                height: 400px;
                background-image: url('http://symplifica.com/public/img/foto_mail_inscripcion.jpg');
                background-size: 100% 100%;
            }

            #header img{
                width: 100%;
            }

            #main_gracias {

            }

            #main_gracias_wrapper{
                margin-left: 64.6%;
                color: #3Acdcb;
                font-size: 220%;
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: 800;
            }

            #logo {
                background-color: #3C4B59;
            }

            #logo img {
                margin-left: 62%;
                width: 39%;
                min-width: 270px;
                max-width: 350px;
            }

            #main_texto {
                width: 30%;
                margin-left: 64.6%;
                color: #828181;
                margin-top: 25px;
                margin-bottom: 10px;
                max-width: 350px;
                font-size: 17px;
            }

            #main {

               padding-bottom:60px;
            }


            #texto_azul {
                color: #3Acdcb;
                display: inline;
            }
            #texto_resaltado {
                font-weight: bold;
                display: inline;
                font-style: italic;
            }

            #footer {
                background-color: #3Acdcb;
                position: absolute;
                bottom: -8;
                padding-bottom: 8px;
                width: 100%;
                height: 60px;
            }


            #texto_footer{
                position: relative;
                margin-left: 64.6%;
                margin-top: 0px;
                color: #DAF4F3;
                font-size: 14px;
            }



            @media screen and (max-width: 740px) {
                #main_gracias_wrapper{
                    margin-left: 20%;
                }
                #main_texto {
                    margin-left: 20%;
                    width: 50%;
                }
                #logo img {
                    margin-left: 17%;
                }
                #texto_footer{
                    margin-left: 20%;
                }
            }

            @media screen and (max-width: 450px) {
                #main_gracias_wrapper{
                    margin-left: 5%;
                    font-size: 200%;
                }
                #main_texto {
                    margin-left: 5%;
                    width: 75%;
                }
                #logo img {
                    margin-left: 5%;
                }
                #texto_footer{
                    margin-left: 5%;
                }
            }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Symplifica</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id = "general">

            <div id = "header">

            </div>

            <div id = "main">
                <div id = "main_gracias_wrapper">
                    <div id = "main_gracias">
                        GRACIAS POR
                    </div>
                    <div id = "main_gracias">
                        INSCRIBIRTE A
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div id = "logo">
                    <img src="http://www.symplifica.com/public/img/symplifica_logo.png">
                </div>

                <div id = "main_texto">
                    Te avisaremos cuando
                    <div id = "texto_azul">estemos al aire</div>
                    para que puedas gestionar fácilmente a tus empleados.                     <br><br>
                    Serás uno de los primeros en recibir
                    <div id = "texto_azul">guías prácticas</div>
                    para una
                    <div id = "texto_resaltado">buena contratación</div>
                    , podrás
                    <div id = "texto_resaltado">afiliar a tus empleados,                       pagarles la nómina </div>
                    y todo lo que la
                    <div id = "texto_resaltado">ley</div>
                    solicita en solo dos clics y sin salir de tu casa.
                </div>
                <div style="clear: both;"></div>

            </div>

            <div id = "footer">
                <div id = "texto_footer">
                    <p>&copy; *|CURRENT_YEAR|* symplifica.<br>
                    Todos los derechos reservados.</p>
                </div>
                <div style="clear: both;"></div>
            </div>

        </div>
    </body>
</html>
