{% extends "::base.html.twig" %}
{% block fos_user_content%}
    <div class="alert alert-danger" role="alert">
        Tu cuenta se encuentra inactiva
        <a href="#" class="alert-link"> Adquirir suscripción</a>
    </div>
{% endblock %}