{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <br/>


            <br/><br/>
            <h4 class="light azulmediofont">
                <i style="font-size:25px;">¿Tu empleado ya se encuentra
                        <br/>
                        trabajando para tí?</i>
            </h4>
            <br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-xs-12 multipleOptions multipleRight" style="">
            <a id="btn_legal_status" class="btn btn-orange notAjax responsivestyle padd" href="{{ path('legal') }}">Sí, ya inició labores</a>
        </div>
        <div class="col-sm-4 col-xs-12 multipleOptions">
            <a class="btn btn-orange notAjax responsivestyle" href="{{ path('change_flag',{'flag':0}) }}">No, aún no ha iniciado
                labores</a>
        </div>
    </div>
    <div class="roundContainer sisbenwizard" style="padding: 20px 20px 10px;">
        <div class="media">
            <div class="media-left">
                <i class="glyphicon glyphicon-info-sign bigIcon"></i>
            </div>
            <div class="media-body">
                <h4 style="font-size:15px" class="media-heading grisclarofont bold">Ten encuenta que</h4>
                  <p class="light grisclarofont" style="font-size:13px">
                    En este momento no podemos administrar empleados de tiempo parcial que no pertenezcan al SISBEN es decir que estén en el régimen contributivo.<br />
                    <!--<a style="text-decoration:none" href="#"><span class="grisoscurofont bold">&#10095; Contactarme cuando sea posible hacerlo.</span></a>-->
                  </p>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 remember" style="opacity: 0.7; border: 2px; ">
            <h4 onclick="$(this).next().slideToggle()" style="font-size: 14px;cursor: pointer" class=""><i
                        class="glyphicon glyphicon-exclamation-sign"></i> ¿Por qué te preguntamos esto?</h4>
            <span style="color:#666; font-weight:300; display:none; font-size: 14px;" id="textPorque">De acuerdo a la situación con tu empleado, podremos darte mejores alternativas para el manejo de la contratación.</span>
        </div>
    </div>
{% endblock %}
