{% extends "::new-design/public.html.twig" %}
{% block body %}

<div id="postRegistrationContainer" class="row-fluid clearfix">

    <div class="topBackgroundImage">
        <h2>Revisa tu correo</h2>
        <span>Estas cerca de poder disfrutar de Symplifica</span>
    </div>
    <div class="mainText">
        <h3>Hemos enviado un correo electrónico a la dirección ingresada</h3>
        <span>Para finalizar el proceso de registro requerimos que confirmes tu dirección haciendo click en el vinculo que se encuentra en el mensaje enviado.</span>
    </div>
    <div class="subText">
        <h3>¡Gracias por contar con symplifica!</h3>
    </div>

</div>
{% endblock body %}


{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
<!--
function sendConfirmationEmail(event) {
	var $btn = event;
    $btn.button('loading');
	$.ajax({
        url: "/api/public/v1/sends/confirmations/emails",
        type: 'POST',
        data: {id: {{ id }}},
        success: function(data) {
            $btn.button('complete');
            $("#msgSinVerificar1").hide();
            $("#msgSinVerificar2").hide();
            $("#msgEnviado").show();
        }
    });
}
//-->
</script>
{% endblock javascripts %}