{% extends "::base.html.twig" %}
{% block body %}
    <div class="row-fluid block-Intro-green" id="msgSinVerificar1">
        <div class="container">
            <div class="col-sm-3 col-md-2">
                <div class="boxIntro-Heading"><img src="/img/cross.png"></div>
            </div>
            <div class="col-sm-8 col-md-9 col-xs-12 up-Intro">Nuestro sistema a&uacute;n no registra la confirmaci&oacute;n de tu correo electr&oacute;nico
            </div>
        </div>
    </div>
    <div class="container" id="msgSinVerificar2">
        <div class="col-sm-8 col-sm-offset-2 contenMessage">
             
            <p>Revisa tu correo electr&oacute;nico, ingresa al correo que te enviamos el pasado 15 de diciembre de 2015 y dale clic al vínculo que aparece.</p>
            <p>Recuerda revisar la carpeta de correos filtrados.</p>
            <p>Si no has recibido el correo, presiona el siguiente bot&oacute;n:</p>
            <a class="btn btn-default btn-orange loading" data-loading-text="Cargando..." data-complete-text="El correo fue enviado" onclick="javascript:sendConfirmationEmail($(this))">Reenviar correo de confirmaci&oacute;n</a>
        </div>
    </div>
    <div class="row" id="msgEnviado" style="display:none">
        <div class="row-fluid block-Intro-green" id="">
            <div class="container">
                <div class="col-sm-3 col-md-2">
                    <div class="boxIntro-Heading"><img src="/img/check-in.png"></div>
                </div>
                <div class="col-sm-8 col-md-9 col-xs-12 up-Intro">El mensaje fue reenviado<br>exitosamente</div>
            </div>
        </div>

    </div>
    <br /><br />
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
<!--
function sendConfirmationEmail(event) {
	var $btn = event;
    $btn.button('loading');
	$.ajax({
        url: "/api/public/v1/sends/confirmations/emails",
        type: 'POST',
        data: {id: {{ id }}},
        success: function(data) {
            $btn.button('complete');
            $("#msgSinVerificar1").hide();
            $("#msgSinVerificar2").hide();
            $("#msgEnviado").show();
        }
    });
}
//-->
</script>
{% endblock javascripts %}