{% extends "::base.html.twig" %}
{% block fos_user_content %}

	<div class="row">
		

		<div class="col-sm-12 col-xs-12 align-Resp">
	        <a href="/welcome" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" id="">
	            <div class="col-md-12 col-xs-12 txt-AD1" id="">
	                <div class="text-center" id="">
	                    ¡Bienvenido a Symplifica!
	                </div>
	            </div>
	        </a>
	    </div>


	</div>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
			<br /><br />
			<h4 style="font-weight: lighter;">
				Para brindarte la mejor asesoría en el manejo de tus empleados necesitamos hacerte unas preguntas
			</h4>
			<br />
			<h4>
				<strong>Selecciona todos los puntos con los cuales te sientes identificado</strong>
			</h4>
		</div>
	</div>

	<div class="col-sm-12">
		<div class="col-sm-8 col-sm-offset-2"> 
			<form action="">	
			<ul class="list-group">
			
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Tengo un contrato vigente con mi empleado en el cuál yo soy el empleador y no a través de una empresa</label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Tengo afiliado a mi empleado a todas las entidades de seguridad social (EPS, ARL,Fondo de pensiones y Caja de Compensación) </label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">He pagado los aportes a seguridad social desde el inicio de la relación laboral</label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Mi empleado recibe un sueldo igual o superior al salario mínimo legal vigente (diario o mensual según aplique)</label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Le he otorgado y pagado los días de vacaciones de acuerdo a ley </label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Todos los años le he depositado las cesantías de mi empleado en un fondo de cesantías </label>
			    </div></li>
			    <li class="list-group-item"><div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Le he entregado los intereses sobre las cesantías todos los años</label>
			    </div></li>
			    <!--
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">No entiendo muchas cosas de las que me están preguntando acá</label>
			    </div>-->
			</ul>
			</form>
			<br />
    		<div class="col-sm-12"> 
				<div class="col-sm-6" style="text-align: right;">
					<a class="btn btnPrevious notAjax" href="/welcome">Anterior</a>
				</div>
				<div class="col-sm-6">
					<span class="btn btn-orange notAjax" href="" onclick="done()">Continuar</span>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script>
	var flag = true;
	function validate() {
	    var legal = document.forms[0];	    
	    var i;
	    for (i = 0; i < legal.length; i++) {
	        if (!legal[i].checked) {
	            flag = false;
	        }
	    }
	}
	function done(){
		validate();
		if (flag) {
			document.location.href = '/change-flag';
			clearForm();
		}else{
			document.location.href = '/legal-assist';
		}
	}
	function clearForm(){
		var legal = document.forms[0];
		legal.reset();
	}
	</script>
{% endblock %}