{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {# 	{% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}#}
    {% block stylesheets %}
        <style>

           .list-group-item {
                padding:0 15px !important;
           }
           .checkbox{
            margin-top: 5px !important;
           }
           .list-group-item:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                padding-top: 10px !important;
            }
            .list-group-item:last-child {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding-bottom: 10px !important;
            }
        </style>
    {% endblock %}


    <div class="col-sm-12">
        <hr/>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            {# 			<h4 style="font-weight: lighter;">#}
            {# 				Para brindarte la mejor asesoría en el manejo de tus empleados necesitamos hacerte unas preguntas#}
            {# 			</h4>#}
            <h4 style="font-size: 22px;font-size: 22px;font-weight: 800;color: #1fcecb;">Antes de empezar</h4>
            <p style="    color: #8a8a8a;font-size: 17px;font-weight: 100;">Para asesorarte mejor, queremos conocer la situación actual con tu empleado</p>
        </div>
    </div>
    <br/>
    <div class="col-sm-12">
        <div class="col-sm-10 col-sm-offset-1 employeeResponsabilities">
            <form action="">
                <ul class="list-group">
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Tengo un contrato vigente con mi empleado en el cuál yo soy el empleador y no a través de una empresa</label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Tengo afiliado a mi empleado a todas las entidades de seguridad social (EPS, ARL,Fondo de pensiones y Caja de Compensación) </label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">He pagado los aportes a seguridad social desde el inicio de la relación laboral</label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Mi empleado recibe un sueldo igual o superior al salario mínimo legal vigente (diario o mensual según aplique)</label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Le he otorgado y pagado los días de vacaciones de acuerdo a ley </label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Todos los años le he depositado las cesantías de mi empleado en un fondo de cesantías </label>#}
                    {# 			    </div></li>#}
                    {# 			    <li class="list-group-item"><div class="checkbox">#}
                    {# 			      <label><input name="legal-status" type="checkbox" value="">Le he entregado los intereses sobre las cesantías todos los años</label>#}
                    {# 			    </div></li>#}
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op1" name="legal-status" type="checkbox" value=""/>El empleador es una persona natural.</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op2" name="legal-status" type="checkbox" value=""/>El empleado está afiliado a las entidades de seguridad social.</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op3" name="legal-status" type="checkbox" value=""/>Mi empleado trabaja por días y lo tenemos afiliado a seguridad
                              social con el salario mínimo entre varios empleadores.</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op4" name="legal-status" type="checkbox" value=""/>Yo estoy registrado como su empleador en las entidades de seguridad social.</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op5" name="legal-status" type="checkbox" value=""/>Estoy al día en el pago de la seguridad social de mi empleado.</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label><input id="op6" name="legal-status" type="checkbox" value=""/>Tengo un contrato firmado con mi empleado.</label>
                        </div>
                    </li>

                    <!--

                <li class="list-group-item"><div class="checkbox">
                  <label><input name="legal-status" type="checkbox" value="" />No conozco uno, varios o ninguno de los aspectos antes mencionados</label>
                </div></li>

                <div class="checkbox">
                  <label><input name="legal-status" type="checkbox" value="">No entiendo muchas cosas de las que me están preguntando acá</label>
                </div>-->
                </ul>
            </form>
            <div class="botones-options">
              <div class="btn btn-orange" onclick="evaluateOptions()">Evaluar</div>
            </div>
            <div id="cont-opciones-casos">
              <!--caso 1 -->
                <div id="caso1" class="casos">
                    <div class="casohead">
                        <strong>Te recomendamos continuar con la relación laboral que tienes vigente</strong>
                        <p>Symplifica asume que has cumplido con todas tus responsabilidades en el pasado y no tienes pendientes con tu empleado
                        (pago de cesantías, vacaciones, dotación, etc.)</p>
                    </div>

                    <div class="casotittlehead">
                        <span>De hoy en adelante te ayudaremos a cumplir con las obligaciones de ley con tu empleado</span>
                        <p>Para empezar a administrar a tu empleado necesitamos que tengas listos los siguientes datos:</p>
                    </div>
                    <div class="optionsul">
                        <p>Fecha de inicio del contrato (verbal o escrito) vigente:</p><br>
                        <ul>
                            <li>Symplifica tomará esta fecha como la fecha de inicio de la relación laboral.</li>
                            <li>Usaremos esta fecha para hacer cálculos de indemnizaciones en caso de una terminación del contrato.</li>
                            <li>Esta fecha no debería ser anterior a la fecha en la que se afilió al empleado en la seguridad social.</li>
                        </ul>
                        <p>Días de vacaciones pendientes: </p><br>
                        <ul>
                            <li>Esto es cuántos días de vacaciones le debes a la fecha a tu empleado o cuántos días de vacaciones te
                              debe él a tí por haberse tomado más días de los debidos.</li>
                            <li>Al dato que nos proveas le empezaremos a sumar los días que acumule de ahora en adelante.</li>
                        </ul>
                    </div>
                    <p>En el pasado pudiste haber omitido responsabilidades importantes con tu empleado, las cuáles te recomendamos resolver.
                      Al ser usuario de Symplifica tendrás acceso a unas tarifas preferenciales con nuestros aliados ALVAREZ LIEVANO LASERNA
                      para recibir consejo jurídico y evaluar la forma de solucionar contingencias laborales.</p><br><br>
                       <i>*Al dar continuar entiendo que Symplifica no es responsable por las obligaciones que pudiera haber omitido con mi
                         empleado en el pasado y que estoy continuando bajo mi responsabilidad.<br><br>
                        No estoy seguro de entender mi situación actual y las implicaciones y quisiera consultar un abogado con una tarifa preferencial.</i>
                         <br><br>
                    <div class="botones-options">
                      <div id="continuarContratoNext" class="btn btn-orange">Aceptar y continuar</div>
                      <div id="continuarContratoConsultaLegal" class="btn btn-orange">Consulta legal</div>
                    </div>
                </div>
                <!--caso 2 -->
                  <div id="caso2" class="casos">
                      <div class="casohead">
                          <strong>De acuerdo con tu situación</strong>
                          <p>Te recomendamos formalizar tu relación laboral y firmar un nuevo contrato con tu empleado.<br><br>
                            Symplifica te ayuda a generar este contrato una vez te hayas registrado y hayamos validado tu información para afiliarte<br>
  Symplifica te afiliará a ti y a tu empleado ante las entidades de seguridad social</p>
                      </div>

                      <div class="casotittlehead">
                          <span>Es importante que tengas presente la siguiente información:</span>
                      </div>
                      <div class="optionsul">
                          <ul>
                              <li>Firmar un contrato nuevo no te exime de las responsabilidades adquiridas como empleadoren el pasado, es sólo una forma
                                de marcar un nuevo inicio en la relación laboral.</li>
                              <li>Tu empleado debe estar de acuerdo con el nuevo contrato y firmarlo.</li>
                              <li>Symplifica asume que este empleado es nuevo y que no existen obligaciones pasadas como empleador.</li>
                              <li>En caso de requerir calcular indeminizaciones por terminación del contrato sin justa causa, Symplifica usará la fecha
                                de inicio del contrato reportada para calcular la antigüedad.</li>
                              <li>Las obligaciones y responsabilidades omitidas en el pasado (e.g. pago de cesantías, vacaciones, dotación, aportes a
                                seguridad social) deben ser cerradas para no dejar pendientes con tu empleado. Al ser usuario de Symplifica tendrás acceso
                                a unas tarifas preferenciales con nuestros aliados ALVAREZ LIEVANO LASERNA para recibir consejo jurídico y evaluar la
                                forma de solucionar contingencias laborales.</li>
                          </ul>
                      </div>

                      <i>*Al dar continuar entiendo que Symplifica no es responsable por las obligaciones que pudiera haber omitido con mi empleado en
                        el pasado y que estoy continuando bajo mi responsabilidad entendiendo las implicaciones.<br><br>
                       No estoy seguro de entender mi situación actual y las implicaciones y quisiera consultar un abogado con una tarifa preferencial.</i>
                       <br><br>
                      <div class="botones-options">
                          <div id="nuevoContratoNext" class="btn btn-orange">Aceptar y continuar</div>
                          <div id="nuevoContratoConsultaLegal" class="btn btn-orange">Consulta legal</div>
                      </div>
                  </div>
                  <!--caso 3 -->
                    <div id="caso3" class="casos">
                        <div class="casohead">
                            <strong>De acuerdo con tu situación</strong>
                            <p>Symplifica te recomienda tomar una sesión de consultoría legal con un abogado experto.</p>
                        </div>

                        <div class="casoabogado">
                          <p>Tu caso es especial y te recomendamos que <strong>antes de empezar a usar Symplifica tomes una sesión de
                            consultoría legal con un abogado experto para entender mejor tu situación.</strong> Una vez lo soluciones te
                            ayudaremos a empezar a usar Symplifica.</p>
                        </div>
                        <div class="botones-options">
                            <div id="abogadoModal" class="btn btn-orange">Aceptar y continuar</div>
                            <div id="salirAbogadoModal" class="btn btn-orange">Salir</div>
                        </div>
                    </div>
            </div>
            <br/>
            <!--<div class="col-sm-12">
                <div class="col-sm-6" style="text-align: right;">
                    <a class="btn btn-grey  notAjax" href="/welcome">Volver atrás</a>
                </div>
                <div class="col-sm-6">
                    <span class="btn btn-orange notAjax" href="" onclick="done()">Validar situación actual</span>
                </div>
            </div>-->
        </div>
    </div>
    <div class="col-sm-12">
        <br /><br />
    </div>
    <div class="row center">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 remember" style="opacity: 0.7; border: 2px;">
            <h4 onclick="$(this).next().slideToggle()" style="font-size: 14px;cursor: pointer" class=""><i
                        class="glyphicon glyphicon-exclamation-sign"></i> ¿Cuál es la importancia de saber esto?</h4>
            <span style="color:#666; font-weight:300; display:none; font-size: 14px;" id="textPorque">Si una, varias, o todas las responsabilidades que tiene con su empleado son evadidas requiere un manejo legal para subsanarlo.</span>
        </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
	{{ parent() }}
	<script>
  	$.getScript("{{ asset('/public/js/legal_status.js') }}").done(function () {
  			prepareLegal();
  	});
	</script>
{% endblock %}
