{% extends "::base.html.twig" %}
{% block fos_user_content %}
	<div class="col-sm-12">
		<div class="col-sm-8 col-sm-offset-2"> 
			<form action="">
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 1</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 2</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 3</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 4</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 5</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 6</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 7</label>
			    </div>
			    <div class="checkbox">
			      <label><input name="legal-status" type="checkbox" value="">Option 8</label>
			    </div>
			</form>
    		<div class="col-sm-12"> 
				<div class="col-sm-6" style="text-align: right;">
					<span class="btn btn-orange notAjax" href="/welcome">Anterior</span>
				</div>
				<div class="col-sm-6">
					<span class="btn btn-orange notAjax" href="" onclick="done()">Continuar</span>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script>
	var flag = true;
	function validate() {
	    var legal = document.forms[0];	    
	    var i;
	    for (i = 0; i < legal.length; i++) {
	        if (!legal[i].checked) {
	            flag = false;
	        }
	    }
	}
	function done(){
		validate();
		if (flag) {
			document.location.href = '/register/edit';
			clearForm();
		}else{
			document.location.href = '/legal-assist';
		}
	}
	function clearForm(){
		var legal = document.forms[0];
		legal.reset();
	}
	</script>
{% endblock %}