{% extends '::base.html.twig' %}

{% block modalReminder %}
    <div id="mimoda" class="moda" style="display: block">

        <!-- Modal content -->
        <div class="modal-conten">
            <div class="moda-header">
                <span class="close">×</span>
                <h2>Debes tener en cuenta los siguientes documentos</h2>
            </div>
            <div class="moda-body">
                <ul>
                    <li><span>Para el empleador</span></li>
                    <li>&#8227; Copia del documento de identidad</li>
                    <li>&#8227; Copia del RUT</li>
                    <li>&#8227; Datos de contacto (nombre, teléfono, diracción, estado civil)</li>
                    <li>&#8227; Entidades de seguridad social seleccionadas (ARL y caja de compensación)</li>
                    <li>&#8227; Datos de cuenta bancaria para pago de nómina y aportes (banco, tipo de cuenta, número de cuenta)</li>
                    <li></li>
                    <li><span>Para el empleado</span></li>
                    <li>&#8227; Copia del documento de identidad</li>
                    <li>&#8227; Datos de básicos (nombre, teléfono, diracción, estado civil)</li>
                    <li>&#8227; Datos del contrato (sueldo, fecha de ingreso, tipo de empleado, días que labora)</li>
                    <li>&#8227; Entidades de seguridad social seleccionadas (EPS y fondo de pensiones)</li>
                    <li>&#8227; {{ url }}</li>
                </ul>
            </div>
            <div class="moda-footer">

                <!--<div</div> div label-->
                <!--<div</div> div input-->
                <!--<div</div> div submit-->

            </div>
        </div>

    </div>
{% endblock %}
