<div class="row">
    <div class="col-sm-12 col-xs-12 align-Resp">
{#          <a href="/welcome" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" id="">#}
        <div class="col-sm-12 col-xs-12 blockStep inline">
            <div class="col-md-12 col-xs-12 txt-AD1" id="">
                <div class="text-center" id="">
                    ¡Bienvenido a Symplifica!
                </div>
            </div>
        </div>
{#          </a>#}
    </div>
</div>