<div class="row">
  <div class="col-md-12 azulclaro cabezoteBase">
    <div class="textoBienve light">
      <h3 class="light">¡Bienvenido a Symplifica!</h3>
      Antes de que inicies con el registro de tus empleados, necesitamos saber como está la situación laboral con tu empleado.
    </div>
  </div>
</div>
