<td bgcolor="#424C59" style="font-size: 0; line-height: 0; padding: 0 10px;" height="80" align="center" class="responsive-image">
    <img src="https://symplifica.com/public/img/mail/logo-email.png" alt="symplifica" />
</td>