{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Tests Analytics {% endautoescape %}{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <title>Responsive email</title>

  <style type="text/css">
		body{
			margin:10px 0;
			padding:0 10px;
			background:#FFF;
			font-size:13px;
		}
		table{
			border-collapse:collapse;
		}
		td{
			font-family:arial, sans-serif;
			color:#333333;
		}
	@media only screen and (max-width: 580px){
		body,table,td,p,a,li,blockquote{
			-webkit-text-size-adjust:none !important;
		}

}	@media only screen and (max-width: 580px){
		table{
			width:100% !important;
		}

}	@media only screen and (max-width: 580px){
		.responsive-image img{
			height:auto !important;
			max-width:50% !important;
			width:50% !important;
		}

}</style></head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" align="center" width="640" bgcolor="#FFFFFF">
            <tr>
                <td style="padding:0 0 0 35px;font-size: 0; line-height: 0;" height="80" align="left" class="responsive-image">
                    <img src="https://symplifica.com/img/logo.png" alt="Symplifica">
                </td>
            </tr>
            <tr>
                <td style="text-align:center">
                    <img src="https://gallery.mailchimp.com/e15926228d81ba02e96cae9bc/images/0bb6d6e4-4954-4246-8d7f-6249b91d12d4.png" width="90%">
                </td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
            <tr>
                <td>
                    <div style="text-align:center;font-size:15px;width: 90%;margin: 0 auto 5px auto;color: #70b1b4;font-family: 'Open Sans', sans-serif;padding: 10px 20px; box-sizing: border-box">
                        <strong>En Symplifica es nuestro deber apoyar a los colombianos a formalizar la relación laboral con los empleados del hogar</strong>
                        <br>
                        <br>
                        Te invitamos a conocer más de nosotros y así evitar posibles riesgos de los que podrías salir con un par de clics:
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px 10px 20px 10px;">
                    <div style="font-size:15px;width: 80%;margin: 0 auto 5px auto;color: #5D5D5D;font-family: 'Open Sans', sans-serif;font-weight: 100;border-radius: 5px;background: #f1f1f1;padding: 10px 20px; box-sizing: border-box">
                        <strong>Posibles riesgos al no formalizar:</strong><br><br>
                        &#10122; Demanda laboral por mala gestión.<br>
                        &#10123; Multas al incumplir la ley.<br>
                        &#10123; Privar a tu empleado de beneficios.<br>
                        &#10123; Pérdida de tiempo en trámites y pagos a abogados.<br>
                    </div>
                </td>
            </tr>
            <tr style="text-align:center;">
                <td>
                    <div style="font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #858688; width: 70%; margin: 0 auto">
                        <a href="https://symplifica.com/register/?utm_source=Email&utm_campaign=PRUEBA&utm_medium=email" style="text-decoration:none" target="_blank">
                            <span style="padding: 5px 0;width:auto;margin: 10px auto 0;display:block;border-radius:25px;background:#13878e;color:#FFF">Descubre Symplifica</span>
                        </a>
                    </div>
                    <br>
                </td>
            </tr>

            <tr><td><hr></td></tr><!--lineas division-->

            <tr>
                <td style="text-align:center">
                    <img src="https://gallery.mailchimp.com/e15926228d81ba02e96cae9bc/images/2d14d5d2-74b6-4e04-a391-3269cb4e9ad5.png" width="90%">
                </td>
            </tr>
            <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr>
            <tr>
                <td>
                    <div style="text-align:center;font-size:15px;width: 90%;margin: 0 auto 5px auto;color: #70b1b4;font-family: 'Open Sans', sans-serif;padding: 10px 20px; box-sizing: border-box">
                        <strong>¿Por qué podría perder su vivienda, al pagar mal las prestaciones de su servicio doméstico?</strong>
                        <br>
                        <br>
                        Según cifras del Ministerio de Trabajo el 86% de los empleados domésticos no están formales.
                        Esto siendo una alerta para los pequeños empleadores que podrían estar en riesgo.
                    </div>
                </td>
            </tr>
            <tr style="text-align:center;">
                <td>
                    <div style="font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #858688; width: 70%; margin: 0 auto">
                        <a href="http://snip.ly/2zrey" style="text-decoration:none" target="_blank">
                            <span style="padding: 5px 0;width:auto;margin: 10px auto 0;display:block;border-radius:25px;background:#13878e;color:#FFF">Leer más</span>
                        </a>
                    </div>
                    <br>
                </td>
            </tr>

            <tr><td><hr></td></tr><!--lineas division-->

            <tr style="text-align:center;">
                <td>
                    <div style="font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #858688; width: 70%; margin: 0 auto">
                        Si quieres estar seguro de que todo está bien con tu relación actual o quieres formalizar a tus empleados domésticos, te asesoramos sin costo.
                        <br>
                        <br>

                        <strong>Llámanos al 350 833 0000</strong>

                                            </div>
                </td>
            </tr>
            <tr style="text-align:center;">
                <td>
                    <div style="font-size: 17px; font-family: 'Open Sans', sans-serif; font-weight: 300; color: #858688; width: 70%; margin: 0 auto">
                        <a href="https://symplifica.com/register/?utm_source=Email&utm_campaign=PRUEBA&utm_medium=email" style="text-decoration:none" target="_blank">
                            <span style="padding: 5px 0;width:auto;margin: 10px auto 0;display:block;border-radius:25px;background:#13878e;color:#FFF">Completar tu registro ahora</span>
                        </a>
                    </div>
                    <br>
                </td>
            </tr>
                        <br>
                        <br>
                        <!--<span style="font-size:12px">Posible texto legal</span>-->

                    <br>
                </table></td>
            </tr>
          </table>



  </body>
</html>
{% endblock %}