<!DOCTYPE html>
<html>
<head>
<style>
body {
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
<p><strong>Bogot&aacute; D&iacute;a – mes – a&ntilde;o</strong><br />
<em>Se&ntilde;or(a)</em><br />
<em> -- NOMBRE DE LA EMPRESA -- </em><br />
<em>Asunto: Renuncia irrevocable</em><br />
<p style="text-align: justify;">
Por medio de la presente yo -- NOMBRE DEL TRABAJADOR -- identificado con documento de identidad n&uacute;mero
XXXXXXXXX, manifiesto mi deseo de renuncia irrevocable al cargo de
XXXXXXXXXXXX el cual ven&iacute;a realizando en la empresa (persona Natural XXXXXXXXX) con
NIT/CC XXXXXXXXXX. Cumpliendo as&iacute; mis labores hasta el d&iacute;a XX mes XX año XXXX.
Agradezco la oportunidad brindada.</p>
<p>Cordialmente,</p>
<p><em>FIRMA</em></p>
<p><em>-- NOMBRE DEL TRABAJADOR --</em><br />
<strong>-- CEDULA --</strong></p>
<hr />
</body>
</html>