<!DOCTYPE html>
<html>
<head>
<style>
body {
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
<p><strong>Bogotá, 03 de Noviembre del 2015</strong><br />
<em>Se&ntilde;or(a)</em><br />
<em> -- NOMBRE DE TRABAJOR -- </em><br />
<em>C.C 53098973</em><br />
<em>REF: ACEPTACION DE RENUNCIA</em><br />
<em>Asunto: Renuncia irrevocable</em><br />
<p style="text-align: justify;">
<em>Apreciado Trabajador</em>
Cordialmente me permito comunicarle que su carta de renuncia ha sido aceptada, por lo
tanto, su contrato de trabajo finaliza el día XX de XXXXXXX del XXXX (la misma fecha de
retiro de la carta de renuncia del trabajador)
Adicional queremos informarle que usted cuenta con 5 días hábiles para realizarse el
examen médico de egreso, dicha autorización deberá ser solicitada a su jefe directo.
Agradecemos los servicios prestados y le deseamos éxitos en sus actividades futuras.</p>
<p>Atentamente,</p>
<p><em>FIRMA</em></p>
<p><em>-- NOMBRE DEL EMPLEADOR --</em><br />
<strong>-- CEDULA --</strong></p>
<hr />
</body>
</html>