<div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
    <div id="" class="col-sm-12 col-xs-12 blockStep inline">
        <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
            <img src="/img/block-complete.png" class="center-block">
        </div>
        <div id="" class="col-md-10 col-xs-12 txt-AD1">
            <div id="" class="text-left">
                <strong>Liquidación final</strong><br /><span style="font-weight: 200; font-size: 24px;">del empleado</span>
            </div>
        </div>
    </div>
</div>