.grisclarofont  {color: #87868A}
.naranjafont  {color: #FD9224}
.azuloscurofont {color: #3c4b5a}
.azulmediofont {color: #00838c}
.azulclarofont {color: #00cccb}

.fondo-section {background: #f7f7f7; padding-bottom: 50px;}

.naranja {background: #FD9224}
.azuloscuro {background: #3c4b5a}
.azulmedio {background: #00838c}
.azulclaro {background: #33d7d6} /*00cccb*/

.light-italic {font-family: 'Open Sans', sans-serif;font-weight: 300;font-style:italic}
.light {font-family: 'Open Sans', sans-serif;font-weight: 300}
.semi-italic {font-family: 'Open Sans', sans-serif;font-weight: 600;font-style:italic}
.bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
.extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}

#cont-payment {
    clear: both;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.datadesc {
      padding: 15px 0 15px;
      background: #f7f7f8;
      height: auto;
      overflow: hidden;
}
.datadesc p {
  margin: 0;
  color: #868482;
}
.h2 {
  font-size: 13px !important;
    font-weight: 600 !important;
    color: #5D5D5D;
    margin: 0 0;
    border-bottom: none !important;
    padding-bottom: 0 !important;
}
.border1 {
  border-radius: 5px;
  border: 1px dashed #CCC;
  margin: 10px;
  padding: 10px;
}
.title-span {
  background: #F5F5F5;
  padding: 10px 0;
}
.borderclass {
  border-radius: 5px;
  height: auto;
  overflow: hidden;
  margin-bottom: 25px;
}
.novelspan {padding: 10px 0}
.pagoforma {
  padding: 0 15px;
}
.numerodias {
  background: #c4c4c4;
  padding: 10px 15px;
}
.diasMes {
    display: inline;
    background: #FFF;
    padding: 0 15px;
    border-radius: 5px;
    color: #00858c;
    font-weight: 600;
}
.editarDias {
   display: inline;
   background: #6b6b6b ;
   border-radius: 5px;
   padding: 2px 10px;
   color: #FFF !important;
   font-weight: 100 !important;
   font-size: 15px;
}
.tittle-pay {
  padding: 10px 0 0 0;
  height: auto;
  overflow: hidden;
  color: #797979;
  font-size: 17px
}
.moraNomina {
  background: #fd5c5c;
  color: #FFF;
}
.moraNominaBorder {
  border-left: 5px solid #fd5c5c;
}
.nominaBorder {
  border-left: 5px solid #dbdbdb;
}
.aportesBorder {
  border-left: 5px solid #4c4c4c;
}
.nominaBack {
  background: #dbdbdb;
}

.tittle-pay-aportes {
  background: #4c4c4c;
  padding: 10px 0 0 0;
  height: auto;
  overflow: hidden;
  color: #FFF;
  font-size: 17px
}

.tittle-pay ul {
  list-style-type: none
}
.right {
  float: left;
  text-align: right;
  width: 50%;
}
.left {
  float: left;
  width: 50%
}

.height {
  height: auto;
  overflow: hidden;
}

.borderight {
  border-right: 1px #CCC solid
}

.span {
  padding: 10px 0 0 10px
}
.precio-pay {
    padding: 10px 15px;
    font-size: 25px;
    color: #3C4B5A;
}
.center {
  text-align: center;
}
.pila-empl {
  padding: 10px 0 0px 15px;
  text-align: left;
}
.pila-empl ul {
  list-style-type: none;
  padding: 0
}
.aportesFecha {
  background: #e44e4e;
  color: #FFF;
  padding: 5px 20px;
}
.deuda {
    margin: 20px 0 15px 0;
    padding: 15px 0 0 0;
    font-size: 20px
}

.importante {
    margin: 10px;
    padding: 10px;
    border: #e8e8e8 dashed 1px;
    border-radius: 5px;
}

@media only screen and (max-width: 990px) {
  .col3 {margin-top: 15px;}
}
@media only screen and (max-width: 758px) {
.col-xs-6 { border-top: #CCC 1px solid;padding: 6px 15px 0;margin: 15px 0;}
}
@media only screen and (max-width: 490px) {
  .right {
    width: 100%;
    float: none;
    text-align: left;
  }
  .left {
    width: 100%;
    float: none;
  }
}
