@import "index.css";@import "nosotros.css";@import "preguntas.css";@import "precio.css";@import "contacto.css";@import "producto.css";@import "express.css";@import "grid.css";@import "flexslider.css";@import "registro.css";body,html{min-height:100%}body{font-family:'Open Sans',sans-serif;padding:0}.bold{font-weight:700}.light{font-weight:300}.btn.btn-registro{display:inline;width:100%;background-color:#FF9421;border-radius:15px;color:#fff;border:0}.btn.btn-registro:hover{box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}.btn.btn-registro.big{font-size:18px}.btn.btn-symplifica{text-transform:capitalize;background-color:#FF9421;box-shadow:0 2px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);outline:0;color:#fff;font-weight:700}.btn.btn-symplifica:active{opacity:.7;box-shadow:0 8px rgba(0,0,0,.2);outline:0;color:#fff}.btn.btn-symplifica:hover{color:#fff;outline:0;background-color:#FF9421;box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}.btn.btn-symplifica:focus{color:#fff;outline:0!important}.btn.btn-symplifica.disabled{opacity:1;background-color:#df8728;color:#efc394}nav.navbar{top:0;border:0;margin-bottom:0;min-height:40px; position:fixed;width:100%; z-index:1; box-shadow: 0 0px 10px #525252;}nav #topbar{font-size:14px;background-color:#EDEEF0;height:40px;line-height:40px}@media (max-width:991px){nav #topbar{font-size:12px}}@media (max-width:414px){nav #topbar {font-size:8px}} nav #topbar a{color:#9A999E;font-weight:700;font-size:14px}nav #topbar #navbar{position:relative;z-index:101}nav #topbar #navbar #slideLogin{display:none; line-height:30px;overflow:hidden;text-align:left;position:absolute;right:0;top:calc(100% - 1px);padding:15px 20px;background-color:#EDEEF0;transition:max-height .15s ease-out,opacity .25s ease-out;border:none;box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}nav #topbar #navbar #slideLogin.active{padding-top:20px;max-height:500px;}nav #menubar{background:#FFF}nav #menubar button{margin:0;padding:0}nav #menubar button.navbar-toggle .icon-bar{background-color:#333}@media (max-width:991px){nav #menubar .menu{padding:0;margin:20px 0}}@media (min-width:992px){nav #menubar .menu{border-left:1px solid #333;border-right:1px solid #333}}nav #menubar .menu ul{padding:0;margin:5px 0}nav #menubar .menu ul li{text-transform:uppercase;display:block;margin-right:30px}@media (min-width:992px){nav #menubar .menu ul li{float:left}}nav #menubar .menu ul li a{color:#333}footer{background-color:red;background-color:#424C5A;width:100%;padding-top:30px;padding-bottom:30px;color:#fff}@media (min-width:992px){footer .logo{float:right}footer .col-md-3{border-right:1px solid #fff}}footer .menu ul{padding:0}footer .menu ul li{list-style:none;margin-bottom:15px}footer .menu ul li a{color:#fff;font-size:16px;font-weight:300}footer .disclaimer{margin-top:20px;text-align:center;font-size:12px;font-weight:300}footer .disclaimer p{margin-bottom:0}footer .redes{margin-top:20px}.social-network{display:inline-block;width:23px;height:23px;background-image:url(/img/redes-new.png);margin-left:5px;border-radius:0px}.social-network:hover{box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}.social-network a{display:block;width:100%;height:100%}.social-network.facebook{background-position:-10px 0}.social-network.linkedin{background-position:-39px 0}.social-network.twitter{background-position:-56px 0}.social-network.google-plus{background-position:-97px 0}@media only screen and (max-device-width:360px){#topbar #navbar{text-align:left!important}/*#topbar #navbar .light{display:none}*/}#errorLogin.error{color:red;display:none}.block-Intro-green{background:#3b4b5a;display:block;padding:30px 0;margin:10px 0 25px 0;position:relative;min-height:160px;width:100%}.block-Intro-green .up-Intro{font-family:'Open Sans',sans-serif;color:#fff;font-size:32px;font-weight:700}.block-Intro-green .up-Intro>img{margin-top:-4px}.block-Intro-green .boxIntro-Heading{position:absolute;background:#71cbc9;left:13%;top:30%;text-align:center;width:150px;height:150px;padding:28px 0}.modal-content{width:inherit;height:inherit;margin:0 auto;pointer-events:all;border-radius:11px}.modal-content .close{position:absolute;right:15px;top:15px;z-index:100;color:#fff;opacity:.8!important}.modal-content .close span{font-size:34px}@media (max-width:992px){.modal-content .close{right:5px;top:5px}.modal-content .close span{font-size:20px}}.modal-content .block-Intro-green{height:auto;padding:20px 0;margin:0;border-top-left-radius:10px;border-top-right-radius:10px;min-height:0}.modal-content .block-Intro-green .boxIntro-Heading{top:0;left:0;position:relative;padding:10px 0;height:auto}


#logCont {
  border: 1px dashed #CCC;
  border-radius: 5px;
  padding: 5px 10px;
  background: #f5f5f5;
}

.olvido {
  text-align: center;
    border-bottom: solid #CCC 2px;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    background: #e8e8e8;
}

.padding {
  padding: 5px 0
}

.width {
  text-align:center;
  width:100%
}

@media only screen and (max-width: 800px) {
  body {cursor: pointer}
}
@media only screen and (max-width: 500px) {
  /*hide tel numbers*/
  .tel1 {
    display: none;
  }
  /*end hide tel*/
}
@media only screen and (max-width: 425px) {
  nav #topbar #navbar #slideLogin{right:7px}}
@media only screen and (max-width: 360px) {
  /*hide tel numbers*/
  .tel1 {
    display: inline-block;
  }
  .tel2 {
    display: none;
  }
  /*end hide tel*/
}
