a,h2 {margin: 0;text-decoration: none !important;-webkit-font-smoothing: antialiased !important;}
.refTitle {
  padding: 20px 0 0 15px;
}
.refTitleCont {
    padding-bottom: 10px;
    padding-top: 10px;
}
.referredBoxesCont {
    padding-top: 20px;
    border-top: 1px solid #f1f1f1;
}
.referredBoxes {
  text-align: center;
  padding: 30px 0;
}
.refBorder {
    border-bottom: 1px solid #CCC;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 80%;
}
.referredBoxes .span {display: inline;font-size: 30px}
.noShow {visibility: hidden;}
.noPadding {padding: 0}
.codeShare {padding: 15px 0;text-align: center;color: #FFF}
.codeShare input {background: none; border: 0}
