@import (reference) "bootstrap-variables.less";
@import (reference) "variables.less";


#registrationContainer {    
  background: url(/img/registrationBackground.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.smallOrangeBox {
    width: 450px;
    margin: 40px auto;

    & label {
        display: none;
    }

    .smallOrangeBoxTitle {
        background-color: @orange;
        height: 60px;
        text-align: center;
        margin: 0;

    }

    .boxImagetitle {
        max-width: 180px;
        margin: 14px 0 0;
    }

    .smallOrangeBoxContent {
        background-color: @whiteBackGround;
        padding: 10px 40px;
        text-align: center;

        & h3 {
            color: @txtGray;
            font-size: 22px;
            font-style: normal;
            font-weight: 100;
        }
        & span {
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
        }
        & .light-text {
            color: @txtGray;
            display: block;
            font-size: 16px;
        }

        & .txt-A1-terms {
            color: @txtGray;
            font-size: 12px;
        }

        & .smallDivider {
            margin: 5px 0;
        }

        & .registrationSocialNetworks {
            margin: 10px 0;
            overflow: hidden;
            width: 100%;
        }
    }

    .smallOrangeBoxNetworks {
        background-color: @whiteBackGround;
    }
}

/* For the Confirmation of the Registration */
#postRegistrationContainer {

}

.topBackgroundImage {
  background: url("/img/registrationBackground2.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
  padding: 50px 0;


    & h2 {
        color: @orange;
        font-size: 30px;
    }

    & span {
        color: @txtWhite;
        font-size: 24px;
        font-weight: 100;
    }
}

.mainText {
    text-align: center;
    padding: 40px;

    & h3 {
        font-size: 22px;
        font-style: normal;
        font-weight: 100;
    }

    & span {
        font-size: 16px;
        font-weight: 100;
        display: block;
    }
}

.subText {
    text-align: center;
    background-color: @topmid-color;
    padding: 40px;

    & h3 {
        font-size: 22px;
        font-style: normal;
        font-weight: 100;
    }
}

@media only screen and (max-device-width : 360px) { 
 
.smallOrangeBox {
    width: 100%;
}

}