@topbar-color: #EDEEF0;
@topmid-color: #f7f7f7;
@topbar-height: 40px;
@fuente: 'Open Sans', sans-serif;
@btn-orange-color: #FF9421;
@btn-orange-disabled: #df8728;
@btn-hover: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
@footer-color: #424C5A;
@boxDark: #29292c;
@orange: #e59233;
@blue: #71cbc9; 
@green: #424c5a;
@greenaccordion: #00848b;
@txtWhite: #ffffff;
@txtGray:#B2AFAD;
@txtLightGray:#DBDCDA;
@body: #444242;
@light: 100;
@semibold: 600;
@extrabold: 800;
@btn-more: #47828a;
@linecalcule: #e05f5a;
@txtform: #89878c;
@boxform: #e2e1d9;
@whiteBackGround: #ffffff;
@dark_green: #3b4b5a;
@open: @fuente;
/*  images  */
@images: "../img";
@sprite: "../../img/sprite.png";