{% extends "::base.html.twig" %}
{% block content %}
<table>
	<thead>
		<tr><th>Procedures</th></tr>
	</thead>
	<tbody>
		<tr><td><a href="{{ path('')}}</a></td></tr>
	</tbody>
</table>
{% endblock %}
