{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block fos_user_content %}
    <div id="main">
        <div class="back-panel-title">
            Back Office
        </div>
        <div class="col-md-12" style="display: inline-block">
            <br>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Tramites</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_procedures',{'orderType':'none','order':'ASC'}) }}">Clic para entrar a los tramites</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Empelados Post Registro</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('post_register') }}">Clic para ver empleados post registro</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Pila</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_pilas') }}"> Clic para ver información de las pilas</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Grupos de correo </div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_email_groups') }}"> Clic para ver los grupos de correo</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
