{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Registro Express{% endblock %}

{% block fos_user_content %}
	<div id="main" class="col-sm-15">
		<div class="col-md-12">
			<div class="panel panel-title">
				Registro Express
			</div>
			<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Iniciar Registro</h4>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


