{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Consulta{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                Consulta
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Busqueda</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


