{% extends '@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig' %}

{% block fos_user_content %}
    <div id="main" class="col-sm-10">
        <div class="col-md-12">
            <h3>Los usarios listados a continuación no han terminado el paso 3 de 3</h3>
            <br>
            <table class="table">
                <tr>
                    <th>Usuario</th>
                    <th>Cédula</th>
                    <th>Celular</th>
                    <th>Paso actual</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.personPerson.fullName }}
                        </td>
                        <td>
                            {{ user.personPerson.document }}
                        </td>
                        <td>
                            {% if user.personPerson.phones.count !=0 %}
                                {{ user.personPerson.phones.get(0).phoneNumber }}
                            {% endif %}
                        </td>

                        <td>
                            {% if user.personPerson.employer == NULL %}
                                No ha empezado el paso 1
                            {% elseif user.personPerson.employer.employerHasEmployees.count == 0%}
                                No ha empezado el paso 2
                            {% else %}
                                No ha empezado el paso 3
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}


